[2019-09-25 20:28] karayu opened #1 "[Bug] Translate Text is too cool!"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2019-09-25 20:31] karayu opened #2 "[FR] Make Translate Text even cooler!"
### [READ] Step 1: Are you in the right place?

Yes

### [REQUIRED] Step 2: Extension name

This feature request is for extension: firestore-translate-text

### What feature would you like to see?
I want Translate Text to get its own mascot! Perhaps an olympics bear?

### How would you use it?

I would make stickers out of the new mascot.

[2019-09-26 05:33] bogdannedelcu opened #3 "Uninstall or change Deployment Location"
Excelent extension the Resize Images, really usefull!

How can I uninstall it or change the location from US to Europe as to be near my storage bucket location?

Best regards,
Bogdan

[2019-09-26 10:24] marvinsxtr opened #4 "[FR] only storing resized image"
### [READ] Step 1: Are you in the right place?
yes

### [REQUIRED] Step 2: Extension name

This feature request is for extension: `storage-resize-images`

### What feature would you like to see?

I would like to only store the resized image.

### How would you use it?

This could be useful for profile pictures, which are never seen in full resolution.

[2019-09-26 13:13] marvinsxtr opened #5 "[BUG] resized images not named properly"
### [READ] Step 1: Are you in the right place?

yes

### [REQUIRED] Step 2: Describe your configuration

- Extension name: `storage-resize-images`

### [REQUIRED] Step 3: Describe the problem

When uploading an image, it is only named `_WIDTHxHEIGHT` without the name.

#### Steps to reproduce:

Upload an image to storage bucket.

##### Expected result

The picture in the thumbnails folder should b

[2019-09-26 13:46] marvinsxtr opened #7 "[BUG] Multiple thumbnails folder creation (critical)"
### [READ] Step 1: Are you in the right place?

yes

### [REQUIRED] Step 2: Describe your configuration

- Extension name:  `storage-resize-images`

### [REQUIRED] Step 3: Describe the problem

When uploading an image to the storage bucket, seemingly infinite `thumbnails` folders are created, which exceeded my quota for `SocketConnectNonbillable` within seconds.

#### Steps to reproduce:

Upload a

[2019-09-26 13:46] rosariopfernandes commented on #3
@bogdannedelcu Unfortunately, that parameter can't be reconfigured after install. I'd suggest you [uninstall](https://firebase.google.com/docs/extensions/manage-installed-extensions#uninstall) and reinstall the extension.

[2019-09-26 14:01] AlexAmin opened #8 "delete-user-data should allow for deleting by value"
### [READ] Step 1: Are you in the right place?
Yes

### [REQUIRED] Step 2: Extension name

This feature request is for extension: **delete-user-data**

### What feature would you like to see?

When setting up delete-user-data, it would be great if we could also delete items by a value. In the friendlymarket codelab for example, we store items in the `forsale`  collection. Each item then contains t

[2019-09-26 16:58] bogdannedelcu commented on #3
The Uninstall button is down bellow the page. Thank you!

[2019-09-26 16:58] #3 closed

[2019-09-26 19:51] Starscream9559 opened #9 "Resize Image too cool!"
OMG I know this is not a BUG or REPORT post but I gotta let the team behind this knows that this extensions works very wonderful. Tried upload a JPG image of 787kB and after a refresh it resize the size to a freaking 13kB! That's a massive reduction of pixel as well as sizes. I wonder what happens if I reupload all my WEBP format.

[2019-09-27 06:29] bogdannedelcu opened #10 "Resize Image: creates recursive resizes also for thumbnails"
I activated the resize extention on my Storage bucket.
I have photos inside a folder in the storage.

When uploading a picture, the extension keeps creating thumb in thumb folders and images

folder has a file named: _200x200.jpg and another folder thumb inside which has the same content.

Extension and bucket are in Europe-West

Thank you,
Bogdan

[2019-09-27 07:02] apps-transround opened #11 "[FR] Add resized image names to original image meta info"
### [REQUIRED] Step 2: Extension name

This feature request is for extension: **\_** (`storage-resize-images`)

### Add resized image names as meta info to the original image

To help discovering if resized images were created for an image add resized image path/name(s) as a meta information to the original image
Will help finding thumbnails without extra queries even with changing configurations.

[2019-09-27 11:07] JonesM87 opened #12 "firestore-bigquery-export - only one collection exported"
### firestore-bigquery-export

Only one collection is exported, no way to sync multiple collections

[2019-09-27 11:30] diginikkari opened #13 "firestore-bigquery-export fs-bq-import-collection import script not found"
### Step 2: Describe your configuration

- Extension name: firestore-bigquery-export

### Step 3: Describe the problem

In the IMPORT_EXISTING_DOCUMENTS.md guide there is guide to run `Run npx @firebaseextensions/fs-bq-import-collection` script. This gives an error:

404 @firebaseextensions/fs-bq-import-collection@latest' is not in the npm registry.

#### Steps to reproduce:

run

`npx @firebaseex

[2019-09-27 12:26] claust opened #14 "[FR] delete-user-data: Delete subcollections"
### [REQUIRED] Step 2: Extension name

This feature request is for extension: `delete-user-data`

### What feature would you like to see?

It would be helpful if the delete-user-data extension could delete all documents in subcollections as well.

### How would you use it?

Often you would have one or more subcollections below a user profile document.
Example: `/users/{UID}/stories` or `/users/{UI

[2019-09-27 13:53] Ehesp commented on #14
Let's open discussion on this one. By default a delete won't delete subcollections, as its not always desired.

We could either do this by default, mention in the docs how to do this (provide explicit additional paths), or implement some wildcard paths.

[2019-09-27 13:58] rosariopfernandes commented on #13
@diginikkari I believe the correct script is `npx @firebaseextensions/firestore-bigquery-change-tracker`. I sent a PR fixing the guide (see #15). Good catch!

[2019-09-27 14:06] rosariopfernandes commented on #14
I vote to make it a default. I mean, if we're deleting all of the user data, it wouldn't make sense to keep subcollections under that UID.

[2019-09-27 16:51] rolandszpond opened #16 "Resize image trigger based on Firestore document"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2019-09-27 17:09] horaciocome1 commented on #14
Yes! It is easy to think it should be default, but it would be cool if there had an optional parameter where one specifies if he fits or not in this common case.

Lets say one has an later function that is trigged when user data is deleted. The main goal of the function is to archive someplace `stories` and `likes`. Perhaps he wants to notify `followers`.
What you guys think of this?

[2019-09-27 18:21] #16 closed

[2019-09-27 18:35] levibn123 opened #17 "firestore-bigquery-export fs-bq-import-collection doesn't allow {widecard} path"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2019-09-28 07:46] samtstern commented on #9
@Starscream9559 glad you're enjoying it!  Thanks for giving extensions a try on Day 1!

[2019-09-28 07:46] #9 closed

[2019-09-28 12:13] digimbyte opened #18 "[BUG] Define custom bucket for extention Resize Image"
### [REQUIRED] Step 2: Describe your configuration
Resize Image, default settings
set Bucket to name of any other bucket that is not your default

Deployment location Description
us-central1
Cloud Storage bucket for images Description
new-second-bucket
Sizes of resized images Description
128x128
Cloud Storage path for resized images (Optional) Description
Parameter not set
Cache-Control header for

[2019-09-28 23:34] kristijandraca opened #19 "[BUG] Mail not synced to MailChimp after linking email credentials"
### [READ] Step 1: Are you in the right place?

Yes.

### [REQUIRED] Step 2: Describe your configuration

- Extension name: auth-mailchimp-sync

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

1. Create anonymous user
2. Link email credential to that user

##### Expected result

An email address from email credential should sync to MailChimp.

##### Actual result

Did not sy

[2019-09-29 06:36] chenlevy commented on #14
I think it would be better to allow users to determine if they want to delete a subcollection.

Using an explicit path:
/users/{UID}/notifications

And in case the UID is saved in a document field:
/notifications(userId=UID)

[2019-09-29 08:25] masashi-sutou commented on #13
@rosariopfernandes I tried `npm install @ firebaseextensions/firestore-bigquery-change-tracker` and the installation was successful, but `npx @ firebaseextensions/firestore-bigquery-change-tracker` cannot find the command.

[2019-09-29 15:00] Ehesp commented on #19
Currently the function only runs on user create, rather than an update. Will have to check whether this is possible via triggers.

[2019-09-29 21:33] rosariopfernandes commented on #13
@masashi-sutou You probably don't have npx installed. As described in this [post](https://stackoverflow.com/a/52018825/5861618), npx is "A tool for executing Node packages.", which means it will run `npm install` behind the scenes before executing the package (in case you don't have that package installed yet).

`npx` comes bundled with `npm` version 5.2+, so I'd recommend updating npm if you wish

[2019-09-30 05:58] claust commented on #14
Having the ability to keep (documents in) subcollections is kind of an advanced feature, and I believe it makes good sense to recursively delete all (documents in) subcollections by default. This is probably by far the most likely need and expectation of the developers, rather than the other.

It should also be a design goal of Firebase Extensions to be really simple to use. So minimizing the need

[2019-09-30 10:03] Ehesp commented on #14
cc @karayu - let me know your thoughts on the above. Another idea is to have a dropdown/select option on setup, which gives developers the option (defaults to non-recursive).

[2019-09-30 10:06] Ehesp commented on #19
Unfortunately this isn't possible at the moment, as the `UserBuilder` for functions only provides `onCreate` and `onDelete` handlers: https://firebase.google.com/docs/reference/functions/functions.auth.UserBuilder

[2019-09-30 10:14] Ehesp commented on #12
Currently a single instance of the extension monitors one collection. To sync multiple collections, you can install the extension multiple times with configuration options specifically for your additional collection.

[2019-09-30 10:23] kristijandraca commented on #19
Ok, but this leaves this plugin pretty much unusable since it won't update email on linking credential, and another big situation, is when the user decides to change his email.

[2019-09-30 10:25] Ehesp commented on #8
This could prove to be a tricky one. Currently on Firestore & RTDB the path created is passed to a `doc`/`ref` and deleted/removed. In order to delete by a value, the database would need to be queried and then delete each match one by one.  This would both increase read/writes on your project and may hit some difficulties when it comes to un-indexed queries.

[2019-09-30 10:46] Salakar commented on #10
Hey @bogdannedelcu 👋 - looks like this is a duplicate of #7 - will reply there. Thanks

[2019-09-30 10:50] Salakar commented on #7
Hey @marvinsxtr, looks like this is [the regex ](https://github.com/firebase/extensions/blob/master/storage-resize-images/functions/src/index.ts#L62) failing here to pickup that it's already a resized image.

I think we can look at removing this regex and instead use a custom metadata field to infer that an image has already been resized.

[2019-09-30 11:49] Salakar commented on #18
Hey @digimbyte 👋 I believe the expected format is `my-project-or-bucket-12345.appspot.com` based on the example in the [extension configuration yaml](https://github.com/firebase/extensions/blob/master/storage-resize-images/extension.yaml#L101)

The example should be showing in the UI as below:
![image](https://user-images.githubusercontent.com/5347038/65875856-0c1c2180-e380-11e9-82e7-4273760739e4.

[2019-09-30 12:36] bogdannedelcu commented on #10
Duplicate. Closing

[2019-09-30 12:36] #10 closed

[2019-09-30 13:15] andreimateiro commented on #14
I believe the most common use-case is to delete user/{UID} and user/{UID}/subcollections by default.

When I first installed the extension, that was the way I thought it will go and found out that it's not.

[2019-09-30 19:47] PVSPHANINDRA commented on #13
@rosariopfernandes npx is working properly with other packages. Seems like there is an issue with the command `npx @firebaseextensions/firestore-bigquery-change-tracker`

[2019-09-30 20:02] xXCalleManXx commented on #13
I get the following output when running the commpand `$npx @firebaseextensions/firestore-bigquery-change-tracker`
`command not found: firestore-bigquery-change-tracker`

[2019-09-30 22:02] rosariopfernandes commented on #13
@PVSPHANINDRA @xXCalleManXx You're right! The `firestore-bigquery-change-tracker` package should expose a `fs-bq-import-collection` command, but after installing the package, that command  is not found. I've also pointed this out [here](https://github.com/firebase/extensions/pull/15#issuecomment-536770560). Let's wait for a Firebaser to comment on it.

[2019-10-01 12:14] karayu commented on #14
Thanks so much for the feedback! I think this is a great feature request and would make this extension much more helpful.  @Ehesp Let's sync directly on how we can make this happen!

[2019-10-01 15:43] JonesM87 commented on #12
Thanks @Ehesp I somehow hadn't seen that you could install multiple instances of the extension

[2019-10-01 15:43] #12 closed

[2019-10-01 18:32] emrebicer opened #20 "[BUG] name of resized image is missing original image name if there was no file type extension"
### [READ] Step 1: Are you in the right place?
Yes
### [REQUIRED] Step 2: Describe your configuration

- Extension name: **\_** (`storage-resize-images`)
- Configuration values (redact info where appropriate):
  -Size:64x64
  -Cloud Storage Path: empty
### [REQUIRED] Step 3: Describe the problem
I just added storage-resize-images extension to my firebase project, it is working as expected when i u

[2019-10-01 20:51] rosariopfernandes commented on #13
The problem was: the script `@firebaseextensions/fs-bq-import-collection` was still marked as private (for Googlers only).

But it has now been made public (see full discussion in #15) :)

Running `npx @firebaseextensions/fs-bq-import-collection` should work just fine now.

[2019-10-01 21:04] Salakar commented on #20
Hey @emrebicer thanks for reporting this issue, will get this looked at.

[2019-10-01 21:08] Salakar commented on #5
Hey @marvinsxtr 👋 thank you for reporting this issue, we'll get this looked at.

I'll close this issue for now as we can track this on the duplicate issue https://github.com/firebase/extensions/issues/20 instead.

[2019-10-01 21:08] #5 closed

[2019-10-01 22:00] laurenzlong commented on #11
Thanks for the feature request!

[2019-10-01 22:02] #2 closed

[2019-10-01 22:02] laurenzlong commented on #2
Closing this, I'm assuming this is a test issue. Although Olympic bear stickers would be cool...

[2019-10-01 22:02] #1 closed

[2019-10-01 22:05] fredzqm commented on #17
Thanks for the feedback. This is not yet supported because we do not yet have a way to translate wild card path into a Firestore query. Wildcard are supported in triggers by default.

A low-hanging fruit might be adding support for collection group in the import script. Will that solve your use case?

[2019-10-02 06:51] diginikkari commented on #13
Yes, confirmed it as fixed.

[2019-10-02 06:51] #13 closed

[2019-10-02 07:13] tommyc38 opened #21 "Documentation Update: Firebase-Counter Deletes Subcollection/Shards Once Aggregated"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2019-10-02 07:50] AlexAmin commented on #8
That is absolutely true. It would cause a large increase in read/writes.

Deleting all user data can be important though.
One example (using the friendlymarket example again) imagine a user having 10 items for sale. If we now delete their user account only, their items will still be on sale. Another user might attempt to buy them and will run into issues because the seller no longer exists.

Anoth

[2019-10-02 07:55] Ehesp commented on #8
Yeah they're fair points, so I totally understand where you're coming from! Let me pick this up with the Firebase team. It will need a bit of planning; off the top of my head I'm not 100% sure that Storage can be queried by file value - it may have to use `list` which is do-able, however could take a long time on a large storage bucket.

[2019-10-02 08:08] AlexAmin commented on #8
Actually for storage we wouldn't have to query so much. We should be keeping references to files in our storage bucket within our database.

In friendlymarket its the `image` field. So in the extension config we could be asking for the name of the field that has the reference to the item in storage. That way we could directly execute the delete.

Files without references could just be attributed t

[2019-10-02 13:07] levibn123 commented on #17
Thanks. I realized this after looking at the code and the way imports were being made. I was able to work around this problem by using CollectionGroup and importing subcollections. For me that was extremely necessary.

[2019-10-02 22:53] jhk115 opened #22 "[BUG] fs-bq-import-collection does not import private collections"
### [READ] Step 1: Are you in the right place?

Yes

### [REQUIRED] Step 2: Describe your configuration

`fs-bq-import-collection` does not import collection that have the following security rule:

[code]

### [REQUIRED] Step 3: Describe the problem

I am trying to import existing documents in a collection that can be read by the currently auth'ed user. However, the import script does not import a

[2019-10-03 06:39] jhk115 commented on #22
The problem was due to our documents having subcollections but no field.

[2019-10-03 06:39] #22 closed

[2019-10-03 09:25] Ehesp commented on #14
Currently working on this feature, however I've hit an issue. To carry out a recursive delete with the `firebase-tools` repository, a user token is required. As the extension runs in isolation, the admin SDK would have to generate this token using a valid UID... However, as the extension is triggered when a user is deleted, the token generated from the UID is invalid causing the recursive delete t

[2019-10-03 10:34] samtstern commented on #14
I believe an Admin SDK token would work, there's an API to generate an
OAuth2 access token from service account credentials.

Sorry I'm on my phone otherwise I'd look up the details.

On Thu, Oct 3, 2019, 1:25 PM Elliot Hesp <notifications@github.com> wrote:

[2019-10-03 13:35] tranceyos2419 commented on #4
I want to have a feature that this extension overwrites existent pictures.

[2019-10-03 14:32] kuuuurt opened #23 "Full-text Search"
### What feature would you like to see?

Full-text Search

### How would you use it?

Currently, we'd have to use Algolia. It's not that hard to implement but having to manage both the data between Firebase and Algolia gives some sort of overhead. Maybe Firebase Extensions can bridge the two?

[2019-10-03 14:49] rosariopfernandes commented on #23
I would really like to see this extension. And I believe it shouldn't be hard to implement, since we already have a [cloud function sample](https://github.com/firebase/functions-samples/tree/master/fulltext-search-firestore) that does it.

[2019-10-03 15:40] codediodeio commented on #7
It looks like this issue is caused when an image file is uploaded without an extension. The `isResizedImage` should be be expanded to check for the extension, or the function should auto-assign an extension if missing.

Here is a test case for the current implementation. In prod, the result is an infinite loop that uploads resized images with an empty filename. This will cause **runaway billing**

[2019-10-03 20:57] tiagooliveira95 opened #24 "Delete User Data not Deleting user data"
**Firestore structure**

test_users  ->  uid1, uid2 ...

users ->  uid3, uid4 ...

**Cloud Firestore Paths**: users/{UID}, test_users/{UID}

**Logs**:
Deleted: ' test_users/uid1' from Cloud Firestore
Deleted: ' users/uid1' from Cloud Firestore

**What happen**: Documents were not deleted

[2019-10-04 10:48] Ehesp commented on #24
Thanks for the report.

Have you re-configured the extension and redeployed at all? Or is this happening straight after a fresh install?

[2019-10-04 11:06] Ehesp commented on #24
I have just noticed you have spaces in your paths. Spaces are valid in collection paths, so you're technically pointing to a valid path.

When setting up your paths, ensure it is: `users/{UID},test_users/{UID}`. I'll bring this up with the team though, as it's confusing!

[2019-10-04 11:06] #24 closed

[2019-10-04 11:15] tiagooliveira95 commented on #24
Oh, ok thank you!

A message warning users to pay attention to spaces between commas would be very useful.

[2019-10-04 11:19] Ehesp commented on #24
I agree - the safest option would be to create an additional extensions field which allows "list" type arguments to be added one by one, without commas. cc @karayu

[2019-10-04 13:36] envyram commented on #11
I think this is a MUST needed feature

[2019-10-04 15:32] emielvanliere commented on #18
I'm trying to setup the extension for a custom bucket in my firebase project.

The default bucket in the Storage explorer is named `myproject.appspot.com`. When I use this in the extension configuration it works fine.

However, I want the extension to run on a different bucket, so I create a new bucket `myproject-avatars` (note that I cannot add `.appspot.com` here). Now the extension config force

[2019-10-04 19:04] Ehesp commented on #14
https://github.com/firebase/extensions/pull/25

I was having IAM issues when uninstalling the extension (issued raised internally) which caused the token issue. All sorted now in the above PR.

[2019-10-05 17:45] bendiknesbo opened #26 "[FR]: firestore-limit-child-nodes"
### [REQUIRED] Step 2: Extension name

This feature request is for extension: **firestore-limit-child-nodes**

### What feature would you like to see?

I would like a `firestore-limit-child-nodes` to be created, just like `rtdb-limit-child-nodes`.

### How would you use it?

Same use-case as for `rtdb-limit-child-nodes`, but for Firestore.

[2019-10-07 08:17] paulrenshaw-tls opened #27 "Resize Images - Firebase Storage Bucket Names Invalid"
Expected behaviour:
Able to enter the name of firebase storage buckets in the extension configuration as they appear in the firebase console.

Actual behaviour:
'Invalid storage bucket' warning in extension configuration for names of storage buckets created in the firebase console. 'Install extension' button is not in a disabled state but does not respond in this scenario.

Further notes:
The fire

[2019-10-07 10:48] urkopineda opened #28 "Counter SDK for backend services like "node.js""
### Extension name

This feature request is for extension: **\firestore-counter**

### What feature would you like to see?

Make the `sharded-counter.js` work not only for the frontend but for backend services like `node.js`. This requirement includes not to depend on requiring / importing `firebase/app` and `firebase/firestore` in the user code, but on the SDK code instead.

### How would you use

[2019-10-07 23:12] rosariopfernandes commented on #27
Sounds like a dupe of #18

[2019-10-08 04:16] danielfein opened #29 "[BUG] Image Resizing caught in infinite loop"
### My issue:

- Extension name: **storageresize-images**
- Configuration values (redact info where appropriate):
 - Defaults for all values except: sizes and cloud storage path
 - Sizes: `50x50,200x200,400x400,800x800`
 - Cloud Storage Path: `images`

### [REQUIRED] Step 3: Describe the problem

A few days ago I tried and the below occurred. I just tried again tonight and I'm facing the same issu

[2019-10-08 07:28] jimmykane commented on #14
Its true. I thought this extension would do a recursive sub-collection delete which is the main pain of deleting user data.

[2019-10-08 07:40] paulrenshaw-tls commented on #27
#18 talks about defining a 'custom' bucket, implying something non-standard. The source for the extension has a regex filter for the bucket name requiring a string of text with a least 2 .s with strings around them i.e.
[code]
which is what is restricting entered values to something like the example value, but also allows anything else with 2 .s in, like a bucket URL such as in the example in the

[2019-10-08 09:08] Salakar commented on #29
Hey @danielfein 👋 thanks for the report. Looks like this is a duplicate of #7 so let's track this there. I have a PR ready to go to fix this which will be up soon.

Thanks

[2019-10-08 09:08] #29 closed

[2019-10-08 09:19] textcolor commented on #18
After some digging I think I found a workaround for the issue.

Configure the extension with a correct bucket URL for a bucket that doesn't exist. (e.g. **ThisDoesNotExist.appspot.com**)

Go to [Google Cloud Console](https://console.cloud.google.com/functions) and pick your project.

You should see something like this:

![img](https://user-images.githubusercontent.com/16177161/66383255-f9779d00-e9

[2019-10-08 17:00] danielfein commented on #29
Thanks @Salakar!

[2019-10-09 11:56] emielvanliere commented on #18
@textcolor That works, thanks!

[2019-10-09 12:05] digimbyte commented on #18
That work around is a great find! i'll pass this on, hopefully the next version doesn't need this.

[2019-10-09 19:00] augustzf opened #33 "firestore-bigquery-export backfilled document_names differ from exported document_names"
### Configuration

- Extension name: firestore-bigquery-export

### The problem

Backfilled data rows in BigQuery receive different `document_name` values than rows inserted into BigQuery by the Firebase extension:

* Backfilled rows (operation = "IMPORT") have `document_name` values in this format: `<collection_name>/<document_id>`
* Exported rows (operation != "IMPORT") have `document_name` valu

[2019-10-10 14:02] envyram opened #34 "firebaseStorageDownloadTokens from object metadata"
### [READ] Step 1: Are you in the right place?

 Yes

### [REQUIRED] Step 2: Extension name

This feature request is for extension: **\_** (`storage-resize-images`)

### What feature would you like to see?

Any object on firebase storage contains firebaseStorageDownloadTokens from object metadata. However this is not available for resized images

### How would you use it?

I use firebaseStorageDow

[2019-10-10 17:27] laurenzlong opened #35 "Fix vulnerability alerts by updating dependencies"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2019-10-10 19:45] augustzf commented on #33
This PR is a suggested fix: https://github.com/firebase/extensions/pull/36

[2019-10-11 07:05] rosariopfernandes commented on #34
@envyram I'm not sure what you mean. Looking at the [StorageMetadata reference](https://firebase.google.com/docs/reference/android/com/google/firebase/storage/StorageMetadata) I don't see any downloadTokens. Can you tell us how do you usually get this metadata? Is it custom metadata?

[2019-10-11 09:22] NLegendre opened #37 "[QUESTION] Using templates with Trigger Email extension"
Hi,

Can you provide and example of how to use templates with Trigger Email extension ?

What I'm not sure about :
- how to format the "template" collection in firestore
- how can I define variables in the template
- is it possible to use logic in template (if, else, loop, ...) (you specified Handlebar so I imagine the answer is yes)
- how to pass variables and template name when creating an email

[2019-10-11 13:48] skupsala commented on #17
That would be great!

[2019-10-11 15:27] envyram commented on #34
@rosariopfernandes

In firebase cloud functions:

exports.thumbnailHandler = functions.storage.object().onFinalize(async (object) => {
   console.log(object.metadata.firebaseStorageDownloadTokens);
}

This is available for all of my other objects in the bucket. But is not available only for the thumbnails created from the extension

[2019-10-11 18:25] laurenzlong commented on #7
Hi @codediodeio what do you mean by "image file is uploaded without an extension"? I want to make sure our fix that is in flight is going to solve this issue, and i'm having trouble reproducing the issue in the first place.

@marvinsxtr can you tell me exactly what your installation parameters are? What did you put for "Cloud Storage path for resized images", and what is the format and name of the

[2019-10-11 21:08] laurenzlong commented on #29
@danielfein What is the name of the image you uploaded? And where did you upload it to? Was it  to the root of the bucket or a subfolder? (I'm trying to test the fix that's in flight)

[2019-10-12 04:19] dfischer opened #38 "firestore-bigquery-export schema type record for data?"
### [REQUIRED] Step 2: Extension name

firestore-bigquery-export

### What feature would you like to see?

When browsing the records I noticed they return the payload in a catchall `data` field. If I want to query on this field as if it were parsed into a record from json what is the best practice here?

### How would you use it?

Use big query more effectively on collection attributes.

[2019-10-12 04:29] andersjr1984 opened #39 "Allow multiple documents for "Trigger Email" extension"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2019-10-13 07:40] edlgg opened #40 "Attach file in email when using trigger email extension."
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2019-10-13 12:23] aq2 opened #41 "Trigger email extension stuck when using Gmail/Gsuite to send emails"
Hi - not sure if this is the right place for support, but here goes...

My emails are stuck in 'PROCESSING' mode

![firebase-mail](https://user-images.githubusercontent.com/13156649/66715502-07ae2a80-edbc-11e9-8578-33a17d781fdd.png)

i'm using gmail to send my mails, using smtp://me@gmail.com:password@smtp.gmail.com:465

what am i doing wrong?

thanks in advance

[2019-10-14 05:52] ItangSanjana commented on #4
Agree. Perhaps by providing some sort of option to save the original image or not.

[2019-10-14 12:29] Ehesp commented on #41
Hi @aq2 - Would you be able to check the Firebase Functions logs to see if any error is occurring?

[2019-10-14 12:30] Ehesp commented on #39
Hi @andersjr1984 at the moment the extension allows only a single collection to be monitored to trigger emails. To add another collection, you can install another instance of the extensions and configure it for a new collection.

[2019-10-14 12:31] Ehesp commented on #40
Thanks we'll raise this internally as a feature request and let you know if/when it will be implemented.

[2019-10-14 12:39] Ehesp commented on #37
Hi @NLegendre - this example may help you: https://github.com/firebase/extensions/blob/master/firestore-send-email/POSTINSTALL.md#using-templates

To summarise:

Create a new document in Firestore for your templates, for example for a template called "Following", create a new document in `templates/following`:

[code]

When adding a new document to your mail collection, pass in a template name wit

[2019-10-14 12:44] NLegendre commented on #37
That's perfect !
Thank you very much !

[2019-10-14 12:55] #37 closed

[2019-10-14 13:53] aq2 commented on #41
okay thanks,

i'm just testing this with a simple button on my website that adds a document to my 'mail' collection

i press the button, see the new doc in the collection, but it stays at 'processing' - no errors shown in 'delivery' field - just says 'null' and 0 attempts

logs don't seem to give any obvious error messages, but it eventually times out

i'm not sure what you want to see...
![fb-log

[2019-10-14 13:58] rosariopfernandes commented on #34
@envyram Thanks for the useful code snippet. I couldn't find this firebaseStorageDownloadTokens anywhere on the docs, and [this post](https://stackoverflow.com/a/56010225/5861618) actually explains why:

Since this is not official, I'm not sure if we should have it on Firebase Extensions, but I'll let the Firebase Team decide.

[2019-10-14 17:18] fredzqm commented on #33
@IanWyszynski Could you update the import script to include `project_name` as well?

[2019-10-14 21:52] dahliasalem opened #43 "Target languages field fails to accept one language"
- Extension name: `firestore-translate-text`
- Configuration values (redact info where appropriate):
  - **Target langs: ar**

#### Steps to reproduce:

1. Use the console or CLI to install the `firestore-translate-text` extension.
2. In the target languages field list only one language for example `ar`

##### Expected result

I except for the target languages field to be able to accept ONE target

[2019-10-14 21:56] dahliasalem commented on #43
Follow up:

It is also possible to input the same language twice:
![image](https://user-images.githubusercontent.com/8892907/66785681-cccaf600-ee92-11e9-95ca-b2440adc1ff6.png)

[2019-10-15 11:32] envyram commented on #34
@rosariopfernandes that's a great discussion. "getDownloadURL() from Node" is what I am looking for actually. Without that the extension on Firebase is not quite useful

[2019-10-15 15:41] codediodeio commented on #7
I mean when you upload a file like `ref('my-image').put(img)`, where the file mime type is an image. Notice the path is missing `.png`.

Setting a metadata property on the results, like `use_resizer: false` is the best solution IMO. It has the added benefit of allowing developers to opt-out of the extension for specific files.

[2019-10-15 17:32] laurenzlong commented on #27
This is indeed a bug, since a valid storage bucket does not need to have any dots in it. For example, I can create a bucket called "my-bucket" on Cloud Console. That would be a valid bucket, but it would fail the regex validation. These are the guidelines for what a valid bucket name is: https://cloud.google.com/storage/docs/naming. It'll probably be too hard to have a regex to checks all of these

[2019-10-15 23:30] rosariopfernandes commented on #43
@dahliasalem Thanks for reporting this. Should be fixed in #46

[2019-10-16 05:17] tbillington opened #47 "Running firestore-bigquery-export deposits private key into document data"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2019-10-16 08:45] rphlmr commented on #41
@aq2 Hello :)
I don't see an "smtpConnectionUri" on your extension's configuration. Is it normal ?

[2019-10-16 08:49] rphlmr opened #48 "Error on cold start firestore-send-email"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2019-10-16 09:03] Ehesp commented on #41
@rphlmr It's omitted as it's a sensitive field.

I'll try this out myself using my own Gmail account as the SMTP provider. My initial thinking is that `node-mailer` is forever trying to connect to the SMTP server and eventually timeout the function.

@aq2 would you be able to try `smtps://` rather than `smtp://`? The Gmail SMTP server requires SSL by the looks of it.

[2019-10-16 09:09] rphlmr commented on #41
@Ehesp oh yes 🤦‍♂️
If it can help @aq2 , I have this config (working):
`smtps://me@mydomain.app:verycomplicatedpassword@my.smpt.provider:465`

[2019-10-16 09:14] rphlmr commented on #38
It would be nice to store only data field :)

For now, I use this query to work with my datas :

[code]

You can store this result in a new dataset but it will produce a lot of duplicated datas.

Here, we call this query everytime we want to refresh our data studio dashboard (I don't know if we could do something better for the moment)

[2019-10-16 09:17] rphlmr commented on #19
In case we store user profiles in a collection (name, mail, uid), is it possible to imagine an option for the "update" trigger of this extension ?

[2019-10-16 09:23] Ehesp commented on #48
Thanks for the report! @laurenzlong would you be able to help take a look at this?

[2019-10-16 09:47] Ehesp commented on #47
Hey @tbillington thanks for the report.

I've just imported a fresh dataset myself and I don't see any IAM related private keys. Would you be able to take a screenshot of where the data is (hiding any private info)? Do you mean the keys are within the exported data from Firestore, or are they visible within the BigQuery console?

[2019-10-16 09:53] Ehesp commented on #19
Let me bring this one up with the team. Generally it would be a totally different extension if it triggered on collection change. Here's something which *may* work:

1. Auth user create: Updates Mailchimp + creates a record in a collection, with an email.
2. If a users email changes (via manual update on the users part), this automatically removes the email and updates Mailchimp with the new one.

[2019-10-16 10:05] rphlmr commented on #48
I think it'll be linked to https://github.com/firebase/firebase-functions/issues/536

A problem in the grpc implementation.

In my own functions I have the same problem and I rollback dependencies to  :

[code]

[2019-10-16 10:21] Ehesp commented on #21
Hi @tommyc38 thanks for opening the issue. Although this intended, I do think it would be best to let users know about this, to ensure they are only using the "master" counter.

@rachelsaunders would this be best placed [here](https://github.com/firebase/extensions/blob/master/firestore-counter/POSTINSTALL.md#L74) or do you think it requires an explanation within the PREINSTALL doc?

[2019-10-16 10:38] aq2 commented on #41
hi - thanks for your inputs,

I have managed to get it working using a different email provider, but am still unable to use with gmail, whether using http or https

I have heard that gmail are quite a large email company and i am surprised that i can't get the extension working with them.

@Ehesp did you manage to get gmail working?

[2019-10-16 14:09] rachelsaunders commented on #21
For clarification - does the extension delete the subcollections each time the scheduled function runs?

[2019-10-16 21:34] tommyc38 commented on #21
@rachelsaunders, either I am experiencing a bug or it does indeed delete the sub collection if it has no more shards (docs) to count.  Assuming this is intended, having a line or two about this in the docs will be helpful to others who run tests and expect to see a sub collection but don't.

[2019-10-16 23:21] laurenzlong commented on #48
Thanks for the helpful issue link @rphlmr! The best course of action is to implement the suggestion in https://github.com/firebase/firebase-functions/issues/536#issuecomment-531923813. I confirmed with Sebastian, author of that comment, who works on Firestore, and he confirmed that was the most reliable thing to do at the moment. This bug also affects not just firestore-send-email, but other exten

[2019-10-17 00:05] tbillington commented on #47
They are in the data in the `XXXX_raw_changelog` and `XXXX_raw_latest` (the view over changelog)

![Group 1](https://user-images.githubusercontent.com/2771466/66967789-e310c600-f0cd-11e9-89b9-5565d636476e.png)

[2019-10-17 08:22] Ehesp commented on #41
Could you try setting the `from` address as your own email used for Gmail?

[2019-10-17 09:41] lechim commented on #28
Hi I made a quick work around function from the SDK to let this extension work on javascript Firebase functions.

`const uuidv4 = require('uuid/v4');`

`function increment(field, path, val) {`
    `const db = admin.firestore();`
    `const increment = admin.firestore.FieldValue.increment(val);`
    `const update = field.split(".").reverse().reduce((value, name) => ({[name]: value}), increment);`

[2019-10-17 12:24] aq2 commented on #41
sorry, not quite sure what you mean

i've been  using the same email address in 'from' and smtp URI - ie my gmail address

or are you suggesting that i use gmail URI, but with a different from address - like 'send as'?

[2019-10-17 12:24] aq2 commented on #41
sorry - pressed the wrong button - didn't mean to close - whoops

[2019-10-17 17:11] Ehesp commented on #41
That's ok then, I believe Gmail has restrictions around the from sender address having to be the same as the SMTP user.

Let me try and get Gmail sync'd up and I'll get back to you on whether I can get it working.

[2019-10-17 17:23] Ehesp commented on #47
Thanks for posting that. I'll do some more investigation and get back to you.

[2019-10-17 18:42] laurenzlong commented on #7
The fix is now live in v.0.1.1 of the extension. You can update via Firebase Console or CLI by running:
`firebase ext:update storage-resize-images --project <projectId>`

@codediodeio If you would like to opt out of resizing some images, my suggestion would be to put those images inside of a different bucket. The reason is that if they are in the same bucket as the one that the extension is listen

[2019-10-17 18:42] #7 closed

[2019-10-18 17:04] rachelsaunders commented on #21
@Ehesp Friendly ping on my clarification question above?  Thx!

[2019-10-20 14:49] zbigniewzolnierowicz opened #54 "[FR] Add option to make video and GIF thumbnails to the existing Resize Images extension or make a new extension"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2019-10-20 16:51] Ehesp commented on #21
Hi @rachelsaunders - it deletes them once they have been aggregated yes. Users should sync with the 'master' doc created, as it's unreliable to sync with the aggregators (as they can be removed anytime).

[2019-10-20 18:33] joemanfoo opened #55 "Make `firestore-counter` nodejs safe"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2019-10-21 21:53] laurenzlong opened #64 "Ensure that firestore-counter only writes to max 100 documents inside a single transaction"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2019-10-22 21:11] #43 closed

[2019-10-23 22:56] rphlmr commented on #48
Hi :)
Thanks for the PR.
I have a stupid question, excuse me, but do we'll receive an email when updates are released ?

[2019-10-24 09:34] rphlmr opened #69 "Mail subject encoding in firestore-send-email"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2019-10-24 09:41] rphlmr commented on #69
Ok I found that we have to add one more curly braces pair to escape specials char :D

Mail subject should be : `"Welcome to {{{name}}}"`

If you confirm, may be we can update the documentation :)

[2019-10-24 20:08] laurenzlong commented on #48
Hi @rphlmr if you would like to be informed of new releases, you can click the "watch" button at the top right corner of this page, and then select "releases only".

[2019-10-25 03:54] jttaynton commented on #17
This is a great tool but definitely need a way to be able to do wildcards and collection groups would be good to.  I have a small dataset so for now I'm going to cheat and just run updates on my existing records.

[2019-10-25 08:24] Ehesp commented on #69
@rphlmr Thanks for the feedback. Looks like you're right yeah, the triple-stash should work in this case.

I'll get a PR sent up soon with the changes (unless you wanted to take a go?).

[2019-10-25 09:42] Ehesp commented on #69
Actually, I was thinking we could set this in the template compiler, however re-reading what you said I think this is a documentation update.

Maybe in the docs we could add a line below the [example](https://github.com/firebase/extensions/blob/next/firestore-send-email/POSTINSTALL.md#using-templates):

[code]

Taken from: https://handlebarsjs.com/#html-escaping

cc @rachelsaunders

[2019-10-25 11:05] rphlmr commented on #69
Yes, I think it should be only on the documentation.
It's easier to put it in the template compiler (and transparent for fast doc readers), but if someone wants to escape, it'll no more be configurable.

Last question, do you know why it works without triple-stash in the template body ? (actually it seems that we have 2 diffents behaviours :p )

[2019-10-26 10:01] patricsteiner commented on #18
Thank you very much @textcolor! I hope they fix this soon...

[2019-10-26 11:13] Niweera commented on #41
I have came across the same issue as the op. However, I tried with my gmail and it worked. (example@gmail.com). But I tried with a GSuite email (example@customdomain.com) and it did not work for that email. The delivery state is stuck on PROCESSING and the cloud function is timing out after one minute. Any suggestion is appreciated.
Thanks in advance.

[2019-10-29 14:14] GeeDollaHolla opened #72 "Resize Image: Extension from contentType"
### Extension name: Resize-Images

This feature request is for extension: `storage-resize-images`

### What feature would you like to see?

Currently, the file extension is being read from the original file name. If no file extension is provided, the type should be read from the image contentType to generate the new image.

Appending the extension to the resulting resized images should be conditio

[2019-10-29 18:57] Alecinvader opened #73 "Trigger Mail install error in console: "The caller does not have permission""
Hello,

I am trying to install Email Trigger Extension through the Firebase Console. I wan't to send email's based on user actions in my app through Google's SMTP service.

For testing purposes I entered my personal email and password in the form that the extension wanted. Like this,

(except with my actual credentials)

smtps://john.doe@gmail.com:123456@smtp.google.com:465
even
smtp://john.doe@gm

[2019-10-29 21:43] pietrop opened #74 "Firebase extension for STT"
### What feature would you like to see?

Similar to how there is an extension for Google Translate, I was wondering
 if there are any plans to make an extension for **Google Cloud Speech To Text**?

I'd be happy to contribute to the open source development, if this gets picked up and there are some general directions on how to go about developing a firebase extensions etc..

I've already raised it

[2019-10-30 01:56] Alecinvader commented on #73
OK the issue is what I thought, I am not the owner of the Firebase project, therefore I cannot install extensions on the owners behalf. So I have to ask the man in charge for privileges or have him install it.

[2019-10-30 01:56] #73 closed

[2019-10-30 11:47] timsewell commented on #41
I am also having this issue. I've also now tried it with a Yahoo mail account and the same thing happens.
My function config:
![image](https://user-images.githubusercontent.com/1416172/67855726-e3b44e00-fb0a-11e9-8289-f7decee9cf4e.png)
(NB, I've also tried with smtps using port 587. I've tried with the normal account password and with a generated app-specific password. I'm kind of tearing my hair

[2019-10-30 13:25] tobiaseisenschenk opened #76 "Firebase extension for transactional mails"
### What feature would you like to see?

I see transactional e-mails as a common use case firebase users will implement. If this feature gets picked I'd be happy to contribute to its development. However I'd appreciate some guidelines as to how a function technically differs from an extension.

### How would you use it?

In my company we currently use [mailjet in combination with firebase function

[2019-10-30 15:21] giammin opened #77 "Send mails with custom headers with firestore-send-email extension"
### Extension name

firestore-send-email

### What feature would you like to see?

the ability to add custom header in a mail

### How would you use it?

We use Mandrill API to send emails and we can add some [custom metadata ](https://mandrill.zendesk.com/hc/en-us/articles/205582417-Using-Custom-Message-Metadata) to every message.

We can also add metadata sending email with Mandrill smtp but we

[2019-10-30 16:52] giammin commented on #76
in my case it is enough [to implement email headers](https://github.com/firebase/extensions/issues/77) but having the ability to access the API would be really usefull

[2019-10-30 17:20] TheBestMoshe opened #78 "Resize Images: Missing original filename when uploaded file doesn't include a file extension"
- Extension name: storage-resize-images
- Configuration values (redact info where appropriate):
Resize Image, default settings
set Bucket to name of any other bucket that is not your default
  Deployment location Description
us-central1
Cloud Storage bucket for images Description
[bucket-name]
Sizes of resized images Description
200x200
Cloud Storage path for resized images (Optional) Description

[2019-10-30 17:31] TheBestMoshe commented on #78
As a temporary workaround, I'm able to get the proper results by just adding a "." to the end of the file name.

This causes the filename to be "{original filename}_{new image size}." (notice the "." at the end).

[2019-10-30 18:28] TheBestMoshe commented on #78
I just noticed that this is a duplicate of #20

[2019-10-30 18:28] #78 closed, assigned to nobody

[2019-10-30 22:17] siderakis opened #79 "ResizeImage fails with valid filenames"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2019-10-30 22:26] siderakis commented on #79
root cause: The images didn't have a content-type set so the validator failed

[2019-10-30 22:26] #79 closed

[2019-10-31 04:55] madmacc opened #80 "firestore-bigquery-export failing"
- Extension name: firestore-bigquery-export

I have installed the Export Collections to BigQuery extension and it works fine however now I am attempting to import my existing data using firestore-bigquery-export by following the instructions here:
https://github.com/firebase/extensions/blob/master/firestore-bigquery-export/guides/IMPORT_EXISTING_DOCUMENTS.md

However I am getting the error detaile

[2019-10-31 11:21] Ehesp commented on #74
Thanks @pietrop

cc @karayu do we have an internal tracker for feature requests for discussion/implementation?

[2019-10-31 12:19] Ehesp commented on #77
Thanks for the feature request. I'll pick this up internally & figure out how/if this can be integrated.

[2019-10-31 18:52] barrylachapelle commented on #41
I had the same issue - my challenge was that my email was a GSuite account and I needed to allow access from Less Secure Apps. I had to go into my GSuite account, Security allows Users to Set own Less Secure Apps. Then set it for my email.

It was a bit of a struggle but I hope that helps someone.

[2019-10-31 19:38] madmacc commented on #80
Also I looked at the script here:
https://github.com/firebase/extensions/blob/master/firestore-bigquery-export/scripts/import/src/index.ts

And the error is being generated at line 187.
It looks like it may throw this error if no data is found or if can't access the project/collection.

[2019-10-31 23:42] rachelsaunders commented on #21
closed w/ merge of PR #62

[2019-10-31 23:42] #21 closed

[2019-11-01 09:23] timsewell commented on #41
I couldn't do that with my initial email account as it has 2FA. However, I followed the various instructions for that, including an app-specific password and didn't have any joy. Then I set up another GMail account without 2FA and followed the allow-less-secure and recaptcha settings - still didn't work. It's the latter account that I have working fine, now, with my own cloud function. It's weird

[2019-11-02 20:12] DavidPrecopia opened #83 "Delete User Data not deleting data in Cloud Firestore"
### Describe your configuration

- Extension name:  Delete User Data
- Configuration values:
  - Cloud Firestore path: users/{UID}
  - Realtime Database and Cloud Storage: unspecified

Cloud Firestore structure: /users/{UID}/

### Describe the problem

Regardless of whether I delete a user from the console or the client (Android app), the user's document nor any sub-collections/documents are delet

[2019-11-03 13:47] Ehesp commented on #83
Hey @DavidPrecopia

Not sure if it's a typo, however above you mention the config value is `users` while the structure is `user` - that will be the issue if it's not a typo.

[2019-11-03 14:03] DavidPrecopia commented on #83
It’s a typo - I just triple-checked the console and it’s `users` in both places.

[2019-11-03 14:18] Ehesp commented on #83
Ok, the other thing which has caught users out in the past is trailing spaces in the path names (which are valid Collection paths). If you go onto the console, click "Reconfigure extension" and highlight the box, just make sure there is no additional spaces on the end.

[2019-11-03 14:54] DavidPrecopia commented on #83
Checked, no whitespace.

[2019-11-03 15:22] yahavt opened #84 "Blurry resized images"
Extension name: storage-resize-images
Problem: When resizing images the output image is blurry

According to https://imagemagick.org/Usage/resize/#resize_unsharp
there needs to be a call to "-unsharp 0x6+0.5+0" in order to resolve this issue.

The issue is in index.ts line 175

Thanks

[2019-11-03 19:44] DavidPrecopia commented on #83
After playing around some more I found out that the function only deletes the user document if does not contain sub-collection(s) with documents. If the sub-collection(s) is empty, the function deletes the user document.

Additionally, if the user document contains fields and a sub-collection with documents, the fields are deleted, but the sub-collection is left untouched.

[2019-11-04 08:53] Ehesp commented on #83
There is currently code waiting to go into prod which handles nested sub-document delete using firebase-tools. That being said, if a document has sub-collections at the moment, that shouldn't impact the actual document being deleted.

[2019-11-04 13:24] ctwhome commented on #41
I have the same problem with the GSuite account. I allowed access from Less Secure Apps but nothing. It doesn't work. I have also tried all possible combinations with port 587 and without it.
![image](https://user-images.githubusercontent.com/4195550/68124025-ac7cdd00-ff0e-11e9-8f1a-3871b17cf3b2.png)

[2019-11-04 15:28] BluebambooSRL commented on #40
@Ehesp how you doing?
Is there any deadline for the delivery of this feature-request?
We are developing a "message & alerts" tier, and wonder to know if this firebase extension will be a good solution. Thanks in advance, Federico

[2019-11-04 15:31] ctwhome commented on #41
If it helps, what I did for GMAIL account:
`smtps://namel@gmail.com:pass@smtp.gmail.com:465`
and then a enable "Less secure app access"
`https://myaccount.google.com/u/2/lesssecureapps`

I didn't manage to use my GSuite account tho yet.

[2019-11-04 15:42] timsewell commented on #41
Thanks - and I'm glad you got it working. I've found that my custom cloud function does everything I need it to do, so I've moved on to other areas of functionality.

[2019-11-05 09:45] Ehesp commented on #74
Hi @pietrop could you please add the feature request here: https://github.com/firebase/extensions/issues/74 - linking this issue as reference. Thanks!

[2019-11-05 09:54] Salakar commented on #20
You can set a file extension when using `putString` by  specifying a the file name when creating a storage reference:

[code]

Is there some other case where it would never set a file extension?

[2019-11-05 10:13] pietrop commented on #74
Thanks @Ehesp , I've just submitted it

[2019-11-05 18:07] Ehesp commented on #83
Hi @DavidPrecopia, could you run the following command on your machine:

[code]

Could you extract the item for your deployed extension and ensure any sensitive data is removed. I'm not seeing this issue myself so understanding the exact instance config would be very helpful. Thanks!

[2019-11-05 18:08] Ehesp commented on #80
Looks like a Windows permission issue. I'll get a local Window environment running and give it a go.

[2019-11-05 18:14] Ehesp commented on #76
Reference: https://github.com/firebase/extensions/issues/77

[2019-11-05 18:17] Ehesp commented on #39
Closing issue - recommended approach right now is to install multiple instances of the extension with differing config options.

[2019-11-05 18:17] #39 closed

[2019-11-05 18:17] emrebicer commented on #20
Looks like

After adding ".jpg" at the end of my file names the problem went away. It looks like a proper solution for me. Closing the issue, thank you :).

[2019-11-05 19:05] DavidPrecopia commented on #83
Here you go @Ehesp,

[code]

[2019-11-05 19:45] madmacc commented on #80
@Ehesp Much appreciated.  It would be good to know if it actually works so I can continue to try and resolve.  I have 2 other computers including a Mac that I can try on but will take a bit of time setting up.

Among other things I tried:
node v8 and v10 (currently on v10).
I tried using task manager to make sure no other versions on node were running and locking it.
I deleted and reinstalled all

[2019-11-06 09:12] logemann commented on #41
For all fighting with the correct connection URL, it might help to consult nodemailer documentation. https://nodemailer.com/smtp/

The extension just passes the connection URL as is to nodemailer. I stopped trying with gmail cause of 2FA. Testing can be better done with mailservices like sendgrid or mailgun. They have free plans and offer a SMTP gateway which one can use.

[2019-11-06 21:33] rphlmr opened #92 "firestore-send-email : template not updated"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2019-11-06 21:33] rphlmr commented on #92
NB : to solve that, I have to reconfigure my extension ;)

[2019-11-06 21:38] mbleigh commented on #92
Templates should be updated in realtime (see [templates.ts](https://github.com/firebase/extensions/blob/next/firestore-send-email/functions/src/templates.ts) in the source). The `onSnapshot` should be calling `updateTemplates` whenever one changes.

If not, that's a bug...

[2019-11-06 21:42] rphlmr commented on #92
I don't remind it happened weeks ago when I start playing with this function. But we are still in version 0.1.0.
Maybe it could help : before I try to update my template, the function throw an error about could start (opened issue). Maybe after that something broke ?

[2019-11-07 00:05] andieromero opened #94 "Translate Text should use Multiselect type for language list param"
### Extension name:
storage-resize-images

### Describe the problem
This is not a behavioral issue with the extension, but rather a UX bug. Typing in a list of languages seems tedious and there is a MULTISELECT param type that would be more appropriate here. I'd like to browse through the available languages and select from there.

#### Other considerations
If the list is quite long, the UX in the

[2019-11-07 13:38] rphlmr opened #96 "firebase-bigquery: "deployment location" is misleading since BigQuery table was in different location."
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2019-11-07 13:45] rphlmr commented on #96
Checking in bigquery directly, `europe-west1` is not available. But it is proposed in the extension configuration.

[2019-11-07 15:56] Salakar commented on #96
Hey @rphlmr - thanks for the report, have checked the code and it looks like `initializeDataset` is not setting the dataset location over at `this.bq.database(*)`:

https://github.com/firebase/extensions/blob/next/firestore-bigquery-export/firestore-bigquery-change-tracker/src/bigquery/index.ts#L103

[code]

[code]

Not sure the best approach on fixing this, probably adding an additional param to

[2019-11-07 19:55] rphlmr commented on #48
Thanks everyone for the 0.1.1 ;)

[2019-11-07 19:58] rosariopfernandes commented on #4
@marvinsxtr thanks for sending this FR. It is now live in v.0.1.2 of the extension. You can update using the Firebase Console or the CLI by running:
`firebase ext:update storage-resize-images --project <projectId>`

[2019-11-07 19:59] rosariopfernandes commented on #43
@dahliasalem thanks once again for reporting this. It has been fixed in v.0.1.1 of the extension. You can update using the Firebase Console or the CLI by running:
`firebase ext:update firestore-translate-text --project <projectId>`

[2019-11-07 23:19] #48 closed

[2019-11-07 23:20] laurenzlong commented on #48
You're welcome! Thanks for reporting!

[2019-11-07 23:20] laurenzlong commented on #14
Fixed in v0.1.2: https://github.com/firebase/extensions/releases

[2019-11-07 23:20] #14 closed

[2019-11-08 01:58] laurenzlong commented on #96
Yes I do think the best approach is the revise the current LOCATION param to indicate it only affects where the Cloud Functions are deployed to, and add a new param for specifying where BigQuery data lives. But I will review the options with the team first. @rphlmr would that solve your use case?

[2019-11-08 07:45] GusRuss89 opened #100 "storage-resize-images doesn't respect "keep original image" setting"
### [REQUIRED] Step 2: Describe your configuration

- Extension name: **storage-resize-images**
- Configuration values (redact info where appropriate):
  - **240x240,600x600**
  - **max-age=2592000**
  - **Delete original: No**

### [REQUIRED] Step 3: Describe the problem

The extension seems to have trouble respecting my settings. I have a staging project and a production project. On my staging p

[2019-11-08 09:40] rosariopfernandes commented on #100
@GusRuss89 Sorry you ran into this and thanks for reporting it.

---

@Salakar I suspect the JavaScript code is returning Truthy:

https://github.com/firebase/extensions/blob/506f56b6a98b4197dd8799e46b16ccb8ca4c564d/storage-resize-images/functions/lib/config.js#L23

Apparently, we forgot to run `npm run build` before v.0.1.2 release. (if that's the case, it might be fixed in #42 which is only miss

[2019-11-08 10:19] Ehesp commented on #100
Thanks @rosariopfernandes - once #42 gets resolved this will indeed be fixed. We're working on getting commit hooks setup to ensure the JS/TS don't become out of sync.

[2019-11-08 11:38] ctwhome commented on #41
Isn't it the idea of the extension to handle this without extra impediments?

[2019-11-08 12:32] jonathanrose9 opened #101 "Export Collections to BigQuery creates identical entries in raw_changelog if multiple documents are created at the same time by a batch"
### Configuration
- Extension name: **Export Collections to BigQuery**

### The problem

Is it a problem to use the function in combination with batch operations and multiple documents in Firestore? Thank you very much for your help!

#### Steps to reproduce:
  - The extension is configured twice in the same Firebase project
  - We do not use wildcards in both configurations of the extension.
  -

[2019-11-08 18:49] jimmykane opened #102 "Recursive delete errors with Cloud Resource Manager API Error"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2019-11-08 19:54] Ehesp commented on #102
Hello @jimmykane, have you visited the link provided and enabled the API?

[2019-11-08 20:13] joehan opened #103 "[FR: storage-resize-images] Add ability to resize existing images"
### [REQUIRED] Step 2: Extension name

`storage-resize-images`

### What feature would you like to see?

FR from CLI UXRR - After reconfiguring the size on this extension, the participant wanted a way to resize all the old images that users have uploaded. Could we add a http endpoint that takes a path to an existing image in storage and resizes it.

### How would you use it?

Imagine this scenario

[2019-11-08 23:20] laurenzlong commented on #100
Thank you for reporting the bug @GusRuss89 ! This is quite a serious issue, so we're removing v0.1.2. You can now go to Firebase Console, and click on the "update" button. (It'll actually downgrade the extension to v0.1.1). Our website and console has been updated also, so when you install a new instance of Resize Images, it will be installing v0.1.1.

Next week, we hope to release v0.1.3 which wi

[2019-11-08 23:20] #100 closed

[2019-11-09 09:03] jimmykane commented on #102
Yes I did and I enabled the api.

Then I tried to delete eg my user , but since some hours now the logs
(failed or no) are not coming in. Will try again later.

The point here, why did I have to enable that api ?

On Fri, 8 Nov 2019, 20:54 Elliot Hesp, <notifications@github.com> wrote:

[2019-11-09 14:06] rphlmr commented on #101
Hi,
We have 3 bigquery extensions running (each one on different collections, no subcollections) and we didn't notice duplicating data.
Maybe the duplication is due to retries made by your function executing batch (there is a limitation of 1s to write on the same document).
You said that your batch processing write on the parent document, for this use case I would use transaction instead of batch.

[2019-11-09 14:12] rphlmr commented on #96
Hi @laurenzlong,

At first, I think it's not clear that Location is for the cloud function location.
I really thought it was for both :D
For people dealing with "GDPR" it's important to be able to choose a location for our dataset.
What you suggest seems perfect.

What I did to solve this was to create by hand my dataset. (and for the data already in production, I moved my data and reconfigure my

[2019-11-09 14:13] rphlmr commented on #92
Hello there,

I tried again and it works. I really think it was due to called start error.
Now that's fixed, maybe it's no more a bug ?

[2019-11-10 02:07] DavidPrecopia commented on #83
Fixed as of [v0.1.2](https://github.com/firebase/extensions/releases/tag/firestore-send-email-v0.1.1).

[2019-11-10 02:07] #83 closed

[2019-11-10 05:52] markrcummins opened #104 "Request to use wildcard in cloud storage path for resized images"
When uploading image to root (like a profile picture), would be great if I could store the resized image in a folder like users/{userId}/public/profile.

Currently, it creates a subdirectory in users literally named {userId}.

Unless there's a way to do it that I'm not figuring out. A point in the right direction would be greatly appreciated!

[2019-11-10 19:40] madmacc commented on #80
Any update on this?  I would like to know if it is working for others using Windows.  If so then I can justify spending some more time trying to get it working.

[2019-11-11 11:45] kirillshilin opened #105 "Image resice recoursively generate thumbnails until fails with too long filename"
### [REQUIRED] Step 2: Describe your configuration

- Extension name: **\_** (`storage-resize-images`)
- Configuration values (redact info where appropriate):
Deployment locationDescription
europe-west2
Cloud Storage bucket for imagesDescription
packedoo-dev.appspot.com
Sizes of resized imagesDescription
200x200
Cloud Storage path for resized images (Optional)Description
Parameter not set
Cache-Co

[2019-11-11 20:11] jhuleatt commented on #34
I chatted with the Cloud Storage for Firebase team about `firebaseStorageDownloadTokens`. The field should be unique per object. If it isn't set on an object, it will be set automatically by the Cloud Storage for Firebase api when `getDownloadURL()` is called.

TL;DR we shouldn't copy it over in the extension.

[2019-11-11 21:45] rosariopfernandes commented on #34
@jhuleatt thanks!

@envyram have you tried using the [Google Cloud Client Library](https://cloud.google.com/storage/docs/reference/libraries) for NodeJS? The docs contain a snippet on how to [download a file](https://cloud.google.com/storage/docs/downloading-objects#storage-download-object-nodejs):
[code]

[2019-11-12 05:58] Niweera commented on #41
For those who are still struggling with GSuite emails for the Email Trigger Extension. I think I may have found a solution. As the OP says I was stuck at the `PROCESSING` state and nothing happened when I gave the smtps URI as `smtps://username@customGSuiteDomain.tld:veryComplicatedPassword@smtp.gmail.com:465`.

However when I used a password without any special characters it worked.
NB: The follo

[2019-11-12 09:28] Ehesp commented on #92
Ok let's go ahead and close this one. Logically the code is working fine, however we'll keep an eye on it. Thanks!

[2019-11-12 09:28] #92 closed

[2019-11-12 10:50] Ehesp commented on #105
Hey @kirillshilin - this sounds like an issue which was discovered and solved in the `0.1.1` release. Can you confirm which version you're using?

[2019-11-12 12:48] Ehesp commented on #102
Just trying to figure out what's going on here. What state is/was your project in when installing the extension? Is it freshly created or is it in use?

cc @laurenzlong I'm not sure whether this error related to extension usage or more generic project usage (e.g. managing the Firebase project).

[2019-11-12 14:09] jimmykane commented on #102
Project is live with the extension on since launch of the extensions.
Project is live about 4 or more months now.

I have not touched the google cloud console for the project (eg toggle things) I have exclusively managed it via firebase web because its so great and easy.

All is running fine, this is not a serious per se bug, but rather surprised that it needed to enable that API

[2019-11-12 14:10] jimmykane commented on #102
(after the api was enabled all run as they should in regards to the extension + config)

[2019-11-12 16:15] rachelsaunders commented on #69
1) It'd be great to learn the answer to the question from @rphlmr above.

2) A clarification question - this HTML-escaping syntax is only applicable for templates, right?

3) If (2) is true... Since the HTML-escaping syntax is already documented in the handlebar template documentation, I'd prefer to not repeat it in our docs.  It seems pretty easy to find in their docs with a quick ctrl-f of their

[2019-11-12 20:10] karayu commented on #76
Thanks so much for the feature request! I'm closing this for now since we're tracking in #108

[2019-11-12 20:10] #76 closed

[2019-11-12 20:15] karayu commented on #19
Thanks so much for the feature request! It sounds like this would need to be a new extension.

Do you mind filing a feature request for this so we can track it?
https://firebase.google.com/support/troubleshooter/report/features/

I'm closing this issue for now since it's unfortunately not a change to the current extension.

[2019-11-12 20:15] #19 closed

[2019-11-12 20:47] jhuleatt commented on #84
Adding `-unsharp 0x6+0.5+0` should be a really simple change. We'd modify this line: https://github.com/firebase/extensions/blob/506f56b6a98b4197dd8799e46b16ccb8ca4c564d/storage-resize-images/functions/src/index.ts#L175

To add the unsharp option:

[code]

However, picking the correct params for sharpening is more of an art than a science. The imagemagick docs linked above suggested multiple diffe

[2019-11-13 07:55] jonathanrose9 commented on #101
Hello rphlmr,

Thank you very much for your answer! We do not use IDs automatically generated by Firestore for the documents affected by the extension. In our case I can therefore say that if it happens that several documents are processed with one batch, always new documents with a new ID are created. So it cannot happen that the same document is written to. Or does the batch process perform repe

[2019-11-14 06:48] gnjuguna opened #110 "BigQuery Data Import Error - Multiple errors occurred during the request."
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2019-11-14 09:27] ltbmedia opened #111 "Resize Image - Callback"
This feature request is for extension: **\_** (`storage-resize-images`)

It would be great to see a callback included in the extension to be able to get information about the new image that has been created.

For example,
- you have the extension configured on a bucket
- you upload the original image to the bucket and await a callback
- when the new resized image has been created the callback incl

[2019-11-14 13:38] Ehesp commented on #69
So the reason the subject & body have different functionality is how the email client is handling the data. Your body content will be getting escaped by handlebars, but your email client will be then parsing the HTML entities back into valid HTML (as HTML is allowed in the body).

In the subject, only a string is allowed, so it displays the escaped output handlebars generated.

Yep, it's applied t

[2019-11-14 13:38] #69 closed

[2019-11-14 15:54] Ehesp commented on #111
Hey @ltbmedia

Just so I understand correctly, do you mean a data record/list of resized images? So, if I upload an image it gets resized but also a records gets added to a database somewhere?

Thanks!

[2019-11-14 16:24] ltbmedia commented on #111
Hi there,

That would be one solution I guess.
But a cleaner approach in what I was asking would be -->

`storageRef.put(ORIGINAL_IMAGE).then((snapshot) => {

      // as this image was uploaded to a bucket with the resize-function configured
      // wait for callback to let us know the resized image(s) have completed
     // include data about the new resized image(s) so we can store & fetch

})

[2019-11-14 17:11] AliakseiPaseishvili commented on #111
Hm I don't know where I need to write, but I agree with you.
Currently I am using React Native app with firebase inside, We added resize images extension to the project and found that when we got resized image we can't get url for it because it don't have access token(download URL) in Firebase Storage, while the parent image (which is not resized) have it.

[2019-11-14 17:23] ltbmedia commented on #111
Hi Aliaksei,
You can get the resized image by using ->

let gsReference = this.storage.refFromURL('gs://your-bucket-name/' + filename + '_200x200' + fileExtension)

You can only call this and get the resized image from the bucket once the resize-function has completed, otherwise you get an error because the new resized image does not exist yet - only workaround is using a delay before calling that

[2019-11-14 17:45] AliakseiPaseishvili commented on #111
@ltbmedia , very strange.
![image](https://user-images.githubusercontent.com/50828981/68881822-ecb63980-071e-11ea-9737-b9dbd0688ac6.png)
![image](https://user-images.githubusercontent.com/50828981/68881831-ef189380-071e-11ea-92f3-6dcf2ba735c6.png)
I added image directly to storage for testing resizing... and original image has download url, but resized not...
But on videos here , resized images ha

[2019-11-15 13:39] rosariopfernandes commented on #111
@AliakseiPaseishvili the download url is only added after a call to `getDownloadUrl()` is made, as mentioned [here](https://github.com/firebase/extensions/issues/34#issuecomment-552595619)

[2019-11-15 20:38] rosariopfernandes commented on #94
@andrianabeltran I agree typing in a list of languages can be tedious. But I think having it as a multiselect param would not only make the CLI UX tedious, but would also require us to keep track of languages supported by Cloud Translation and update the extension every time a new language is added.

[2019-11-16 15:44] diego-lipinski-de-castro opened #112 "How to set from address"
The email address to use as the sender’s address (if it’s not specified in the added email document).

Well, how do I do it, there is no example, no documentation on how to specify in the document, whats the key or something

[2019-11-17 05:05] MatteoStohlman commented on #41
I URL encoded the special  characters in my password and that worked fine.

Have  it working  with
1) Less secure apps setting
![68124025-ac7cdd00-ff0e-11e9-8f1a-3871b17cf3b2](https://user-images.githubusercontent.com/14103084/69003333-a226ef80-08cd-11ea-8c5d-d9616a8fc0bd.png)

2) SMTP Server
`smtps://username@customGSuiteDomain.tld:veryComplicatedPassword%21%0A@smtp.gmail.com:465`

NB. from email

[2019-11-18 03:40] Niweera commented on #41
@MatteoStohlman yeah, I did the same. It's working fine for me.

[2019-11-18 04:46] madmacc opened #113 "Firestore BigQuery Export - Document properties exported to individual fields"
### [REQUIRED] Step 2: Extension name

firestore-bigquery-export

### What feature would you like to see?

Currently all document properties are exported to single string field/column called "data" as a JSON string in the members_raw_changelog or members_raw_latest tables.
I am assuming this is by design and not just a bug in my case.
This data is not particularly usable, I would need to schedule

[2019-11-18 14:18] Ehesp commented on #112
Hello

When setting up the extension, you'll be promoted for an email which is used as the default 'from' address:

![image](https://user-images.githubusercontent.com/842078/69059808-284a4f80-0a0e-11ea-9d5c-8a1f6491672c.png)

If you don't include a `from` field in the document being added to Firestore, this email address will be used automatically.

Does that help?

[2019-11-18 17:14] diego-lipinski-de-castro commented on #112
I tried to include a 'from' field in the document but it didnt work, the email used was the default still

[2019-11-18 17:29] diego-lipinski-de-castro commented on #112
Well, actually, it worked, I dunno, yesterday I tested and I didnt worked, but right now, with the 'from' field it actually took it, so, yeah, thats it

[2019-11-18 17:29] #112 closed

[2019-11-18 21:45] laurenzlong commented on #102
Hi @jimmykane thanks for filing! That API is used by us in order to grant the extension the appropriate IAM permissions to your project. However, that API is normally turned on automatically for all new projects. I'm not sure why it was turned off if you yourself didn't touch the Cloud Console. We don't manage that API so I'm don't know what might have happened.

I'm glad to hear that your extensi

[2019-11-18 21:45] #102 closed

[2019-11-18 23:39] MattReidArnold commented on #17
@levibn123 can you provide more information on how you did this? I'm looking to do the same thing.

[2019-11-19 14:39] JonesM87 commented on #113
I would guess the data has to be in this format to get it into BiqQuery? But I can't confirm, there is a way to get a more usable output though, using the json functions in a BiqQuery you can extract into a more digestible format for your BI tool:

e.g.
SELECT
JSON_EXTRACT_SCALAR(data, '$.yourfirebasedocumentfield') yourfirebasedocumentfield
FROM 'yourfirebaseproject.datasetId.yourfirebasecollecti

[2019-11-19 18:49] laurenzlong commented on #110
Hey @IanWyszynski Do you have an idea of what might be causing this issue?

[2019-11-19 19:25] karayu commented on #101
@IanWyszynski do you mind taking a look?

[2019-11-19 19:49] IanWyszynski commented on #113
We are working on documenting a solution that transforms Firestore schemas into SQL queries like the ones posted by @JonesM87. These queries will leverage bigquery's json parsing [functions](https://cloud.google.com/bigquery/docs/reference/standard-sql/json_functions) to generate richly-typed views your raw collection data in BigQuery.

The script that does this work lives here: https://github.com

[2019-11-19 21:41] IanWyszynski commented on #101
Since the event_id column is duplicated, I suspect this behavior is due to the at-least-once semantics of events https://cloud.google.com/functions/docs/concepts/events-triggers. There is a trade-off here between querying the raw changelog (which can potentially grow large) for conflicting event_ids _on each function invocation_ and simply duplicating data that is filtered out in the latest view o

[2019-11-20 02:00] IanWyszynski commented on #110
This is bizzare. The import script is a pretty thin wrapper around the Firestore and BigQuery node.js APIs that doesn't deal with authentication at all. The error is likely coming from one of those two downstream sdks. Can you think of anything in the environment that the script was running in that might affect your GCP oauth credentials?

[2019-11-20 04:16] madmacc commented on #113
Thanks @JonesM87 and thanks @IanWyszynski for the very detailed response.  I will give it try with the suggested methods.

[2019-11-20 20:10] madmacc commented on #113
@IanWyszynski I am having the following error when trying to run the script:
Access Denied: Project myprojectname: User does not have bigquery.jobs.create permission in project myprojectname

I am running the script as follows:
npx @firebaseextensions/fs-bq-schema-views   --non-interactive   --project "myprojectname"   --dataset "datasetname"   --table-name-prefix "members" --schema-files "bigquer

[2019-11-21 10:36] Ehesp commented on #8
XFN Review: There are possible ways to implement this functionality, however require careful consideration:

- Firestore/Database: Creates additional reads/writes & uncertainty around data indices.
- Storage: Not queryable, so would need to list/paginate through all items to match file name.

[2019-11-21 10:39] Ehesp commented on #11
XFN Team: Related PRs https://github.com/firebase/extensions/pull/6 https://github.com/firebase/extensions/pull/42

[2019-11-21 10:40] rphlmr commented on #38
Maybe could be merged with https://github.com/firebase/extensions/issues/113 :)
I'll try soon this suggestion :D

[2019-11-21 10:43] Ehesp commented on #26
XFN Team: Should be a fairly straightforward implementation; would make sense to use batched writes to achieve this I think.

[2019-11-21 10:47] Ehesp commented on #23
XFN Team: We created a local POC for Aloglia and Extensions. The discussions/questions were around how to handle Algolia's rich configuration for data/querying. Should this be left for users to manage exclusively from the Algolia dashboard, or should this be managed via the Aloglia API from the Extension config?

[2019-11-21 10:47] #33 closed

[2019-11-21 10:51] Ehesp commented on #28
XFN Team: Would this be an additional "client" in the project, or would it be appropriate to adapt the web script to work in a Node environment?

[2019-11-21 10:53] Ehesp commented on #28
Duplicate: https://github.com/firebase/extensions/issues/55

[2019-11-21 10:54] Ehesp commented on #55
Hello, thanks for this. We are tracking this feature request over on https://github.com/firebase/extensions/issues/28

[2019-11-21 10:54] #55 closed

[2019-11-21 11:01] Ehesp commented on #72
XFN Team: This could either be implemented, or leave as-is with improved documentation explaining images to be resized must include an extension (e.g. `.png) in the filename.

[2019-11-21 11:03] Ehesp commented on #23
Hi @kuuuurt - would you be able to also create a Feature Request over at https://firebase.google.com/support/troubleshooter/report/features linking to this issue as a reference? Thanks!

[2019-11-21 11:05] #4 closed

[2019-11-21 11:06] Ehesp commented on #54
XFN Team: Related https://github.com/firebase/extensions/issues/84

[2019-11-21 11:12] Ehesp commented on #40
Hey @BluebambooSRL this is now being reviewed internally. Thanks for your patience 👍

[2019-11-21 11:14] Ehesp commented on #94
XFN Team: This would benefit from Richer Param Types. As it isn't blocking at the moment, it maybe worth sitting on for the time being?

[2019-11-21 11:16] Ehesp commented on #105
Hey @kirillshilin - if you're still having issues on an upgraded version of the extension, please let me know & this can be reopened and investigated. Thanks!

[2019-11-21 11:16] #105 closed

[2019-11-21 11:23] Ehesp commented on #34
XFN Team: Couple of options available here; the extension could initialise `getDownloadURL()` or leave this to the user (maybe improved documentation is needed?).

[2019-11-21 11:26] Ehesp commented on #111
Hi All - this is an interesting topic and is relatable across other Extensions. This is being reviewed internally for now, we'll let you know as soon as possible on how to correctly handle such a use-case. Thanks!

[2019-11-21 20:03] rphlmr commented on #113
@IanWyszynski Thank you for this script !

It work like a charm :)

@madmacc
To deploy it, I installed the gcloud sdk on my mac and i used my admin account.

[code]

[2019-11-21 20:25] madmacc commented on #113
[code]
Warning here:
The environment variable [GOOGLE_APPLICATION_CREDENTIALS] is set to:
  [R:\myproject\service-account.json]
Credentials will still be generated to the default location:
  [C:\Users\username\AppData\Roaming\gcloud\application_default_credentia
ls.json]
To use these credentials, unset this environment variable before
running your application.
[code]

I still get the same issue.

[2019-11-21 20:44] rphlmr commented on #113
@madmacc hum you are on Windows, maybe there is a different behaviour.
When you set new env variable, you have to quit your console and open a new one (to reload the env).

In this case the warning said to unset the env var if you want to use your account.

I'll do :
[code]
close my terminal and reopen.

verify that the env var is clear with
[code]

and retry
[code]

When you do that, you didn't u

[2019-11-21 21:08] madmacc commented on #113
Appreciate your help @rphlmr.  I have it working now.
I used the below to reset it and then I ran it interactively this time.
`export GOOGLE_APPLICATION_CREDENTIALS=`

The only thing is it has quotes in the string fields otherwise looking all good.
![bigquery-view](https://user-images.githubusercontent.com/43654472/69376850-f5ef6980-0d0f-11ea-8d8a-a34cb828719f.png)

[2019-11-21 21:14] rphlmr commented on #113
@madmacc Yes quotes are the expected behaviour (I think).
It's due to the sql query that build this view.

I changed the query on my project :
Select your view
details tab ==> edit this request

Replace "JSON_EXTRACT" by "JSON_EXTRACT_SCALAR".

NB : I did this replacement only on columns that are not typed by bigquery

exemple :

[code]

Then, save your view (you can override the existing view).

[2019-11-21 21:15] madmacc commented on #113
@rphlmr Can I ask if you have managed to run the script to import historical data successfully?
`npx @firebaseextensions/fs-bq-import-collection`

I am having issues with that:
https://github.com/firebase/extensions/issues/80

[2019-11-21 21:20] rphlmr commented on #113
@madmacc

I just run `npx @firebaseextensions/fs-bq-import-collection` and answer questions it asked. (I have to said that I retry 3 times to find what to answer ^^).

After that, if your bigquery export cloud function is already in production, you'll have to deal with duplicated datas ;)

[2019-11-21 21:23] madmacc commented on #113
@rphlmr Ok, well useful to hear it works.  Maybe it is just an issue with my environment or a Windows issue.  I will set up an old Mac I have and give it a try on that.

[2019-11-21 21:32] rphlmr commented on #113
To import this is what I answered :

[code]

[2019-11-21 21:39] Henry- commented on #28
I think it would be better to adapt the web script to work in a Node environment.

[2019-11-22 10:57] giammin opened #120 "Video helper"
### Extension name

doesn't exist yet

### What feature would you like to see?

an extension for reading video metadata as length, resolution, aspect ratio, etc etc and maybe generate a thumbnail

### How would you use it?

when a user upload a video file on the storage

[2019-11-22 11:16] Ehesp commented on #120
Hello, thanks for the feature request! Could you also create a ticket [here](https://firebase.google.com/support/troubleshooter/report/features/) linking this issue as reference. Thanks!

[2019-11-22 12:30] shankie-san commented on #11
Likewise, I think this is a must-have feature. I can compose the string to get the path of the resized image, but it's pretty long-winded as this extension appends (rather than prepends) the image size prior to the file extension, meaning that I've got to do some pretty complicated regex logic to get the resized image path.

[2019-11-22 12:56] pietrop commented on #120
+1 on this, I'd also like to add if it could read other info like timecodes, eg rec run, free run, time of the day, relative to the file that would be 🙌

[2019-11-22 13:09] pietrop commented on #74
👋 I am looking more closely into a possible implementations for this, so thought I'd share some notes for doing [Cloud Function + STT - long running audio files](https://textav.gitbook.io/firebase-react-notes/stt/cloud-function-+-stt-long-running-audio-files)

and some options I've considered

**STT + Cloud function**
Cloud function times out 1min to 9min. So would not be able to get results for a

[2019-11-25 10:30] Ehesp commented on #74
I'm not very knowledgeable on video files, however I also imagine there would be more to it than the length; quality etc may play a part.

Interesting discussion though to help consider scope.

[2019-11-25 10:50] pietrop commented on #74
I think for getting STT of a video, you'd have to first convert it to audio, to meet [the audio specs expected by GCP STT](https://cloud.google.com/speech-to-text/docs/encoding) (eg see [`firebase/functions-samples/ffmpeg-convert-audio`](https://github.com/firebase/functions-samples/tree/master/ffmpeg-convert-audio)) and then send it to GCP STT.

In any case at the moment I am trying the second op

[2019-11-26 04:09] madmacc commented on #111
A callback would be very useful.  I have done this as below but I found sometimes it takes longer to resize than 5 seconds so I increased it to 10 seconds.  This is still no guarantee it won't break.
Is there no way to get a notification/callback of some kind?
[code]

[2019-11-26 16:42] joehan opened #121 "[All] Update firebase-functions and firebase-admin"
For many (maybe all?) extensions, we use older versions of firebase-functions and firebase-admin. In order to use firebase emulators, we'll need to update these to at least firebase-functions > v3.0.0 and firebase-admin > v8.0.0. Since this is a breaking change to both packages, we should also carefully validate that each extension still works as intended after this change.

[2019-11-26 19:21] laurenzlong commented on #111
@ltbmedia What if the extension can optionally publish to a PubSub topic after it finishes resizing the image? Would that solve your use case?

[2019-11-26 19:41] ltbmedia commented on #111
Hi @laurenzlong, I guess if that is a way of knowing when the resize has completed then that would solve the initial issue.

Would the published message also contain information about the resized image so that an additional call does not have to be made?

Thanks

[2019-11-26 19:41] laurenzlong commented on #111
@ltbmedia What kind of information would you want?

[2019-11-26 19:44] AliakseiPaseishvili commented on #111
as a workaround, I used firebase function that works for this case : ` functions.storage.object().onFinalize(callback)` - here I wrote logic, where we check what file is uploaded  and if it is an image - I check is it resized or not - if yes  - I am calling `getSignedUrl` method for our path and then add it to the firestore, where it should be.

[2019-11-26 19:44] ltbmedia commented on #111
@laurenzlong downloadURL would be ideal or some reference to the image

[2019-11-26 22:01] laurenzlong commented on #111
@ltbmedia If your desire is to simply know how to download the newly resized image, and not do any additional processing, then perhaps https://github.com/firebase/extensions/issues/11 is more suitable. As well, it would not be a good idea for us to auto generate download URLs on the resized image, since you should be in control of the access model of your file, there's a good explanation of the di

[2019-11-26 22:06] madmacc commented on #111
@laurenzlong I don't think https://github.com/firebase/extensions/issues/11#issue-499273584 would solve this issue as there is still no "notification" of the change.  Also I delete the originals.
If @AliakseiPaseishvili's solution works then it would solve the problem for me I think.

[2019-11-26 22:08] ltbmedia commented on #111
Hi @laurenzlong, the biggest issue is not knowing when the resized image has completed - that’s why a callback or function as you suggested is needed.

If a downloadURL or other reference cannot be supplied I can use my own method to fetch the file, but at least I would know that it is ready.

[2019-11-26 22:18] laurenzlong commented on #111
Thanks for the additional context @ltbmedia! We'll take this into consideration as we plan out our roadmap.

[2019-11-26 23:29] karayu commented on #111
Hi @ltbmedia thanks so much for this feature request!

We've reviewed this as a team and think that the best solution long term is better lifecycle management for an extension: a way to understand the status of an extension (when it's executing and when it has finished) and a way to trigger an action based on a status change from an extension. We're thinking through this problem long term and to @

[2019-11-26 23:29] #111 closed

[2019-11-26 23:44] karayu commented on #104
Hi Mark,

Thanks so much for the feature request! Unfortunately this is not possible right now because Storage doesn't have access to the userid that is referenced.

Thanks again for filing this and using extensions!
Kara

[2019-11-26 23:44] #104 closed

[2019-11-27 09:13] ltbmedia commented on #111
Hi @karayu, this is great news and look forward to hearing any progress on this 👍

[2019-11-27 23:18] laurenzlong commented on #121
Hey @Ehesp @Salakar can you make the appropriate updates?

[2019-11-28 12:26] fergusmeiklejohn opened #122 "Delete User Data not triggering when user deleted by client SDK"
### Step 2: Describe your configuration

- Extension name: **\_** delete-user-data
- Configuration values:
  - **\_**asia-northeast1
  - **\_**userData/{UID},admins/{UID}
  - **\_**shallow

### Step 3: Describe the problem
The function is called and successfully deletes user data when I delete a user in the console, but not called when I delete a user using the WebSDK.

In the client, I call:

`va

[2019-11-29 01:44] ravpacheco commented on #41
Hi guys, any update about this issue?

[2019-11-29 10:45] SmelayaPanda opened #123 "Thumbnail prefix"
Extensions - Resize Images

Image prefix is not saved

Docs

When I save the image with the name `original`
the thumbnail is not saved with the name `original_200x200`, instead - `_200x200`

[2019-11-29 17:22] Ehesp commented on #122
Hey @fergusmeiklejohn

Thanks for the report. Would you be able to confirm when calling `user.delete()`, the user is no longer visible in the console?

[2019-11-29 19:48] mlouli commented on #122
Hi @Ehesp, I have the same issue, and I can confirm that the user is no longer visible on the console when it is deleted.

The only difference is that I am making the call from the iOS client, so it deletes the user successfully but doesn't trigger the `delete-user-data` extension.

And as mentioned by @fergusmeiklejohn, when deleting the user from the console everything works fine.

And I also no

[2019-12-01 18:32] Ehesp commented on #122
Thanks for the information!

[2019-12-01 22:53] iamgoddog opened #124 "[storage-resize-images] Support imagemagick quality parameter"
This feature request is for extension: **storage-resize-images**

### What feature would you like to see?

I would like to be able to add the quality level somewhere, which will then be used by imagemagicks convert -quality somehow.
Either per image (via image meta or header?) or the more likely use-case, per size, for instance in the size setting like: `WIDTHxHEIGHT[q100]` (optional quality)

###

[2019-12-02 01:43] fergusmeiklejohn commented on #122
Hi @Ehesp
the function is now working. I'm calling user.delete() from the JS SDK and it's deleting the user and then triggering the function :-)

[2019-12-03 15:30] dasmeet commented on #77
Hi

Would love to have this feature. Am using SES but can't even enable basic SES open and click tracking without custom header.

[2019-12-06 14:53] colinrw commented on #113
Is it possible to import from multiple Collections at once? Or do I have to run this for all my Collections? @rphlmr

[2019-12-06 22:37] rphlmr commented on #113
@colinrw I don't know, but we do : 1 collection = 1 bigquery extension. We think that it's more clear for us :)

[2019-12-08 12:56] voxelbusters commented on #28
Won't increment provided by admin sdk work for distributed counter tasks?

[2019-12-09 06:22] karayu commented on #103
Thanks Joe! We chatted a bit about this offline and it sounds like the actual ask here is to be able to backfill data after first install. This isn't the first extension to have this request. The firestore-bigquery-export extension does a one-time export of data before doing streaming updates.

We'd like to roll this into a longer term more generalized workstream of allowing for initialization scr

[2019-12-09 06:22] #103 closed

[2019-12-09 09:05] colinrw commented on #113
@rphlmr but what if I need to get data from multiple collections? Do I have to make multiple extensions for each collection?

[2019-12-09 10:07] chenlevy commented on #80
Same error here, any workaround?

[2019-12-10 04:45] madmacc commented on #80
@chenlevy Not yet.  I am still waiting to see if anyone has an answer.  Others have said it works on a Mac so I may try that.

[2019-12-10 08:50] Timtech4u opened #130 "Error when resizing image TypeError: Cannot set property 'resizedImage' of undefined"
Hello, I installed the Resize Image Extension but it breaks with the following error:
[code]

Screenshot:
![Screenshot from 2019-12-10 09-50-06](https://user-images.githubusercontent.com/11256481/70513731-772d6580-1b32-11ea-9b0d-927c2b7dc476.png)

[2019-12-10 12:51] chenlevy commented on #80
@madi8229 I think I figured it out, the problem is with colons in the cursor pointer file name mentioned in the script. Windows file names shouldn't contain colons. I've changed it to underscores and run it locally and it worked perfectly.

#131 Also opened a pull request

[2019-12-10 15:43] rphlmr commented on #113
@colinrw yes, when you configure a bigquery extension, it allows only one collection at time.
Under the hood, a bigquery extension is just a cloud function that responds to the trigger "onWrite" on your collection.

[2019-12-10 17:40] Art3mS1d opened #132 "[storage-resize-images] How to resize already uploaded images?"
### What feature would you like to see?

I want to be able to run resizer manually. I have a lot of images in storage and would like to resize them, too.

[2019-12-10 18:58] rosariopfernandes commented on #132
Sounds like a duplicate of #103

[2019-12-10 19:12] jhuleatt commented on #34
Maybe the extension can just call `getDownloadURL` after it creates the new image, but not block on that call? That way, by the time a client tries to access the image, the storage download tokens should be created.

Note: The missing `firebaseStorageDownloadTokens` seem to break the image previews in the Firebase console too

[2019-12-10 19:14] Art3mS1d commented on #132
yes, you right.

[2019-12-10 19:14] #132 closed

[2019-12-10 20:08] rosariopfernandes commented on #130
@Timtech4u Thanks for filing this issue. But we might need some more information in order to be able to reproduce the problem:
- Which version of the storage-resize-images extension are you using?
- What configuration parameters did you use to setup the extension?

[2019-12-10 22:28] jhuleatt commented on #84
Might be worth considering #124 as part of this

[2019-12-11 03:39] Timtech4u commented on #130
I used the default parameters and the Firebase UI.

It works now when I switch using the CLI command.

`firebase ext:install storage-resize-images --project=projectId`

[2019-12-11 08:05] #123 closed

[2019-12-11 08:06] SmelayaPanda commented on #123
Duplicate https://github.com/firebase/extensions/issues/20#issue-501070832

[2019-12-11 08:06] utsav1322 commented on #130
Hello, I'm Facing Same Issue
Error when resizing image TypeError: Cannot set property 'resizedImage' of undefined
&
Error when deleting temporary files { Error: ENOENT: no such file or directory, unlink

storage-resize-images extension version 0.1.3
configuration parameters
-Deployment location
us-central1
-Sizes of resized images
200*200,500*500,1240*1240
-Deletion of original file
false
-other's

[2019-12-12 09:03] christophe-g commented on #20
Still experiencing this when an uploaded file does not have an extension.

I am aware that I can check whether filename has an extension before uploading, but IMO the resize image extension should be able to handle case without file extension.

Can this be re-opened ?

![image](https://user-images.githubusercontent.com/1168053/70697580-133ba600-1cc6-11ea-807e-89a6d5cc5e8f.png)

[2019-12-13 23:36] jhuleatt commented on #110
You'll need [Application Default Credentials](https://cloud.google.com/docs/authentication/production#obtaining_and_providing_service_account_credentials_manually) set up in the environment that you're running the script in. The service account that you use will need the permission `bigquery.datasets.create`

[2019-12-14 16:21] aravindvnair99 opened #135 "[BUG] Incorrect file name after resize"
### Configuration

- Extension name: `storage-resize-images`
- Extension version: `0.1.3`
- Configuration values (redact info where appropriate):
  - Deployment location: `us-central1`
  - Cloud Storage bucket for images: `\<projectID\>.appspot.com`
  - Sizes of resized images: `500x500`
  - Deletion of original file: `false`
  - Cloud Storage path for resized images: `thumbs`
  - Cache-Control he

[2019-12-15 09:36] kienner-philippe commented on #17
Same issue here with sub-collections.
As I have only few "chatid"s I thought I can just run the import script for each of my chatid by entering
`chats/myChatId/posts` as a collection path.
Same error message.
So, how could I import a sub-collection?

Hope I was clear...
Thanks in advance for your help.

[2019-12-15 21:07] shaisa commented on #41
Have you checked encoding?
Had the same issue until I encoded the password - you can check it here: https://www.urlencoder.org/

[2019-12-16 07:42] utsav1322 commented on #130
yet its not resizing its getting undefined on line 140 of index.js in lib

[2019-12-16 12:33] ravpacheco commented on #41
Hi @shaisa, I had not only encoded the password but also change to a simple password, without special character.

I believe google functions has some problem to execute Nodemailer with a provider different than Google. When I try to send an email with my email provider anything works.

I have tried locally with Firebase Functions Emulator and in a vanilla Node.js. The code works fine in a vanilla

[2019-12-16 13:36] shaisa commented on #41
Mmmm.... You know what - I couldn't make the extension to work with my g-suite smtp-relay as well...
I guess gmail is the only one working right now. And the logs are worthless to understand why.

If only someone from google was here to help ;)...

[2019-12-16 15:39] mbleigh commented on #41
I wouldn't recommend using GMail or G Suite to send email for an
application. They are designed to be personal / business email accounts,
not automated mass mailers. There are a variety of providers like SendGrid,
Mailgun, etc. that are designed more for the purpose and work well with the
extension. That being said, I'm not opposed to figuring out what's going on
here, but it's not at the top of o

[2019-12-16 21:51] shaisa commented on #41
Of course - at least on my end this is not the case - this is a part of evaluating the extension in terms of usability and limitations (btw, not all use cases are for mass mailing so I wouldn't dismiss this issue because of that).
When something doesn't work without understanding why - it is a sign for me that there might be more "black holes" down the road and I take it into consideration before

[2019-12-17 05:36] ctwhome commented on #41
Hi! After all the services that firebase provides to create extremely fast, complex, realtime applications... Having to use a third party like sendgrid to handle emails seems odd to me. I mean, for an application sending emails to customers is fundamental, why is this not being part of the core functionalities of firebase? Maybe firebase hosting?

[2019-12-17 06:38] karayu commented on #77
This looks like it's covered by #108

[2019-12-17 06:38] #77 closed

[2019-12-17 10:20] Cybergebi commented on #130
I setup the Extension for the First Time yesterday and i get exactly the same Error

[2019-12-17 19:11] laurenzlong commented on #72
Hey @GeeDollaHolla v0.1.3 should already fix the issue of reading the contentType from the original image (https://github.com/firebase/extensions/issues/20). We will work on fixing issue #20 which is a slightly different issue.Thanks for reporting!

[2019-12-17 19:11] #72 closed

[2019-12-17 19:14] laurenzlong commented on #20
@Salakar We should support file names without file type extensions. Can you work on a PR to fix this?

[2019-12-17 19:25] laurenzlong commented on #20
Actually I see it's fixed in https://github.com/firebase/extensions/pull/134 :)

[2019-12-17 19:30] laurenzlong commented on #135
Duplicate of https://github.com/firebase/extensions/issues/20

[2019-12-17 19:30] #135 closed

[2019-12-17 19:38] jhuleatt commented on #122
This was caused by an issue in the Firebase Authentication back end and has been fixed: https://groups.google.com/d/msg/firebase-talk/ROXTbooVzlM/ZhhMefjqAwAJ

[2019-12-17 19:41] laurenzlong commented on #94
We plan to address in the new year by considering a new param type that allows more ergonomic way to input multiple string.

[2019-12-17 19:42] laurenzlong commented on #113
@fredzqm and @IanWyszynski can you comment on the feasibility of this?

[2019-12-17 19:44] laurenzlong commented on #96
We plan to address this more holistically across all extensions by being more clear about what "deployment location" means.

[2019-12-17 19:44] #122 closed

[2019-12-17 19:46] laurenzlong commented on #130
@Ehesp can you try to repro?

[2019-12-17 20:07] laurenzlong commented on #41
Hi, we are not planning to offer an email service within Firebase in the forseeable future.

It seems like the workaround in https://github.com/firebase/extensions/issues/41#issuecomment-554705606 is the best approach. Perhaps we can document this more clearly.

[2019-12-17 21:39] karayu commented on #84
Hi Tako,

Thanks so much for the feedback! After reviewing with the team, we realized that ImageMagick is pretty involved and would change the scope of this extension significantly. We're going to hold off on making this change and instead consider building a new extension for ImageMagick. I'll close this for now and track that effort internally.

Thanks again for using extensions!
Kara

[2019-12-17 21:39] #84 closed

[2019-12-17 21:46] karayu commented on #124
Hi!

Thank you so much for this FR. As mentioned in #84, we're thinking about this in terms of building a new extension specifically for ImageMagick where we can surface a lot more of the functionality. We're tracking that internally so I'll close this for now.

Thank so much for using extensions!
Kara

[2019-12-17 21:46] #124 closed

[2019-12-17 21:48] karayu commented on #101
Closing since the PR is merged

[2019-12-17 21:48] #101 closed

[2019-12-17 21:53] fredzqm commented on #113
[code]
Yes, just create two extension writing to the same DATASET_ID and TABLE_ID.

It will just work. (The nice part about schema-less export format.)

[2019-12-17 22:20] laurenzlong commented on #113
Thanks for confirming! I'm leaving this issue open to track documenting the script @IanWyszynski outlined in https://github.com/firebase/extensions/issues/113#issuecomment-555679921. When you get a chance, it would be great if you can make a PR to add it.

[2019-12-17 22:22] laurenzlong commented on #121
Done in https://github.com/firebase/extensions/pull/125

[2019-12-18 23:19] jhuleatt opened #139 "(firestore-bigquery-export) 🔍 Generate views of exported Cloud Firestore data in BigQuery"
# Extension name

[code]

# Feature

The[ _Export Collections to BigQuery_ extension](https://firebase.google.com/products/extensions/firestore-bigquery-export/) sends realtime, incremental updates from a specified Cloud Firestore collection to BigQuery. This raw changelog contains all the raw data needed to monitor a Cloud Firestore collection, but understanding the data requires more advanced Bi

[2019-12-19 10:01] harshapulikollu opened #140 "unable to use rezised images through public url"
### [READ] Step 1: Are you in the right place?
Yes.

### [REQUIRED] Step 2: Describe your configuration

- Extension name: **\_** (`storage-resize-images`)
- Extension version: **\_0.1.3**

### [REQUIRED] Step 3: I'm unable to access the resized images through a public(download) url from my flutter app, like I'm able to retrieve original image. I don't see any reason to use this extension if i can

[2019-12-19 14:32] Ehesp commented on #130
I'm struggling to reproduce this. I've tried an existing instance and a totally fresh one but I can't trigger this error.

Could I ask how you are uploading an image?

If I were to stake a guess, when the image is added, we pass it's data into the resizer function, which attempts to assign a `metadata.resizedImage` field on-top of the original images metadata. I think that depending on *how* the i

[2019-12-19 22:29] Cybergebi commented on #130
I'm using the Google Cloud Storage Client for PHP.
The Upload is successful and the picture is also correct. The Error appears on every image i upload.

[2019-12-19 23:20] thomasmburke commented on #130
I have reproduced the issue by running the following command and supplying the following inputs:

`firebase ext:install storage-resize-images --project=projectId`

i  extensions: ensuring necessary APIs are enabled...
⚠  extensions: missing necessary APIs. Enabling now...
✔  extensions: all necessary APIs are enabled
i  extensions: Resize Images will be granted the following access to project ${pr

[2019-12-20 09:47] Ehesp commented on #130
Right, thanks for the feedback. It would make sense then that depending on *how* the image is uploaded, the metadata object assigned to the original image can be `undefined` or an empty object leading to this issue.

I'll get a PR up which ensures metadata is always present.

[2019-12-20 10:26] Ehesp commented on #130
I've confirmed that was the issue (and replicated). PR up fixes it.

[2019-12-20 21:14] alexrad89 opened #143 ""User does not have an email" message when user DOES has email."
### [REQUIRED] Step 2: Describe your configuration

extensions/auth-mailchimp-sync/

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Mobile authentication setup with social media platforms in firebase. After user authenticates successfully and user data can be seen in firebase, the ext-auth-mailchimp-sync-addUserToList function Throws  "User does not have an email"

If this

[2019-12-20 21:46] alexrad89 commented on #143
One thing I noticed is that actually also on the Android side: user.getEmail() is null even when user is signed in... If the email is null then how come it exists in the "Authentication" tab in firebase under "Identifier"??? Hmmm.

[2019-12-20 22:25] alexrad89 commented on #143
ok for some reason this was a cause because i had "Allow creation of multiple accounts with the same email address". After selecting the other option everything works!!!! YESS
![single user](https://user-images.githubusercontent.com/4390213/71296479-60aeb780-2345-11ea-8ec6-1fe32eb0223a.png)
!

[2019-12-20 22:25] #143 closed

[2019-12-21 19:03] brandonpearcy commented on #140
+1 to this. I have not found a convenient way to make the resized images publicly accessible without doing manual post-processing with additional cloud functions.

The generated thumbs have no access token visible in Firebase console, there is no clickable link to view the images, and the preview of the image never loads (infinite spinner).

<img width="1267" alt="Screen Shot 2019-12-21 at 10 57 1

[2019-12-21 22:53] NicolasMaas commented on #140
I'm facing the same issue... Seems kind of pointless at the moment to use this extension at all.

[2019-12-23 21:02] garciapd commented on #17
Hi, any suggestion to import a sub-collection? like the proposed one `chats/myChatId/posts`??

[2019-12-23 21:38] MattReidArnold commented on #17
@kienner-philippe and @garciapd, I was able to get around this by making my own copy of the script and modifying the query to use collectionGroups.

Changed this:
https://github.com/firebase/extensions/blob/next/firestore-bigquery-export/scripts/import/src/index.ts#L188

To this:
[code]

Added these to my package.json:
[code]
Then I just run my local version of the script using `ts-node` with some

[2019-12-24 00:27] garciapd commented on #17
Thanks @MattReidArnold !! it does work ;)

[2019-12-26 06:45] jinalptl1993 opened #144 "Image is not getting resized sometimes(storage-resize-images extension)"
While uploading too many images frequently,
I can see below stack trace in logs.

[code]

[2019-12-26 15:42] theavijitsarkar commented on #130
Until the code is merged, it can be solved by passing a metadata inside the metadata.

[code]

[2019-12-27 09:25] Ehesp commented on #144
Hi @jinalptl1993 - could you please supply some more information by following the issue template, as well as:

- Type of image uploading (size, extension etc).
- Extension configuration.
- How are you uploading the image?

Thanks.

[2019-12-29 23:47] mapkbalaji commented on #27
Is there any progress to this bug? I couldn't choose a source from a different bucket. As of now, is there an option to choose a source from a directory from the default bucket?

[2019-12-30 00:04] mapkbalaji commented on #18
@textcolor Thanks. This worked. But, it shows "Error installing." in the Extensions section and shows the old bucket name. And, is it not possible to choose a source folder?

[2019-12-30 16:47] ccjernigan opened #148 "Can't Delete Directory of Files"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2019-12-30 17:45] Ehesp commented on #148
I *think* this should be possible... There isn't a way to directly delete a directory in Firebase/Google storage, however it looks as though `deleteFiles` accepts a `prefix` parameter.

I'll give this a go and see if it works with a directory & file.

[2019-12-30 18:45] laurenzlong commented on #27
@Ehesp @Salakar is this something you can make a pull request for? Thanks!

[2019-12-30 18:58] lepatryk commented on #64
The easiest way to achieve it is to lower the max number of shards to 100.

Here's a PR to do that: https://github.com/firebase/extensions/pull/149

[2019-12-30 19:01] laurenzlong commented on #64
Thanks!

[2020-01-02 14:24] TiagoGouvea commented on #140
Happening with me also.

On my "dev" project, sending a new image trough firebase console or by code, it generates the public URL of the resized file.
- [Resized image on dev project](https://firebasestorage.googleapis.com/v0/b/whereami-dev.appspot.com/o/images%2F98453cef-5e3a-4423-93ce-7fde2e61c67b_650x500.jpg?alt=media&token=5ff48935-88dc-4973-9968-5c13001a9408)

On my "prod" project it don't.
-

[2020-01-02 16:55] ashanker2 commented on #130
Is there an ETA for merging this PR?
https://github.com/firebase/extensions/pull/142

[2020-01-03 10:14] kikisrijita opened #154 "Facing issues while implementing firebase extentions:-email trigger"
### [REQUIRED] Step 2: Trigger Email

This feature request is for extension:  (firestore-send-email)

### What feature would you like to see?
while using this extension with valid details, the status field is stuck into PROCESSING..

### How would you use it?

THIS IS MY CODE SNIPPET

/*************---------EMAIL TRIGGER FUNCTION SETUP-----------*********/

![email2](https://user-images.githubuser

[2020-01-03 10:49] Ehesp commented on #154
Hi kikisrijita

What are you using for your SMTP provider? This usually happens when `nodemailer` cannot fully connect to the STMP provider, even though it may exist.

[2020-01-03 11:00] kikisrijita commented on #154
I am using AmazonSES as my smtp provider.

On Fri, 3 Jan 2020, 16:19 Elliot Hesp, <notifications@github.com> wrote:

[2020-01-03 17:22] mbleigh commented on #154
Do you see any error messages in the Cloud Functions logs associated with the extension? The function is most likely crashing and there may be more details in the logs.

[2020-01-03 17:56] kikisrijita commented on #154
Yes its showing error while delivering message ..And **Error: getaddrinfo
ENOTFOUND**

On Fri, 3 Jan 2020, 22:52 Michael Bleigh, <notifications@github.com> wrote:

[2020-01-05 21:54] linxydmhg opened #155 "Trigger Cloud Function after Extension has finished"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2020-01-06 13:01] Ehesp commented on #155
Hi @linxydmhg

Thanks for the detailed explanation. Right now, the best option would be a custom cloud function which listens to new Storage files being added.

[2020-01-06 18:10] smbowler commented on #140
Just FYI, I'm following along on this thread. I'm hoping a solution is found soon. Thanks

[2020-01-07 19:17] laurenzlong commented on #130
We are planning to release #142 this Thurs

[2020-01-07 19:30] ashanker2 commented on #130
Thank you @laurenzlong

[2020-01-07 20:11] karayu commented on #11
Thanks so much for the feature request! This makes a lot of sense to track the original image. However, given you can have multiple Resize Image extensions for multiple phone sizes and this should be a two-way sync (the link should update if images get deleted), the implementation is a bit complicated.

A more flexible solution seems like it would be a new extension that manages a Firestore collec

[2020-01-07 20:11] #11 closed

[2020-01-07 21:08] smbowler commented on #140
Hi @Ehesp, happy New Year. I just wanted to check-in to see if there was a solution to this issue. It seems to be the same issue presented in #155

My development team paused development on our own solution when we found the firebase photo-resizing extension, but are awaiting your response to these two issues before we dedicate time to implementing and debugging.

Any insight would be greatly appr

[2020-01-07 21:34] #130 closed

[2020-01-08 17:46] karayu commented on #8
Thanks so much for the feature request Alex! This feature would definitely make this extension a lot more powerful and helpful for GDPR.

In chatting with others, there is quite a bit of complexity in this feature since the relationship between a user and an item can be different. Someone could be helping manage an item's sale rather than the seller themselves and in that case we would want to del

[2020-01-08 17:46] #8 closed

[2020-01-13 16:38] larssn commented on #113
Cool script, works like a charm (I'm brand new at this).

I have a pretty complex object, and was wondering if the type `array`, supports objects?

Here's the gist of it:
[code]

Is it possible to query a single `OrderItem` on a given `Order`, by `name`, f.ex?

[2020-01-13 20:13] rphlmr commented on #113
Hi @larssn
In your case i would probably have a collection for Orders, OderItems ans Payments.
In orders i will store orderItem ids and payment ids (data normalization).
It's more easy to make queries, manage state in front end etc.

With this example, in bigquery, you will have a json "stringifyed" in fields 'orderItems' and 'payments'. Bigquery is just normal sql wich knows primitives types.

[2020-01-14 00:33] mauzepeda opened #160 "[Trigger Email] The functions aren't working after update"
If I go to Function Details in GCP the function displays an error sign with the message "Unknown function status". If I go to the link in the source location the window automatically closes, if I try to download the zip file with the source, it says "NoSuchBucket", ''The specified bucket does not exist.'.
It seems like the source is not being downloaded from cloud storage.

### [READ] Step 1: Are

[2020-01-14 08:58] larssn commented on #113
@rphlmr
I figured out a bit. I modified the array function to be the following:
[code]

That seems to allow me to query order items by name or quantity.

The query looks fairly standard:
[code]

Do you know how all the `JSON_EXTRACT` operations performs?

[2020-01-14 09:28] rphlmr commented on #113
Nice :p

I don't know about performance of JSON_EXTRACT but that what the script do to produce its view. So it seems fine for me.

[2020-01-14 17:51] #121 closed

[2020-01-16 11:56] zigapovhe opened #166 "[delete-user-data] is still using pre-GA v0.1 and v1beta1 endpoints"
- Extension name: **\_** (`delete-user-data`)
- Extension version: **\_** 0.1.2

I've received an email from Google Cloud Platform today, as a reminder, that I'm still calling the pre-GA v0.1 and v1beta1 endpoints of the App Engine and Cloud Functions metadata server. They said that these legacy endpoints are scheduled to be turned down on April 30, 2020. After April 30, 2020, requests to the v0.1

[2020-01-16 14:03] lars-sorensen commented on #140
I am also wondering this. Also wondering about the lack response here...

[2020-01-16 16:22] cedgen commented on #113
I use this command:
`npx @firebaseextensions/fs-bq-schema-views   --non-interactive   --project project-id   --dataset dataset-id   --table-name-prefix users   --schema-files firebase_scheme1`
but all I get is "Unexpected token ':'" or "Cannot read property 'map' of undefined"

[2020-01-16 17:14] cedgen commented on #113
Now I get this:
[code]

[2020-01-16 17:21] cedgen commented on #113
´´´
{"code":409,"errors":[{"message":"Already Exists: Routine project-id.firestore_users_export.firestoreArray","domain":"global","reason":"duplicate"}],"message":"Already Exists: Routine project-id.firestore_users_export.firestoreArray"}
Already Exists: Routine project-id.firestore_users_export.firestoreArray

[2020-01-18 23:46] jcapogna opened #167 "[firestore-send-email] Allow specifying from name in "Default FROM address" in configuration"
###  Extension name

This feature request is for extension: firestore-send-email

### What feature would you like to see?

I would like to be able to specify a name in the "Default FROM address" configuration field.
Currently only a raw email address passes the validation rules for the field.

This could either be done as a separate configuration option or by allowing email addresses of the follow

[2020-01-19 03:14] babkouew opened #168 "[Firebase - Bitly - Url Shortener] Feature Request - Update long url"

[2020-01-19 17:53] #168 closed

[2020-01-19 18:41] babkouew opened #170 "[Firestore-shorten-urls-bitly] Extension will break down if not updated to Bitly APIv4 by deadline March 1st, 2020"
Hi Firebase Extension Team -

I recently installed the Firestore-shorten-urls extension via the Firebase Console but while auditing the extension I noticed that calls to the Bitly API were reliant on the library node-bitly which is not maintained anymore.

This is problematic because Bitly is deprecating its old APIv3 for a new one APIv4 and is asking developers to migrate before March 1st, 2020,

[2020-01-19 21:35] tanepiper commented on #170
Hi there, author of the Bitly library here - yes I can confirm I have no intention of spending any time working on the existing bitly library - I've since moved on from needing to use it and have been calling for new maintainers, or for some support to maintain it, but sadly neither have materialised (despite 13k downloads per week - so I suspect it's not just Firebase that's about to break)

In t

[2020-01-20 08:58] Ehesp commented on #170
Hey, thanks for brining this up. I'll take a look at the library you linked and see if we can port it over. Thanks.

[2020-01-20 09:58] licalac commented on #48
Hi everyone,

I'm using Trigger mail Version 0.1.2 and just have same issue today ...

mail-processQueue - Unhandled error occurred during processing: { Error at Http2CallStream.call.on (/srv/node_modules/@grpc/grpc-js/build/src/client.js:96:45) at emitOne (events.js:121:20) at Http2CallStream.emit (events.js:211:7) at process.nextTick (/srv/node_modules/@grpc/grpc-js/build/src/call-stream.js:71:2

[2020-01-21 10:16] Ehesp commented on #170
Pushed up a non-breaking PR for this. Decided to just directly send a POST request to the v4 API rather that use the library above, as it's lightweight and also seems overly complicated for our own needs.

Need to test it a bit more before merging.

[2020-01-21 10:17] #148 closed

[2020-01-21 10:17] #27 closed

[2020-01-21 10:18] #20 closed

[2020-01-21 10:18] #64 closed

[2020-01-21 10:20] babkouew commented on #170
Excellent - looking forward to it.

[2020-01-21 19:02] karayu commented on #113
The detailed instructions for the script has now been merged in #161 . I'm closing this now. Please reopen if there's any other issues!

[2020-01-21 19:02] #113 closed

[2020-01-21 21:52] rachelsaunders commented on #41
PR #172

[2020-01-22 12:09] anthowm opened #173 "resize with different parameters for specific folder from storage"
### Step 2: storage-resize-images

This feature request is for extension: storage-resize-images.

### What feature would you like to see?

Maybe this is a question, there is a way to apply differents parameters for specific folders ?
ex.
I have 2 folders:
/profile --> I want 40x40 and 180x180
/Images --> I want 200x300, etc.

### How would you use it?

Well I want to avoid extra billing from Image

[2020-01-22 16:16] fgatti675 commented on #48
Got the same with 0.1.2:
`Unhandled error occurred during processing: { Error
    at Http2CallStream.call.on (/srv/node_modules/@grpc/grpc-js/build/src/client.js:96:45)
    at emitOne (events.js:121:20)
    at Http2CallStream.emit (events.js:211:7)
    at process.nextTick (/srv/node_modules/@grpc/grpc-js/build/src/call-stream.js:71:22)
    at _combinedTickCallback (internal/process/next_tick.js:13

[2020-01-22 18:39] rosariopfernandes commented on #173
It is possible to have more than one instance of the same extension, so my recommendation would be having 2 different instances of the storage-resize images. You can configure the first instance to resize images from `<your-bucket-url>/profile` with the sizes `40x40,180x180` while the second instance resizes images from `<your-bucket-url>/Images` with the size `200x300`.

[2020-01-23 00:02] tanepiper commented on #170
Up to you, but in the end I have decided (after seeing your PR that it might be easier than expected) to update the library. I'm aiming to have it over before end of January. But I agree even my library is probably overkill for what you need https://github.com/tanepiper/node-bitly/pull/73

[2020-01-23 01:12] anthowm commented on #140
In my backend I generate signedUrls dont like this way but also is weird that in my frontend I need to delay the get of resized images because it return to me 404 if not delay it for 2000 (the next times to access to resized images works without delay...).
When the original file works like a charm with signedUrl ...

First call is original file the second is the resized:
![image](https://user-imag

[2020-01-23 12:18] mrinal2305 opened #174 "Image resize extension not working"
When i trying to open resized image ,it didn't open and when i open image in browser it go to "https://console.firebase.google.com/u/0/undefined"  url and show 404 error and when i try to open in firebase Spinner run for infinite times ,and not showing any result.
![Screenshot from 2020-01-23 17-43-28](https://user-images.githubusercontent.com/45876327/72983839-49615f00-3e08-11ea-8333-79a0045f47a5

[2020-01-24 13:52] babkouew commented on #170
I have implemented a custom trigger function in the meantime instead of the extension and I can confirm that [bitly-node-api](https://github.com/vijaypatoliya/bitly-node-api ) works with Bitly APIv4.

[2020-01-24 21:40] codersmoon opened #175 "image cannot read property startswith of undefined"
Hİ.I use google cloud firebase image extantion for image resizing ( for google cloud storage images ) ; but i get this error :

`TypeError: Cannot read property 'startsWith' of undefined
at Object.exports.isImage (/srv/functions/lib/validators.js:18:48)
at Object.<anonymous> (/srv/functions/lib/index.js:47:32)
at Generator.next (<anonymous>)
at /srv/functions/lib/index.js:22:71
at new Promise (<an

[2020-01-25 13:11] Ehesp commented on #175
Hi @codersmoon please could you provide more details about your setup:

- Version of extension
- Arguments which you set it up with
- Replication flow

Thanks

[2020-01-25 13:12] Ehesp commented on #173
Hey, yep what @rosariopfernandes said is the recommended solution at the moment.

[2020-01-25 13:12] #173 closed

[2020-01-25 13:13] Ehesp commented on #170
@laurenzlong any preference on implementation here? It's currently setup to do a direct POST with `axios` but it seems other libraries are migrating to v4 so could use those?

[2020-01-25 23:05] oseiasmribeiro commented on #175
I also having the same problem. I used  images captured by image_picker and image_cropper in Flutter to login with firebase.

[2020-01-26 00:13] anthowm commented on #173
@Ehesp It not works can you reopen ? read stackoverflow thanks!

[2020-01-26 08:53] Ehesp commented on #175
So this error would be thrown when no `contentType` exists. How are you uploading this image? What is being uploaded?

[2020-01-26 14:34] oseiasmribeiro commented on #175
The user uploads a photo from the gallery or the camera, after then uploads for Firebase Storage.
I'm using this function on the flutter:
`Future<void> uploadImage() async{
    FocusScope.of(context).requestFocus(FocusNode());
    FirebaseUser firebaseUser = await _firebaseAuth.currentUser();
    if(firebaseUser != null){
      if(_imageAvatar != null){
        StorageReference folderRoot = _fireb

[2020-01-27 06:03] codersmoon commented on #175
i use node.js app on google cloud run for image upload to google cloud storage.if i upload with firebase console works perfectly; but i use my app , images do not contain content type.İt doesn't work when changing the content type after uploading.like this :
`gsutil -h "Content-Type:image/jpg" \`
i ı do this , images get content type;but again not work .ty.

[2020-01-27 09:39] Ehesp commented on #175
Thanks, I'll take a look into both situations.

[2020-01-27 09:43] Ehesp commented on #166
@laurenzlong the `specVersion` for every extension is using `v1beta`. I'm not 100% sure what happens behind the scenes, but is the change to fix this issue just this version or does it require internal changes too?

[2020-01-27 09:48] codersmoon commented on #175
my cloud run node js version is different from firebase image ext.

[2020-01-27 17:33] xrossapp opened #176 "Misleading documentation for firestore-counter"
### [READ] Step 1: Are you in the right place?

### [REQUIRED] Step 2: Describe your configuration

- Extension name: Distributed counters.

### [REQUIRED] Step 3: Describe the problem

Referring to Distributed Counters, documentation states:
Here are some features of this extension:
Scales from 0 updates per second to at least 10,000 per second.

Documentation for Cloud Firestore states this limi

[2020-01-27 18:05] oseiasmribeiro commented on #175
The images generated by the ResizeImages extension do not enter the Storage with Access Token. If I select the image in the Storage Console -> Access Location (in the right panel) -> Create Access Token, solves the problem for the current selected image. The Token should be created automatically.

[2020-01-27 18:17] oseiasmribeiro commented on #174
The images generated by the ResizeImages extension do not enter the Storage with Access Token. If I select the image in the Storage Console -> Access Location (in the right panel) -> Create Access Token, solves the problem for the current selected image. The Token should be created automatically.

[2020-01-28 18:35] jhuleatt commented on #28
@voxelbusters `FieldValue.increment` is the right thing for incrementing a value, but it doesn't solve the underlying problem that a Firestore document can only be updated about once per second. More info [here](https://firebase.google.com/docs/firestore/solutions/counters).

[2020-01-28 18:59] jhuleatt commented on #28
We're not planning an official implementation for any other clients at this time, and we've changed the name of the "Web Client SDK" to "client sample" to try to make that a little more clear.

The [typescript sample implementation](https://github.com/firebase/extensions/blob/next/firestore-counter/clients/web/src/index.ts) is a good starting place for a node.js implementation of the counter.

In

[2020-01-28 18:59] #28 closed

[2020-01-28 19:27] jhuleatt commented on #18
I've posted a Stack Overflow answer [here](https://stackoverflow.com/a/59760111/4816918) that should help in this case.

[2020-01-28 19:34] laurenzlong commented on #176
https://github.com/firebase/extensions/pull/179

[2020-01-28 22:54] laurenzlong commented on #166
specVersion is completely separate from what this warning message is about. @zigapovhe please update your extension to v0.1.3, which has the latest firebase-admin dependency (that's probably what caused the warning email, see https://cloud.google.com/compute/docs/migrating-to-v1-metadata-server#supported-google-libraries)

[2020-01-28 22:54] #166 closed

[2020-01-28 23:59] laurenzlong opened #181 "Update firebase-functions and firebase-admin for firestore-counter"
### [REQUIRED] Step 2: Extension name

firestore-counter

### What feature would you like to see?

As a follow-up to https://github.com/firebase/extensions/pull/125, typing issues should be fixed and firebase-functions and firebase-admin updated to the latest versions.  See https://cloud.google.com/compute/docs/migrating-to-v1-metadata-server#supported-google-libraries, which indicates we should b

[2020-01-29 23:23] laurenzlong commented on #170
Directly interacting with v4 API sounds good.

[2020-01-30 13:53] mohamedaboelmagd opened #182 "sudo npx @firebaseextensions/fs-bq-import-collection doesn't work"
I tried to import collection without sudo too.

* Output `sudo npx @firebaseextensions/fs-bq-import-collection doesn't work`

`sudo npx @firebaseextensions/fs-bq-import-collection
gyp ERR! configure error
gyp ERR! stack Error: EACCES: permission denied, mkdir '/home/.npm/_npx/4016/lib/node_modules/@firebaseextensions/fs-bq-import-collection/node_modules/grpc/build'
gyp ERR! System Linux 4.15.0-66-

[2020-01-31 08:02] #176 closed

[2020-01-31 08:04] Ehesp commented on #167
Hey @jcapogna - could you confirm whether [this regex](https://regex101.com/r/H4gvGO/2) covers your use cases? Think it should!

[2020-01-31 08:06] Ehesp commented on #160
Hey @mauzepeda

Sorry to hear you're having issues.

XFN Team: Are there any logs that can be provided here to help debug the issue - not come across this one before.

[2020-01-31 08:19] Ehesp commented on #175
https://github.com/firebase/extensions/pull/183

[2020-01-31 08:22] Ehesp commented on #182
@mohamedaboelmagd try running this command without the `sudo` part. At a guess, I think the `/home/.config` directory has your user permissions.

[2020-01-31 17:49] mauzepeda commented on #160
It seems like the issue is related to the fact that removing and
reinstalling an extension is not equivalent to installing an extension for
the first time.
If I delete the function, and reinstall it, the Stackdriver logs show as if
it is the same function and it was never deleted. Is this expected? I also
suspect
it could be related to permissions / service accounts (and the deletion and
reinstall

[2020-02-01 23:08] jcapogna commented on #167
@Ehesp That looks good to me

[2020-02-02 07:06] #174 closed

[2020-02-02 08:39] mohamedaboelmagd commented on #182
Importing data from Cloud Firestore Collection: domains, to BigQuery Dataset: firestore_export, Table: domains_raw_changelog
Error importing Collection to BigQuery: Error: EACCES: permission denied, open '/home/mohamed/.config/gcloud/application_default_credentials.json'

This file is empty

[2020-02-02 09:42] mohamedaboelmagd commented on #182
I solve it by

[2020-02-02 09:42] #182 closed

[2020-02-03 07:04] mohamedaboelmagd commented on #17
I don't find this file in my node modules folder
https://github.com/firebase/extensions/blob/next/firestore-bigquery-export/scripts/import/src/index.ts#L188
where can I found it?

[2020-02-03 07:05] mohamedaboelmagd commented on #17
I don't find this file in my node modules folder
https://github.com/firebase/extensions/blob/next/firestore-bigquery-export/scripts/import/src/index.ts#L188
where can I found it?

[2020-02-03 09:33] Ehesp commented on #144
Closing due to inactivity - please respond with the questions and we'll happily reopen. Thanks!

[2020-02-03 09:33] #144 closed

[2020-02-03 09:36] Ehesp commented on #154
@kikisrijita this indicates that you have entered SMTP provided aren't working correctly as they're not accepting the credentials. The extension is stuck on `PROCESSING` due to the SMTP provider not returning a response code.

Going to close this one for now, happy to assist further though in this issue.

[2020-02-03 09:36] #154 closed

[2020-02-03 09:38] Ehesp commented on #18
Closing via https://github.com/firebase/extensions/pull/153

[2020-02-03 09:38] #18 closed

[2020-02-03 11:26] mohamedaboelmagd commented on #17
solve it by
    "install-fs-bq-import-collection": "mkdir ~/.npm-global && npm config set prefix '~/.npm-global' && export PATH=~/.npm-global/bin:$PATH && source ~/.profile && npm i -g @firebaseextensions/fs-bq-import-collection && NPM_CONFIG_PREFIX=~/.npm-global",
    "import-collection": "sudo /home/mohamed/.npm-global/lib/node_modules/@firebaseextensions/fs-bq-import-collection/lib/index.js"

[2020-02-03 19:34] thefirestrings666 commented on #174
Hello!

I would like to know if it's possible to allow token automatically without going to the console

Thanks in advance for your help

Have a nice day

[2020-02-04 17:43] #181 closed

[2020-02-04 18:14] IanWyszynski opened #187 "Add strong types to some internal structs in firestore-bigquery-export"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2020-02-05 22:14] joehan opened #191 "[firestore-counter] Use handler namespace for all exported functions"
Describe your configuration

- Extension name: firestore-counter
- Extension version: any
### [REQUIRED] Step 3: Describe the problem
We currently define some exported functions using the normal functions namespace instead of the handlers (ie https://github.com/firebase/extensions/blob/next/firestore-counter/functions/src/index.ts#L77). This is misleading - any triggers declared within the code wi

[2020-02-06 11:03] #170 closed

[2020-02-06 11:04] Ehesp commented on #80
Fixed via https://github.com/firebase/extensions/pull/131

[2020-02-06 11:05] Ehesp commented on #96
Closing via https://github.com/firebase/extensions/pull/159

[2020-02-06 11:05] #96 closed

[2020-02-06 13:33] joaqcid opened #192 "Error when running fs-bq-import-collection. PartialFailureError"
### [REQUIRED] Step 2: Describe your configuration

- Extension name: ** fs-bq-import-collection **
- Extension version: ** N/A **
- Configuration values (redact info where appropriate):
  - ** project: pats-production **
  - ** collection: oilworx-customers **
  - ** dataset: firestore_export **
  - ** table_prefix: oilworx_customers **

### [REQUIRED] Step 3: Describe the problem
When running `n

[2020-02-06 15:54] cedgen commented on #192
I have the exact same error. And it also worked for me some weeks ago.

[2020-02-07 10:08] lsps9150414 commented on #34
Hey @jhuleatt thanks for the summary. So is the current plan to call `getDownloadURL` by the extension so that we can get `firebaseStorageDownloadTokens` in the metadata via `storage.object().onFinalize()` triggers?

[2020-02-07 17:02] dperezrada commented on #192
I was having the same problem.
This is [related to](https://github.com/googleapis/nodejs-bigquery/issues/612)

The version of the bigquery "@google-cloud/bigquery": "^2.1.0", is a really old one. I had a newer version, I was having problem with this file `firestore-bigquery-change-tracker/src/bigquery/index.ts`. In particular, the way they ser calling the `insert(payload, options)` It seems that n

[2020-02-07 17:41] cedgen commented on #192
Unfortunately this is not solving the issue for me. I reinstalled the dependencies but still get the same error.

[2020-02-08 14:12] balazsorban44 opened #194 "[firestore-translate-text] add shouldUpdate option to config"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2020-02-08 23:25] Tovock opened #196 "Cannot read property 'fields' is undefined when running fs-bq-schema-views"
Updated all schema views without issue, but when checking data noticed on field was null, reviewed and noticed the mistake in the json. Corrected and attempted to run the script again. It will do the changelog fine, but after it finishes and moves to do latest it displays "Cannot read property 'fields' is undefined ". Also after the failure to check ran again using the previous json that worked fi

[2020-02-09 14:40] joaqcid commented on #192
i was able to import rows updating bigquery lib to "@google-cloud/bigquery": "^4.7.0", and changing the insert method to do :
`await table.insert(rows, options);` where options are
[code]

also created a PR to address this issue, @IanWyszynski can you look at it and let me know if  it looks good to you? thanks!

[2020-02-09 21:06] NickFoden commented on #140
In the extension configuration steps within the firebase console, there needs to be an option to enable the access token for the created thumbnails or could/should even be defaulted to a valid access token similar to behavior of the regular file upload to storage.

This is crucial for being able to use this extension. Was searching on how to use the created thumbnails and have only hit dead ends.

[2020-02-10 04:18] geoffbullen commented on #192
Hi @joaqcid

You seem to have solved this, but I wasn't able to replicate what you did.   I cloned the repo and updated the dependecy to 4.7, but that didn't seem to help when I ran it again.

Could you do an idiots guide version of your above comment please?

[2020-02-10 08:37] asikand commented on #192
I made the changes suggested in the PR to the index.js file (not using Typescript) and I updated the dependency to 4.7 but I'm still getting the error.

[2020-02-10 13:51] joaqcid commented on #192
hi all,

i creted a branch "run-manual-import" on my fork for to run it manually, https://github.com/joaqcid/extensions

from there, you need to
- npm install in firestore-bigquery-change-tracker folder (dont mind the errors)
- npm install in scripts/import folder
- npm run import

hope this helps

[2020-02-10 13:54] tptshoe commented on #196
I'm experiencing the same issue. Here's the tail end of the console output I see:
[code]

[2020-02-10 19:13] asikand commented on #192
@joaqcid Do I want to use the fix-bq-import fork or the run-manual-import fork?

[2020-02-10 19:26] joaqcid commented on #192
run-manual-import

[2020-02-10 21:44] geoffbullen commented on #192
@joaqcid.   Thanks a heap, worked a treat...

[2020-02-11 08:19] lsps9150414 commented on #140
@NickFoden Have been stuck with this as well. My workflow is:
Client upload to storage => resize extension => onStorageFinalize => cloud function to blur image & upload to storage again

So in the end I have:
- the original uploaded image
- the resized images
- the blurred images

I cannot find a solution to generate/get the downloadable URLs (containing the tokens) for the resized & blurred image

[2020-02-11 08:35] anthowm commented on #173
@Ehesp sorry for bothering but can you reopen this?

[2020-02-11 11:25] Ehesp commented on #196
Hi @Tovock - please could you follow the issue template. Your version / config setup would be great too, so we can help debug.

[2020-02-11 12:49] tptshoe commented on #192
Hi @joaqcid, thanks for posting this!! Unfortunately I just followed the instructions exactly and came out with the same error. Here's the full log output:

`
0 info it worked if it ends with ok
1 verbose cli [ '/Users/markflegg/.nvm/versions/node/v10.18.1/bin/node',
1 verbose cli   '/Users/markflegg/.nvm/versions/node/v10.18.1/bin/npm',
1 verbose cli   'run',
1 verbose cli   'import' ]
2 info usi

[2020-02-11 13:25] joaqcid commented on #192
@tptshoe i cant understand the error in the logs, try clearing all node_modules folders from the firebase/extensions and re-run npm install only under
/firestore-bigquery-export/firestore-bigquery-change-tracker
/firestore-bigquery-export/scripts/import

then run npm import under

/firestore-bigquery-export/scripts/import

[2020-02-13 07:16] madhudvs commented on #192
@joaqcid  i tried your solution
![Screenshot 2020-02-13 at 12 45 15 PM](https://user-images.githubusercontent.com/863475/74410259-b643a400-4e5e-11ea-8b6f-74ce03d3cd07.png)

getting this error  , it will be great if you can look into this

[2020-02-13 09:55] asikand commented on #196
This is also happening to me.

We are using firestore-bigquery-export to send data from a Firestore collection to BigQuery. The file `raw_changelog` and `raw_latest` files are fine but I am now unable to update `schema` table that is generated. I run the query that is generated by the fs-bq-schema-views extension and it does not update the 'schema' table with the most recent data.

I thought I wil

[2020-02-13 11:53] joaqcid commented on #192
hi @madhudvs are you using the branch from my fork? looking at the logs it seems like you are using a different versio

[2020-02-13 15:35] madhudvs commented on #192
Hi @jacquetd  am cloning from https://github.com/joaqcid/extensions
and did these steps
    npm install in firestore-bigquery-change-tracker
    npm install in scripts/import folder
    npm run import in import

[2020-02-13 16:32] cedgen commented on #192
@joaqcid I see the same error as @madhudvs, maybe you can go in a bit more detail on how to follow your fix. Thank you in advance :)

[2020-02-13 17:15] fischermatte commented on #192
@joaqcid thx a lot, this fix saved my day. by following those steps it worked with my firebase projects.

[2020-02-13 18:39] joaqcid commented on #192
are you executing steps on branch "run-manual-import" @cedgen @madhudvs ?

[2020-02-13 19:46] asikand commented on #196
We are using this data in production so if anyone could take a look at this issue for us we would greatly appreciate it.

[2020-02-14 01:10] madhudvs commented on #192
@joaqcid  @cedgen    the specific branch "run-manual-import" @ https://github.com/joaqcid/extensions fixed the issue ,  now i am able to import

[2020-02-14 01:34] dfdgsdfg opened #199 "[storage-resize-images] WebP support"
Seems `MIME type` `image/webp` is not support.

[code]

[2020-02-14 09:57] cedgen commented on #192
@joaqcid  yes, I downloaded the files on the branch "run-manual-import" and than did the steps but its still not working

[2020-02-14 10:15] russellwheatley commented on #199
Have tested and can confirm that this `MIME type` is not supported.

[2020-02-14 10:35] cedgen commented on #192
MacBook-Pro:import User$ npm run import

internal/modules/cjs/loader.js:796
    throw err;
    ^

Error: Cannot find module '/Users/user/node_modules/extensions-run-manual-import/firestore-bigquery-export/scripts/import/lib/scripts/import/src/index.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:793:17)
    at Function.Module._load (internal/modules/cjs/loader.js:686:27

[2020-02-14 13:23] russellwheatley commented on #199
After testing locally, I can confirm that the ImageMagick used under the hood by Cloud Functions is able to convert `webp` images. However, I'm using the latest version of ImageMagick. I suspect that the Cloud Functions are using an older version.

Cloud Functions use Ubuntu OS: https://cloud.google.com/functions/docs/concepts/exec

This link makes me wonder whether ImageMagick version might need

[2020-02-14 14:36] russellwheatley commented on #191
Hi @joehan, apologies, I'm not quite sure what you're asking 😅. The exported function names match the `resource.name` in the `extension.yaml` file. Could you please elaborate what you want to change the names to?

[2020-02-14 16:25] joaqcid commented on #192
@cedgen looks like it didn't compile scripts/import, and not finding the code to run. do you get any errors when you run npm install under scripts/import?

[2020-02-14 18:00] russellwheatley commented on #35
Work in progress PR #200

[2020-02-17 12:19] Steffi3rd opened #201 "storage-resize-images : Deploy failed. Too Many Requests"
### [READ] Step 1: Are you in the right place?

[code]
### [REQUIRED] Step 2: Describe your configuration

- Extension name: storage-resize-images
- Extension version: 0.1.4
- Configuration values (redact info where appropriate):
— DELETE_ORIGINAL_FILE : false
— EXT_INSTANCE_ID : storage-resize-images
— IMG_BUCKET : peperonnie-fb.appspot.com
— IMG_SIZES : 600x600
— LOCATION : europe-west1
— MOD_IN

[2020-02-19 23:13] laurenzlong commented on #199
I'm not sure but there's an easy way to find out! Deploy a function that has "npm" as a node module, and use `npm view` (https://docs.npmjs.com/cli-commands/view.html) to print out info about the package.

[2020-02-22 11:35] ccjernigan opened #206 "Delete User Data Deprecated API usage"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2020-02-24 02:22] sourcec0de commented on #192
@joaqcid this was a big help!!!!

[code]

[2020-02-24 10:23] cedgen commented on #192
@joaqcid no errors when doing npm install at scripts/import, but still get this error:
`13 verbose stack Error: @firebaseextensions/fs-bq-import-collection@0.1.3 import: `node ./lib/index.js`
13 verbose stack Exit status 1
13 verbose stack     at EventEmitter.<anonymous> (/usr/local/lib/node_modules/npm/node_modules/npm-lifecycle/index.js:332:16)
13 verbose stack     at EventEmitter.emit (events.j

[2020-02-24 11:19] joaqcid commented on #192
sorry @cedgen cant tell from the logs, what the problem might be, would recommend to start from a clean folder and see if that fixes it for you.

btw im running on node v10.17.0

[2020-02-25 11:30] russellwheatley commented on #201
Hi @Steffi3rd, I think this problem might be related to an issue `npm` had with their Cloudflare servers roughly the same time you raised this issue: https://github.com/npm/cli/issues/836.

Could you let us know if you're able to deploy at this moment in time?

Thanks.

[2020-02-25 12:29] stari4ek commented on #192
@sourcec0de ,
got compilation errors during install:

[code]

[2020-02-26 01:15] laurenzlong commented on #160
Thanks for the repro instructions! Let's check your hypothesis that deleting and reinstalling the same extension is what causes the issue. Can you try to install another instance of the same extension? (Without uninstalling the failed extension, go to https://firebase.google.com/products/extensions/ and install the same extension again. It will ask you to pick a different instance name, pick whate

[2020-02-26 23:15] mauzepeda commented on #160
Hi @laurenzlong , thank you for the follow up! This issue was being caused because I accidentally deleted the bucket where the functions lived (don't ask me how I did this). I worked with the firebase support team to restore this bucket because I was unable to deploy functions from firebase-tools too. After the bucket was restored and I reinstalled TriggerMail, the extension was able to write the

[2020-02-26 23:15] #160 closed

[2020-02-27 14:15] MichaelRShelton opened #209 "Send Mail: New Template Collection Not Found"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2020-02-27 18:01] laurenzlong commented on #160
Glad you got it sorted out! Thanks for the update.

[2020-02-27 18:51] stari4ek opened #211 "fs-bq-schema-views fails to add schema view for second table"
### [READ] Step 1: Are you in the right place?
yep

### [REQUIRED] Step 2: Describe your configuration

- Extension name: `firestore-bigquery-export` (`fs-bq-schema-views` script)
- Extension version: 0.1.1

### [REQUIRED] Step 3: Describe the problem

I have 2 instances of `firestore-bigquery-export` running, which export 2 different collections from firestore.
I've added schema view for 1st inst

[2020-02-28 19:16] DhavalW commented on #140
+1 & I don't think this is a token access issue.

In my workflow, I'm serving some images & assets from a path fully open to public. ie Access rules are set to :
[code]
For every asset I manually construct the public url for this path, and purposely do not include any access tokens. So far all images were served just fine. However images generated by this extension are not served.

Unfortunately t

[2020-02-28 19:43] NickFoden commented on #140
If you go find the new asset in your storage you can see the issue. Say you upload random.png go view in the web console and find it in storage. Expand file location and see an Access token
![image](https://user-images.githubusercontent.com/8321838/75581746-1e39e300-5a38-11ea-8194-91d4ea56b8ce.png)

Now do the same thing for the generated thumbnail say random_200x200.png. There is no access token

[2020-02-29 09:36] DhavalW commented on #140
@NickFoden Yep. tried that just afterwards and you're right - it works once the token is enabled. & since its manual, doing so at scale is simply not an option.

But why does it occur even when auth requirements are disabled in rules ? that doesn't make sense. All other images on that path get served just fine without a token.

Also shouldn't this issue be marked as a bug ?

[2020-03-01 04:04] michel-p opened #212 "Using Custom Helpers with Handlebars"
Hi,

I am using the latest version of the "Trigger Email" extension.
I am trying to use a custom helper by declaring it in my HTML but it doesn't work as I get the error

I am not sure how to implement those custom helper in the email-template, here is what I tried :

[code]

[2020-03-03 02:42] joshuarcher commented on #192
Also having this issue after node installs. Can anyone from the Firebase team merge this in?

[2020-03-03 05:02] karayu commented on #194
Thanks for the feedback Balázs! Thank you as well for using Firebase Extensions. We really appreciate that you made a feature request to solve this issue.

The team discussed this new feature at length and unfortunately we decided that it might be a confusing experience for some users. It sounds like with this implementation, the original text and the translations might fall out of sync, which mig

[2020-03-03 05:02] #194 closed

[2020-03-03 05:55] long1eu opened #213 "Custom extensions"
Is it possible to create my own extensions and distribute them?

[2020-03-03 08:10] Ehesp commented on #212
I'm not 100% sure, but shouldn't the Handlebars library only be used on a server environment and not on the client?

[2020-03-03 09:50] russellwheatley commented on #213
As far as I can tell, you have a couple of options. You could leave feedback [here](https://firebase.google.com/support/troubleshooter/report/features) for an extension feature request which the Firebase Extension team would consider.

Alternatively, if you're looking to distribute something yourself, you might consider writing your own [cloud function](https://firebase.google.com/docs/functions/?

[2020-03-03 17:49] mbleigh commented on #212
Correct -- Handlebars here is only being used in the Cloud Function created by the Extension. There is  currently no way to create custom helpers for the extension.

What I'd recommend you do instead is (depending on how your email needs to be triggered) create a [callable Cloud Function](https://firebase.google.com/docs/functions/callable) that will generate the HTML for the email using whatever

[2020-03-03 17:49] #212 closed

[2020-03-03 17:50] mbleigh commented on #209
Thanks for the report, this seems like a bug. @Ehesp can you investigate?

[2020-03-03 18:04] jhuleatt commented on #38
There is now a script for this 😃

https://github.com/firebase/extensions/blob/next/firestore-bigquery-export/guides/GENERATE_SCHEMA_VIEWS.md

[2020-03-03 18:05] #38 closed

[2020-03-03 20:56] #175 closed

[2020-03-05 11:58] #41 closed

[2020-03-05 12:05] Ehesp commented on #140
Implementation/fix details are being discussed. Once in place, I'll update this issue and start working on it... Thanks for your patience!

[2020-03-05 12:07] #167 closed

[2020-03-05 12:16] #35 closed

[2020-03-05 12:25] #40 closed

[2020-03-05 12:40] Ehesp commented on #34
There is overlap here with issue https://github.com/firebase/extensions/issues/140 - the issue is that the Admin SDKs (in our case NodeJS) cannot call `getDownloadURL`, as this needs to come from a client instance. We're currently discussing the best solution/idea to handle the tokens/download URLs.

[2020-03-05 15:02] russellwheatley commented on #192
A fix has been merged in #197

[2020-03-05 15:02] #192 closed

[2020-03-05 15:04] russellwheatley commented on #191
cc @jeohan friendly ping

[2020-03-05 15:13] russellwheatley commented on #199
This has a PR (#207) created that is currently `in-review` by the XFN team. Will update this issue once that decision has been made.

[2020-03-05 20:55] Ehesp commented on #209
@mbleigh seems to only happen when updating the document (and changing the status back to `RETRY`). I'm guessing there's a reason as to why the template code subscribes to the templates? Thinking logically, would it not make more sense to directly query the template collection and check if a document exists? Not sure if you did that to reduce the amount of queries though?

[2020-03-05 21:07] mbleigh commented on #209
Yeah it's to reduce reads -- templates should change quite infrequently so it would be less optimal to trigger a read every time we're trying to send a message. In addition, since Handlebars templates have to be compiled before they're used, if we refetch the template every time and recompile it as well that might add up to non-trivial amounts of CPU time, especially if it's a large HTML template.

[2020-03-06 09:44] Ehesp commented on #209
Make sense to me, they're fair points.

Yeah it seems so, we'll do some more digging. Cheers!

[2020-03-06 12:12] FredvanRijswijk commented on #192
How to use this fix? `npx @firebaseextensions/fs-bq-import-collection `

[2020-03-06 22:18] osheari1 commented on #17
Hey, is this feature still not being worked on? I have a fix for it and can open a pull request if it's not been implemented yet.

[2020-03-09 09:46] russellwheatley commented on #17
@osheari1 If you have a fix for it then you're more than welcome to open a PR. I closed the issue because wildcard paths are not yet supported as a Firestore query, and a work around solution was merged in.

[2020-03-09 17:21] cedgen opened #218 "fs-bq-schema-views - Syntax error: Unexpected keyword CREATE at [10:106]"
### [READ] Step 1: Are you in the right place?

Yes!

### [REQUIRED] Step 2: Describe your configuration

- Extension name: **firestore-bigquery-export / fs-bq-schema-views**
- Extension version: **latest**

### Step 3: Describe the problem
While doing fs-bq-schema-views
 npx @firebaseextensions/fs-bq-schema-views
--non-interactive
--project test_project
--dataset firestore_export_organisation
--t

[2020-03-09 20:35] russellwheatley commented on #209
Hello @MichaelRShelton, I thought I had this bug reproduced on Friday evening. This morning, I've redeployed five different times. I've sent new emails & retried previously successful emails referencing freshly created templates, they've all been successfully delivered. The logic seems fine, and I'm at a loss at reproducing this error.  I was wondering whether you could dig through your logs and l

[2020-03-09 21:07] jhu7235 commented on #211
I'm also getting this. I'm not sure why this is happening. I deleted `firestoreArray`, `firestoreBoolean`, `firestoreGeopoints`, `firestoreNumber`, `firestoreTimestamp` from the [BigQuery web UI](https://console.cloud.google.com/bigquery). Look under Resources > <ProjectId> > <DatasetId> in the left sidenav. That solved it for me, and I was able to re-upload the schema.

[2020-03-10 09:53] russellwheatley commented on #218
This appears to be linked with issues #139 & #211. I spent yesterday afternoon trying to run the Big query import script with no success as it is broken (#192). I tried running the [fixed](#197) import script  locally, but I was still getting the same error.

The import script needs to run before testing the schema view script. I think this probably needs to be looked at by the Firebase Extensions

[2020-03-10 14:12] Salakar commented on #211
Hey, looks like this was fixed in #193 - but the [package](https://github.com/firebase/extensions/blob/next/firestore-bigquery-export/scripts/gen-schema-view/package.json) still needs publishing to NPM - we'll get this looked at, thanks.

[2020-03-10 22:48] laurenzlong commented on #191
What Joe means is that

[code]
should be:
[code]
Same applies for the other functions in this extension. Could you please make a PR to address this?

[2020-03-10 23:07] laurenzlong commented on #206
I dug into this a bit more and it is due to the outdated firebase-tools dependency. This extension currently uses firebase-tools 7.5.0, which has a dependency `"google-auto-auth": "^0.7.2",` (see [package-lock.json](**https://github.com/firebase/extensions/blob/next/delete-user-data/package-lock.json#L1842**)). Looking at the git repo for google-auto-auth, v0.7.2 had the dependency ""gcp-metadata"

[2020-03-10 23:19] laurenzlong commented on #206
@ccjernigan To confirm my understanding of the impact of this, can you verify whether or not you use this extension to delete data from Firestore?

[2020-03-11 11:02] ccjernigan commented on #206
@laurenzlong I am using this extension to delete data from both Firestore and Firebase Storage.

[2020-03-11 12:54] Ehesp commented on #206
I've upgraded `firebase-tools` and can confirm things are working as expected:

![image](https://user-images.githubusercontent.com/842078/76418945-70172d00-6397-11ea-89c9-3071dc946f65.png)

I'll get a PR up.

[2020-03-11 13:35] gmcheese opened #220 "auth-mailchimp-sync: Error installing extension"
### Describe your configuration

- Extension name: `auth-mailchimp-sync`
- Extension version: **0.1.0**
- Configuration values (redact info where appropriate):
  -  Cloud Functions Locations: **us-central1**
  -  Contact status Description: **subscribed**

### Describe the problem
Installing the extension after configuration produces the Error:
**Error installing extension. Be aware that a paramet

[2020-03-12 12:27] Salakar commented on #220
Hey @gmcheese - thanks for the bug report.

cc @laurenzlong - do you know if anything has changed in the way that the extension configuration values are parsed? It looks like a number like value was coming through as a string previously, but is now being coerced into a number or something?

[2020-03-12 17:56] laurenzlong commented on #220
@gmcheese Are you installing via the Console or the CLI, and if CLI, what version number of the CLI are you running? (Run `firebase --version` to find out)

[2020-03-13 08:53] gmcheese commented on #220
I've tried installing with the console and CLI. They both return the same error.
The CLI version is `7.15.0`

[2020-03-13 14:03] InterwebCounty opened #223 "storage-resize-images is not automatically creating an access token, making it unusable"
- Extension name: storage-resize-images
- Extension version: Version 0.1.5

As seen here: https://github.com/firebase/extensions/issues/174

Is there a setting or configuration?

[2020-03-13 14:16] Ehesp commented on #223
Hey @InterwebCounty we've already got an issue discussing this problem: https://github.com/firebase/extensions/issues/140 - I'll close this one so the discussion can be continued on that issue. Thanks!

[2020-03-13 14:16] #223 closed

[2020-03-14 00:19] laurenzlong commented on #220
Hi @gmcheese I was able to install the extension successfully using both Console and CLI v7.1.5.0. These are my parameter values:
[code]
Can you try again? I suspect it was a temporary server issue with Cloud Functions

[2020-03-15 13:46] parentiv opened #225 "Error importing Collection to BigQuery: PartialFailureError"
Hi,

I'm trying to import a collection from firestore into the bigquery using the extension and I get
the following error "Error importing Collection to BigQuery: PartialFailureError". Can anybody help me please with some guidance on debugging?

Here is the log:

 What is your Firebase project ID? ******-dev**
? What is the path of the the Cloud Firestore Collection you would like to import from?

[2020-03-16 09:35] gmcheese commented on #220
I tried installing using your parameters - also using `11111111` as API and ID's. It installed successfully through console. However, when configuring it with my own values, it returns the following error after reconfiguring:

[code]
It seems like the problem is related to my Audience - are there any specific configurations I should be aware of?

[2020-03-16 13:16] russellwheatley commented on #225
Hi @parentiv, there was a PR that has been merged that may address your issue #192. Unfortunately, it has not been released yet. We will update you once the latest import script has been released.

[2020-03-16 14:05] andre-arsenault opened #228 "[storage-resize-images] Error from spawned child processes"
### Describe your configuration

- Extension name: **storage-resize-images**
- Extension version: **0.1.5**
- Configuration values:
  - Cloud Functions location: **us-central1**
  - Cloud Storage bucket for images: **<my_project>.appspot.com**
  - Sized of resized images: **260x180,520x360,1040x720**
  - Deletion of original file: **false**
  - Cloud Storage path for resized images: **thumbnails**

[2020-03-16 22:26] caesarivs commented on #196
I'm having the same issue as well, I created a schema.json file according to [the guide](https://github.com/firebase/extensions/blob/master/firestore-bigquery-export/guides/GENERATE_SCHEMA_VIEWS.md) and ran the script specifying that one schema.json file.

The script created the schema_changelog table correctly, but then, apparently, it tried to create the schema_latest from an empty json:

[code]

[2020-03-17 11:16] imronpuji commented on #78
its not work for me

[2020-03-17 14:13] russellwheatley commented on #47
Hi @tbillington, I've tried to reproduce this issue without any luck. Here is the line of code that sets the data property that is eventually stringified for BigQuery import: https://github.com/firebase/extensions/blob/next/firestore-bigquery-export/scripts/import/src/index.ts#L207

As you can see it calls `snapshot.data()` which is the correct Firestore call to make if you want just the data from

[2020-03-17 17:14] russellwheatley commented on #228
Hi @andre-arsenault, the Firebase Extensions team will be publishing a release for the `storage-resize-images` library at some point in the very near future. It will be changing the current implementation using `ImageMagick` to `Sharp` library. I suspect this error will not occur anymore as the spawned child process will be removed. Here's the PR: #207 if you would like to track.

[2020-03-17 18:38] laurenzlong commented on #220
Hi @gmcheese can you file a [support ticket](https://firebase.google.com/support/troubleshooter/report/bugs), and ask for it to be redirected to Lauren Long? Then in the support ticket you can put in your exact audience ID and I can try to repro and troubleshoot.

[2020-03-17 20:30] #206 closed

[2020-03-17 20:31] #191 closed

[2020-03-18 11:29] gmcheese commented on #220
Opening it now. Thanks.

[2020-03-18 11:50] andre-arsenault commented on #228
Thanks, I'll monitor that PR and wait for the next release.

[2020-03-18 12:13] granttj01 commented on #173
@Ehesp The solution above does not work as @anthowm says. Can we add this functionality please?

To do this we could do the following:

1) Add a config value to config.js
```imageDir: process.env.IMG_DIR,```

2) Add a new logging method
[code]

3) Check for a match between the value we extract [here](https://github.com/firebase/extensions/blob/c7396cd55a18dacba091e21bd94b1d54b3225e72/storage-resiz

[2020-03-18 12:17] granttj01 commented on #104
@karayu

Please see my [comment](https://github.com/firebase/extensions/issues/173#issuecomment-600587429) as I believe this would be a viable solution.

[2020-03-18 12:26] granttj01 opened #232 "Storage-Resize-Images Subdirectory Config"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2020-03-18 12:28] granttj01 commented on #232
Potential solution for:
https://github.com/firebase/extensions/issues/173
https://github.com/firebase/extensions/issues/104

[2020-03-19 11:34] russellwheatley commented on #232
Hi @granttj01, sounds like a reasonable candidate for a feature request. Could you please leave a feedback request at: https://firebase.google.com/support/troubleshooter/report/features so the Firebase Extension team can track internally?

Thank you.

[2020-03-19 18:02] ShreeBhagwat opened #233 "Firebase email Trigger Custom Domain Error"
### [READ] Step 1: Are you in the right place?

### [REQUIRED] Step 2: Describe your configuration

- Extension name: **\_** (`firestore-send-email`)

### [REQUIRED] Step 3: Describe the problem

So Iam in process to develop an Firestore Flutter Web App.
and when users fill a form I want to send an automatic mail to them.
aim used Firestore as a database and trying to set up cloud function to send

[2020-03-19 19:01] granttj01 commented on #232
Thanks @russellwheatley Already done yesterday. I accidentally submitted twice but cases 43483 and 43484 👍

[2020-03-20 16:23] zdenulo opened #235 "Error when mirroring data to BigQuery PartialFailureError"
### [REQUIRED] Step 2: Describe your configuration

- Extension name: Export Collections to BigQuery
- Extension version: 0.1.2

### [REQUIRED] Step 3: Describe the problem

I set up the extension and upon inserting a document in Firestore, Cloud Function throws an error in logs:
Error when mirroring data to BigQuery { PartialFailureError
    at request (/srv/node_modules/@google-cloud/bigquery/bu

[2020-03-20 22:31] matteosb commented on #235
I am seeing the same error for extensions installed in the last 24 hours. In some cases we get a permission denied error as well as the error above, even though the IAM roles look correct. Identical extensions installed day before yesterday are working fine:
[code]

[2020-03-21 09:06] livingspree commented on #235
![image](https://user-images.githubusercontent.com/20556226/77223270-0100bc00-6b81-11ea-9d4b-e2b4a418f2b5.png)

I'm  facing the exact same issue as @zdenulo

Following this thread

[2020-03-21 10:25] tbillington commented on #47
@russellwheatley Yes, I see a `_firestore` object. It has fields like `_settings` and `_projectId`.

[2020-03-21 11:35] russellwheatley commented on #47
@tbillington Ok, good to know we've found the issue! Somewhere in your codebase, you're storing the `snapshot` on an `experience` property. You ought to change it to `snapshot.data()` as referenced [here](https://firebase.google.com/docs/reference/js/firebase.firestore.DocumentSnapshot#data)

[2020-03-21 11:35] #47 closed

[2020-03-21 11:43] tbillington commented on #47
Ah, ok. This stuff can be easy to miss in JS land. Would have much preferred something like this crash/throw when it tried to be saved. Don't know if there's anything on your end you can do though.

Regardless, I appreciate you getting back on this 😃 cheers

[2020-03-22 09:39] Shailevy commented on #235
Same here

[2020-03-22 21:32] MrAlek opened #236 "Error when mirroring data to BigQuery TypeError: Converting circular structure to JSON"
### [REQUIRED] Step 2: Describe your configuration

- Extension name: **`firestore-bigquery-export`
- Extension version: **0.1.2**

### [REQUIRED] Step 3: Describe the problem

After running the initial setup and upon changing a field on a document in Firestore, the `ext-firestore-bigquery-export-fsexportbigquery` ran with the following error:

[code]

This is the document for which the error occu

[2020-03-23 08:29] russellwheatley commented on #233
Hi @ShreeBhagwat, do you mind sharing the insensitive (not the password) parts of you smtp URI? The error message above says `unknown protocol` which makes me think the SMTP URI protocol might be incorrectly set.

[2020-03-23 11:17] russellwheatley commented on #235
Hi @zdenulo, there was a fix for the `firestore-bigquery-export` that was merged into `master` (#193). I suggest tracking the `@firebaseextensions/firestore-bigquery-change-tracker` package for its latest release which ought to fix the `PartialFailureError` you're currently experiencing.

[2020-03-23 12:13] zdenulo commented on #235
@russellwheatley thanks for the info. Didn't you mean perhaps #192? I did my deployment via firebase web console. I now checked, i.e. downloaded code from the url I included (and based on which my Cloud Function is deployed) and CHANGELOG file there it says that it's release 0.1.2 which contains fixes for #192, #193 and #197. Maybe I'm missing something, Javascript/NodeJS/Typescript is exactly my

[2020-03-23 13:16] andre-arsenault commented on #228
Thank you @russellwheatley, I used your PR to write my own cloud function instead of waiting for it to be merged and published. I'm up and running now.

[2020-03-23 13:16] #228 closed

[2020-03-23 13:32] russellwheatley commented on #236
Hi @MrAlek, this is an interesting error. I've tried to recreate the circular reference dependency error and I was unable to reproduce. Could you please confirm what type of change you made to the document? Is it in a collection or a sub-collection?

[2020-03-23 13:34] MrAlek commented on #236
@russellwheatley In this case I just changed one of the string attributes to test the integration. It's in a root-level collection but as you can see the document also has sub-collections.

[2020-03-23 13:49] MrAlek commented on #236
Here's the full log:
<img width="1023" alt="image" src="https://user-images.githubusercontent.com/1496135/77323418-83ba8000-6d15-11ea-892c-440d02d1a599.png">

[2020-03-23 17:49] handihow commented on #236
same error here..
Just installed this extension but I have the same error when updating documents in the collection

[2020-03-23 22:07] ThadeuLuz commented on #236
Also getting this. Will investigate better tomorrow

[2020-03-24 03:36] Pitouli opened #237 "[FR] Delete User Data : disable listener on deleted elements"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2020-03-24 05:56] pavitra15 commented on #235
Same error here , tried but failed again.
Can anyone help??

[2020-03-24 09:26] russellwheatley commented on #235
Sorry, you're correct, it is #192. I've updated my comment for anyone else coming to this thread. This is the package you ought to be tracking: https://www.npmjs.com/package/@firebaseextensions/firestore-bigquery-change-tracker. I would ignore the version number as it has been incorrectly set. This package is nested within the `firestore-bigquery-export`. Here is a reference to it: https://github.

[2020-03-24 10:17] zdenulo commented on #235
@russellwheatley thanks for the clarification.

[2020-03-24 11:33] russellwheatley commented on #237
Thanks for the feature request. Could you please leave a feedback request at: https://firebase.google.com/support/troubleshooter/report/features so the Firebase Extension team can track internally?

Thank you.

[2020-03-24 15:38] balderdash commented on #235
@russellwheatley Thanks for looking into this bug. Do you have a rough idea of when a new version of `@firebaseextensions/firestore-bigquery-change-tracker` will be published?

[2020-03-24 20:46] pgoode41 commented on #235
Same issue here. Following as well.

[2020-03-25 07:46] daviduzan commented on #235
I'll join the followers

[2020-03-25 14:37] Shunpoco commented on #235
I have same issue now. Following as well.

[2020-03-25 19:33] renahnschultz commented on #235
Same here. Following as well

[2020-03-26 10:41] russellwheatley commented on #235
I will update this thread once it has been published, but I don't know when it will be published as It isn't my decision I'm afraid.

[2020-03-26 11:42] konato commented on #235
I have the same issue here. Had it installed last week into the our dev project . It is still working.
But then yesterday try to add BigQuery using Console to our Alpha project as previously done  with dev.

But in this case, we have the partial error :

<img width="784" alt="Capture d’écran, le 2020-03-26 à 07 30 09" src="https://user-images.githubusercontent.com/73777/77643124-2f8de680-6f35-11

[2020-03-26 14:11] nebnhoj commented on #235
I encountered same issue while I'm mirroring my collection to BigQuery

`Error when mirroring data to BigQuery { PartialFailureError
    at request (/srv/node_modules/@google-cloud/bigquery/build/src/table.js:1548:23)
    at Util.handleResp (/srv/node_modules/@google-cloud/common/build/src/util.js:141:9)
    at retryRequest (/srv/node_modules/@google-cloud/common/build/src/util.js:422:22)
    at o

[2020-03-26 20:31] Ewarrender commented on #196
Same problem here. The 'changelog' schema view is created but the 'latest' schema view isn't.

[code]

[2020-03-26 21:06] Ewarrender commented on #196
Got it working by doing the following:

1) Clone https://github.com/joaqcid/extensions.git and checkout the **run-manual-import** branch
2) cd extensions/firestore-bigquery-export/firestore-bigquery-change-tracker
3) npm i
4) cd ../scripts/gen-schema-view/
5) npm i
6) npm run gen-schema-views

Ignored errors and everything worked.

[code]

[2020-03-27 07:00] fabiangruss commented on #235
Same issue & following as well.

[2020-03-27 11:21] abegehr commented on #235
Same issue here. @russellwheatley, can the update be used on some beta-channel already?
The issue made exporting impossible for almost 2 months now.

[2020-03-27 11:35] abegehr commented on #235
For everyone searching for a temporary solution, check out the workaround by @joaqcid: https://github.com/firebase/extensions/issues/192#issuecomment-584132076 and https://github.com/firebase/extensions/issues/192#issuecomment-584632553. Worked well for me 👍

[2020-03-27 13:44] gmcheese commented on #220
So, with the help of @laurenzlong I finally got it solved. Turns out the problem was my Audience ID being in the form `XXXXXXeXXX` (X being numbers), was converted as a number in scientific notation by the extension.

I solved it by creating a new audience with a less obscure ID.
You can close this issue if you feel like it.
Thanks!

[2020-03-27 16:42] laurenzlong commented on #220
Glad you were able to get a new audience ID! Thanks for the update!

[2020-03-27 16:42] #220 closed

[2020-03-27 17:40] puppybits commented on #192
I'm still not able to use `npx @firebaseextensions/fs-bq-import-collection`. The fork worked (but required editing to use collectionGroup for the query.

[2020-03-28 23:49] mindyzwan commented on #235
Same issue here! Not really sure how to implement the workaround listed.

[2020-03-29 12:33] joaqcid commented on #235
@IanWyszynski looks like when they merged the fix the forgot to bump `@firebaseextensions/firestore-bigquery-change-tracker`, its still using old version

[2020-03-29 12:41] joaqcid commented on #235
the workaround works if you want to run the import manually @mindyzwan

[2020-03-29 22:50] mikekaranja commented on #236
<img width="1030" alt="Screenshot 2020-03-30 at 01 48 41" src="https://user-images.githubusercontent.com/12885216/77863141-b63e0e80-7228-11ea-914a-6104e0b723fb.png">
I have the exact same issue. Any timelines on when it will be fixed?

[2020-03-30 09:50] russellwheatley commented on #235
@joaqcid The `bigquery-export` package does need  this package bumping`@firebaseextensions/firestore-bigquery-change-tracker` at some point. It isn't necessary however, as the `bigquery-export` extension is installing the latest minor version because it is using the caret symbol in the `package.json`: https://github.com/firebase/extensions/blob/master/firestore-bigquery-export/package.json#L23.

I

[2020-03-30 18:26] dhstack opened #241 "[firestore-send-email] only sending from Default FROM address, even when overridden"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2020-03-31 00:02] pmohun commented on #235
+1 running into the same issue with a Firestore database using the BigQuery extension.

[code]

[2020-03-31 06:40] chhib commented on #235
@pmohun What I did was download this library from the comment above. https://github.com/firebase/extensions/issues/192#issuecomment-590147765

Checkout the run-manual-import branch. Then ZIP the export.

[code]

Then I went to GCP, find the Function Details of it in my project, hit the Edit button.

I uploaded the zip into a storage bucket I had to create. And now it is running fine.

![image](htt

[2020-03-31 07:52] dfdgsdfg commented on #34
Also, `adminStorage.bucket(bucketName).file(filePath).getSignedUrl(options)` create signedUrl but it is not works.

[code]

If I create access token on web ui after created signedUrl, it still does not work.

[2020-03-31 08:01] dfdgsdfg commented on #140
signedUrl error log with non exist token
I create signedUrl with adminStorage.bucket(bucketName).file(filePath).getSignedUrl(options), but it does not work.

<Error>
<Code>SignatureDoesNotMatch</Code>
<Message>
The request signature we calculated does not match the signature you provided. Check your Google secret key and signing method.
</Message>
<StringToSign>
GET 1895632947 /project.appspot.com

[2020-03-31 14:56] QuentinSc commented on #140
Hello,

No news ? :)

[2020-03-31 18:08] DhavalW commented on #140
+1 waiting for a fix

On Tue, 31 Mar 2020 at 20:26, QuentinSc <notifications@github.com> wrote:

[2020-03-31 22:40] edward-armstrong commented on #235
@chhib thanks, this looks to have worked for me. If anyone else gets the error `File index.js or function.js that is expected to define function doesn't exist in the root directory` just make sure you zip the files inside the firestore-bigquery-export directory not the directory itself (like I did).

[2020-04-01 14:32] konato commented on #235
@chhib thanks, It did work for me.
@edward-armstrong, yes I had to zip the files inside  the firestore-bigquery-export directory not the directory itself.

So for me steps were:
git clone git@github.com:joaqcid/extensions.git
cd extensions
git checkout run-manual-import
cd firestore-bigquery-export
zip archive.zip -r

Thank you,

Stephane

Note: I had error first but I created a bucket to store th

[2020-04-01 14:37] Ehesp commented on #241
Hey @dhstack - thanks for the issue.

It looks as though you are adding the `from` field to the `message` body when it should be in the root of the document (see [docs here](https://github.com/firebase/extensions/blob/next/firestore-send-email/POSTINSTALL.md#sender-and-recipient-fields)).

Your code snippet should be:

[code]

Let me know you get on!

[2020-04-01 14:37] #241 closed

[2020-04-01 15:46] dhstack commented on #241
🤦‍♂ That would do it. Thanks!

[2020-04-01 19:46] fguespe commented on #235
Hey , same happening here! it was working already fine for other 3 collections. But when i install the extension four the 4th time, for another collection, it stopped working! Same error
[code]

[2020-04-03 04:39] ducdv98 commented on #235
Same issue here. Following as well!

[2020-04-04 04:13] K0EZ commented on #140
this fix worked for me
https://stackoverflow.com/questions/59072882/cloud-functions-resized-images-not-loading/61023298#61023298

[2020-04-05 05:49] venkatabhilashchavala opened #243 "auth-mailchimp-sync: Error Adding users into mailchimp"
Describe your configuration
Extension name: auth-Mailchimp-sync
Extension version: 0.1.0
Configuration values (redact info where appropriate):
Cloud Functions Locations: us-central1
Contact status Description: pending

**Describe the problem**
I was able to install the extension successfully.  I can see the adduserToList is executed successfully.  But not all the new users are imported into the Ma

[2020-04-06 02:18] rafaelacb commented on #236
I am with this issue too.. I've just installed BigQuery extension on my firebase project and made a test with a bigquery-mirror-test and I've this... Is there any way to solve it quickly?

[2020-04-06 02:27] rafaelacb commented on #235
Same error! When this will be fixed??

[2020-04-06 03:19] ripcity666 commented on #236
oh I have no idea. I'm trying to figure out how to get rid of my psycho
neighbor. she put all kinds of shit on my phone

On Sunday, April 5, 2020, Rafaela Campos <notifications@github.com> wrote:

[2020-04-06 15:45] fguespe commented on #236
You can follow up here
https://github.com/firebase/extensions/issues/235

[2020-04-06 21:28] fguespe commented on #235
Anyworkaround?

[2020-04-07 08:49] stari4ek opened #245 "firestore-bigquery-export incorrectly exports documents data when keys.with.dots are used"
### [READ] Step 1: Are you in the right place?

yep

### [REQUIRED] Step 2: Describe your configuration

- Extension name: **`firestore-bigquery-export`**
- Extension version: **0.1.1**

### [REQUIRED] Step 3: Describe the problem

When there is Firestore document like:
[code]
it's exported as
[code]
#### Steps to reproduce:

export documents with data which has `some.dotted.keys`

##### Expected

[2020-04-07 09:31] stari4ek commented on #211
Still broken.
Maybe, cause npm has some `0.1.3` version published? (https://www.npmjs.com/package/@firebaseextensions/fs-bq-schema-views/v/0.1.3)

[2020-04-07 10:18] stari4ek opened #246 "firestore-bigquery-export-gen-schema-view fails to build due missing chai deps"
### [READ] Step 1: Are you in the right place?

yep

### [REQUIRED] Step 2: Describe your configuration

- Extension name: **firestore-bigquery-export**
- Extension version: **07d050ac1f39248e5b77e6503a7aab51a58b68f7**

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Checkout branch and build
[code]

[code]

It fails cause it's own `package.json` does not declare devDependen

[2020-04-07 12:05] stari4ek opened #247 "firestore-bigquery-export-gen-schema-view fails if field uses forbidden char"
### [READ] Step 1: Are you in the right place?

yep

### [REQUIRED] Step 2: Describe your configuration

- Extension name: **firestore-bigquery-export** (`gen-schema-view`)
- Extension version: **07d050ac1f39248e5b77e6503a7aab51a58b68f7**

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

BigQuery view generation from view schema fails if field contains not-alpha/digit/undersc

[2020-04-07 12:43] russellwheatley commented on #243
Hi @venkatabhilashchavala, I think it is because you have the `status` as `pending` which would indicate that they aren't subscribers (contacts) yet. I found this FAQ which appears to confirm this:
<img width="923" alt="Screenshot 2020-04-07 at 13 40 51" src="https://user-images.githubusercontent.com/16018629/78670278-6a98fe00-78d5-11ea-9588-f8c0a47793b0.png">
https://mailchimp.com/help/troublesho

[2020-04-08 00:46] laurenzlong commented on #211
Hi the package has now been published, sorry for the delay.

[2020-04-08 00:46] #211 closed

[2020-04-08 01:11] laurenzlong commented on #192
Hi, the package has been updated on NPM, sorry for the delay!

[2020-04-08 01:13] laurenzlong commented on #235
Hi, the package has been updated on NPM, and we are updating the extension's dependency in this week's release: https://github.com/firebase/extensions/pull/249/files

Sorry for the long delay!

[2020-04-08 01:14] laurenzlong commented on #225
Hi, the package has been updated on NPM and we will release a new extension version update this week. https://github.com/firebase/extensions/pull/249/files. Sorry for the delay!

[2020-04-08 02:18] laurenzlong commented on #246
This should have been fixed by https://github.com/firebase/extensions/pull/244. Please let us know if it still is an issue.

[2020-04-08 02:18] #246 closed

[2020-04-08 06:53] venkatabhilashchavala commented on #243
Thank you, Russell, I updated the Contact status to subscribed and it is working.

[2020-04-08 06:53] #243 closed

[2020-04-08 17:15] laurenzlong commented on #218
Hey @russellwheatley the script has been published, can you proceed with testing the schema view script please? Thank!

[2020-04-09 02:41] newadays opened #250 "Generate Schema - cannot find '@firebaseextensions/firestore-bigquery-change-tracker'"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2020-04-09 09:03] stari4ek commented on #235
subscribing.
I've got this issue after updating to 0.1.2 version.
2 exports out of 3 work well.

[2020-04-09 09:14] russellwheatley commented on #250
Hi @newadays, you're correct. The module has not been specified in the `package.json`. I'll be making a PR for the `fs-big-schema-view` in due course. Thank you for raising the issue.

[2020-04-09 12:20] russellwheatley commented on #218
Hey @laurenzlong, there are further changes needed to both the `firestore-bigquery-change-tracker` & `gen-schema-view` for the `gen-schema-view` script to be fixed. I have a draft PR up at the moment: https://github.com/firebase/extensions/pull/257

[2020-04-09 15:09] russellwheatley commented on #245
Hi @stari4ek, I could not reproduce this issue when I mirrored the data using version `0.1.1`:
<img width="442" alt="Screenshot 2020-04-09 at 16 04 56" src="https://user-images.githubusercontent.com/16018629/78910033-37dd3a00-7a7c-11ea-9f62-14ff3931f80b.png">

Nor when I used the import script `npx @firebaseextensions/fs-bq-import-collection`:
<img width="423" alt="Screenshot 2020-04-09 at 16 02 3

[2020-04-09 15:26] stari4ek commented on #245
I double checked,
this is not an issue of export, but original documents have incorrect (unexpectedly) structure.

Sorry, for that. Please close the issue.

[2020-04-09 15:35] #245 closed

[2020-04-09 17:44] Sterv commented on #235
@stari4ek 0.1.3 has the update, the extension is currently 0.1.2

[2020-04-09 19:34] stari4ek opened #259 "Updating extension in console UI replaces original config"
### [READ] Step 1: Are you in the right place?

not sure if it's the right place to report issue for Firebase Console UI (Extensions)

### [REQUIRED] Step 2: Describe your configuration

- Extension name: **Firebase console UI/Extensions**

### [REQUIRED] Step 3: Describe the problem

Starting extension update in firebase console UI while there is another update of same type is in progress - confi

[2020-04-09 19:38] stari4ek commented on #259
Ok. It looks like there is no need to have update in the progress.
I've started update for 3rd instance - and step-by-step walkthrough is also automatically cancelled and wrong config is used - i have to re-configure it after.

It brings data loss, and the only way to recover data consistency is to perform full re-export