[2020-04-10 07:03] zdenulo commented on #235
I updated extension to 0.1.3 in Firebase UI and it looks like it's working ok now.

[2020-04-10 12:19] stari4ek commented on #196
https://github.com/joaqcid/extensions.git is a bit out of date.
original `next` branch can be used with next changes applied:
* merge https://github.com/firebase/extensions/pull/257
* switch to local setup, as described in https://github.com/firebase/extensions/blob/next/firestore-bigquery-export/DEVSETUP.md with `gen-schema-view` added to the list.

Here is the branch with those steps applied and

[2020-04-10 22:10] laurenzlong commented on #235
Thanks for the update @zdenulo ! Closing this issue now.

[2020-04-10 22:29] laurenzlong commented on #236
The fix has been published in 0.1.3 of the [firestore-bigquery-change-tracker NPM package](https://www.npmjs.com/package/@firebaseextensions/firestore-bigquery-change-tracker) - which is a dependency for the extension. When we do the next release of the firestore-bigquery-export extension, you'll receive the update. If you want to "force" the dependency update now, you can either:
- uninstall and

[2020-04-10 22:33] #236 closed

[2020-04-11 00:58] laurenzlong opened #260 ""npm test" fails for firestore-bigquery-change-tracker and gen-schema-view"
### [REQUIRED] Step 2: Describe your configuration

- Extension name: firestore-bigquery-export
- Extension version: 0.1.3
- Configuration values (redact info where appropriate):
  - **\_**
  - **\_**

### [REQUIRED] Step 3: Describe the problem
Unit tests are not passing for the helper packages for firestore-bigquery-export
#### Steps to reproduce:

cd firestore-bigquery-export/firestore-bigquery

[2020-04-11 01:04] laurenzlong opened #261 "Ensure that tests for NPM packages also get run in CI."
### [REQUIRED] Step 2: Extension name

This feature request is for extension:  firestore-bigquery-export

### What feature would you like to see?

There are unit tests for the firestore-bigquery-change-tracker and gen-schema-view script. However they do not get run in CI. They should be configured to run in CI also. (Please note, the tests are currently failing, so this is blocked on https://githu

[2020-04-11 01:05] laurenzlong commented on #260
Once the tests are fixed, they should get hooked up to CI: https://github.com/firebase/extensions/issues/260

[2020-04-11 01:07] laurenzlong opened #262 "Create READMEs for npm packages for firestore-bigquery-export"
### [REQUIRED] Step 2: Extension name

This feature request is for extension: firestore-bigquery-export

### What feature would you like to see?

The npm packages are currently missing READMEs, which causes the npm page to be empty (e.g. https://www.npmjs.com/package/@firebaseextensions/firestore-bigquery-change-tracker). There should be README files created in the subdirectory for these packages

[2020-04-11 01:21] IanWyszynski commented on #260
Are you running against `0.1.3` or `1.1.3`? In your screenshot it shows `1.1.3`. I can't reproduce this issue on `next`:
<img width="1217" alt="Screen Shot 2020-04-10 at 6 19 00 PM" src="https://user-images.githubusercontent.com/5572676/79032033-16518080-7b58-11ea-8789-47e1b653a913.png">

[2020-04-11 09:32] Ehesp commented on #259
Hi @stari4ek thanks for the bug report.

Just to confirm, you are saying that when 2 extensions of the same type are being updated/installed at the same time, the configuration used in one extension is applied to both extensions?

[2020-04-11 12:55] stari4ek commented on #259
As I commented after - no need to have update in-progress.
My case:
3 extension of same type with different configs: firebase collection/suffixes
1. start update for first ("instances" collection)
2. 1st is updating....
3. start update for 2nd ("audiences" collection)
4. 2nd update started with step-by-step-UI cancelled
5. 1st finished (still "indstances")
6. 2nd finished - it's config become ("in

[2020-04-13 21:52] karayu commented on #225
Closing because #192 has been addressed and updated. Please open again if there are any other issues!

[2020-04-13 21:52] #225 closed

[2020-04-14 15:10] russellwheatley commented on #247
Hi FE team, as @stari4ek points out, this does break the script. I'm not sure this is something to be fixed so to speak. If you replace the colon to an underscore in the schema field properties, it will not match any properties names in the dataset which use a colon.

[2020-04-14 15:40] stari4ek commented on #247
@russellwheatley , don't really get the problem.
It uses a bit different alias name for view field, but json lookup works as exp[ected.
Here is example of generated schema view:
[code]

workaround changes alias name (`AS subscriber:free_trial` => `AS subscriber_free_trial`)

No issues so far with workaround applied.

[2020-04-14 19:36] laurenzlong commented on #237
Hi @Pitouli unfortunately we won't be able to support this since it is quite unique to your use case. I would recommend directly using https://github.com/firebase/user-privacy, which is the project that we based this extension on. Then you'll have an opportunity to add the desired behavior of renaming the document before deleting it.

[2020-04-14 19:36] #237 closed

[2020-04-14 19:48] #196 closed

[2020-04-14 19:48] #250 closed

[2020-04-15 03:00] Pitouli commented on #237
Thanks @laurenzlong for your answer.

In fact, I cannot "move" a document and all its subcollections from one collection (for example "users") to another (for example "users-to-delete") like I would on folder system...

Renaming implies copy all the document to the new place and delete them from the old place, which would trigger all my cloud functions anyway (plus costing the rewrite... and the d

[2020-04-15 07:36] russellwheatley commented on #247
My apologies, @stari4ek, I just ran further tests, and you're correct.

This makes sense to me as a change. Hey Firebase Extensions team, could you please advise if you would like this change making, and I'll create a PR?

[2020-04-15 09:17] russellwheatley commented on #259
Hey @stari4ek,
                           I've installed 6 different big query export extensions for the same project. I've tried running them in parallel, but they all use the correct config. I'm not sure how to reproduce the bug. It might be helpful if you could let us know the firebase CLI version you're using (I used 7.15.1)? It also might be helpful to know which region you are deploying the

[2020-04-15 12:51] imikim commented on #139
The created view is empty for me.

I first ran `fs-bq-import-collection` which successfully imports and the `contracts_raw_latest` view also works.

After that, I ran `fs-bq-schema-views` which seems to have run successfully, creating the new views: `contracts_schema_contracts_latest` and `contracts_schema_contracts_changelog`.

However **both of these new views return no results** on query.

[2020-04-15 14:10] stari4ek commented on #259
it has nothing with CLI, since it's reproduced in Firebase **Web Console**.
My extensions/functions are deployed to `us-central1`.

When there is notification about "update is available", it's possible to initiate extension update from **WEB UI**.
When update starts - it shows readme/API/access roles and the last "tab" is configuration.
When i started update for first instance - *WEB UI* walked me

[2020-04-15 16:43] #199 closed

[2020-04-15 19:46] rachelsaunders opened #264 "chore(*): order parameter fields to align with best practices (within extension.yaml files)"
For each extension, the parameter fields need to be in the following order, especially the placement of the `type` and `options` to be together just under `description`.  Thx!

- name
- label
- description
- type
- options
- example
- validationRegex
- validationErrorMessage
- default
- required
- immutable

[2020-04-16 00:19] ight-reco opened #265 "firestore-bigquery-export 0.1.3 still have same issue with #236."
### [REQUIRED] Step 2: Describe your configuration

- Extension name: **`firestore-bigquery-export`** (`storage-resize-images`, `firestore-send-email`, etc)
- Extension version: **0.1.3**

![スクリーンショット 2020-04-16 8 45 39](https://user-images.githubusercontent.com/12580668/79399573-b119e700-7fbe-11ea-80b3-60f831c51ab5.png)
(I'm sorry for a Japanese screenshot)

### [REQUIRED] Step 3: Describe the pr

[2020-04-16 10:17] stari4ek commented on #247
another way to solve this one is to provide new optional field in scheme to be used as alias in view

[2020-04-16 15:54] russellwheatley commented on #259
Hey @stari4ek, I guess I just read your steps to reproduce and got a severe case of tunnel vision 😅,  lesson learnt.

My Firebase console sounds like it is different to yours. Here are the steps available to me to update extensions from my console:

<img width="1074" alt="Screenshot 2020-04-16 at 16 32 01" src="https://user-images.githubusercontent.com/16018629/79476747-4c33b080-8001-11ea-96ea-664

[2020-04-16 16:05] stari4ek commented on #259
You're talking about **reconfiguring** (+re-deploying) existing extensions. While I'm talking about **updating** (+re-deploying) existing extensions. (0.1.1 -> 0.1.2, 0.1.2 -> 0.1.3)

There were link or button "Update is available" in extensions overview and extension UI itself (if I remember it correctly).

When "update" is clicked there is a bit different UI than configuration one. it has same c

[2020-04-16 16:12] laurenzlong commented on #265
Hi @ight-reco did you follow the steps here to ensure that you do receive the dependency update? https://github.com/firebase/extensions/issues/236#issuecomment-612246383

[2020-04-16 18:44] newadays opened #267 ""Map Datatypes" not working for gen-schema-view"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2020-04-16 18:45] newadays commented on #267
File additional issue as recommended by @laurenzlong. See previous comments [here](https://github.com/firebase/extensions/pull/257)

[2020-04-16 23:22] sitefinitysteve commented on #140
How is this not fixed yet, I thought this extension solved all my avatar issues.  But without the tokens it's useless.

The solution from @K0EZ worries me if the function code gets somehow gets updated by Firebase on a new version?

Feels like a no brainer to just make this a config option in the extension options...?

[2020-04-16 23:58] ight-reco commented on #265
@laurenzlong Thank you for your reply!
Yes, I did both!
In addition, I tried initial install in new project that has not used any Firebase extensions, but the error occurs in the project.

[2020-04-17 00:27] laurenzlong commented on #267
@russellwheatley would you mind taking a look? Thanks!

[2020-04-17 12:15] russellwheatley commented on #259
Ok, gotcha. I was able to get the "update is available" option once I installed the previous version `0.1.2`.  I was also able to reproduce the bug. Thanks for reporting it, @stari4ek.

Hey FE team, this is a bug in the console UI. Steps to reproduce:

- Install two `firestore-bigquery-export` extensions, version `0.1.2`.
- Head over to the firebase console extension's tab and click on either one

[2020-04-17 15:22] RegniBlef opened #268 "Storage-Resize-Images replace original image once thumbnail is uploaded"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2020-04-17 15:42] rosariopfernandes commented on #268
Allow me to correct you on point 5:

It won't have the same url, since those are generated using tokens meant to be unique and revocable. In Cloud Storage, once an image is replaced with another one with the same name, the download URL will be different.

[2020-04-17 15:49] RegniBlef commented on #268
I´m currently running tests where I upload a new image that has the same file-name as the previous one (so overwriting it) without updating the download-url in my Firestore document and the new one is still displayed correctly.
Maybe this way is not a good practice, but apparently the download-url doesn´t change enough that it wouldn´t fit the newly uploaded image file.

[2020-04-17 15:50] rosariopfernandes commented on #268
@RegniBlef I see... I'll investigate further, thanks for mentioning that.

[2020-04-17 15:59] RegniBlef commented on #268
@rosariopfernandes As you said, the "media&token" changes, but still both download-urls work fine.

Firestore (old link):
https://xxx/o/users%2FFtr5JeM7pNTTDu1ptNGKAarkOa23%2Favatar?alt=media&token=22db8bbf-ae76-49d7-aa61-0aa1d398a4e8

Storage (new link):
https://xxx/o/users%2FFtr5JeM7pNTTDu1ptNGKAarkOa23%2Favatar?alt=media&token=58b10809-3a18-459f-a4c5-584ae885ad5c

[2020-04-17 16:28] rosariopfernandes commented on #268
That's great! I thought the previous token would be revoked... I like this suggestion, btw.

[2020-04-19 14:55] jontysouvik opened #269 "storage-resize-images memory limit exceeded. Function invocation was interrupted."
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2020-04-20 08:56] russellwheatley commented on #268
Seems like a reasonable feature request. Thanks for raising it.

[2020-04-20 10:23] russellwheatley commented on #265
`firestore-bigquery-export`  & `firestore-bigquery-change-tracker` modules were not sharing the same firestore `DocumentReference` anymore. I guess the recent changes to `firestore-bigquery-change-tracker` meant they had their own node module albeit with different versions.

I've created a PR (#270) that now uses the class name (`DocumentReference`) as a more robust solution. Thanks for raising th

[2020-04-20 12:02] russellwheatley commented on #267
I believe the error has been fixed now as I've tried running the `npx @firebaseextensions/fs-bq-schema-views` with the above mentioned schema and data structure, and I was able to successfully create the table. Below are the console logs showing the data being accessed using dot notation whilst correctly using the underscore for the column names:
![Screenshot 2020-04-20 at 12 54 45](https://user-i

[2020-04-20 12:23] johnson-yeap commented on #17
Hey @osheari1, do you have the fix? It would be great if you could share with us. =D

[2020-04-20 12:52] russellwheatley commented on #269
Do you mind sharing the image you're trying to resize, please @jontysouvik? I've tried a 17mb image that worked fine, but I guess, your image is much bigger.

[2020-04-20 15:27] #218 closed

[2020-04-20 17:19] newadays commented on #267
@russellwheatley Still experiencing the same issue. I was able import the Firestore schema using [export script](fs-bq-import-collection) into bigQuery  and query the raw logs successfully as shown below. However, when running [generate schema views](https://github.com/firebase/extensions/blob/master/firestore-bigquery-export/guides/GENERATE_SCHEMA_VIEWS.md), it is trying to find the fields that a

[2020-04-20 20:38] #260 closed

[2020-04-21 07:36] russellwheatley commented on #267
Interesting. It works for me so now it's a case of reproducing your error. I noticed that you have a `schema.json` file with 110 lines. Have you tried with just the portion causing the error?

i.e.
[code]

If yes, do you mind sharing your schema for me to test, please?

[2020-04-21 15:14] RWOverdijk opened #271 "Custom data format for bigquery export"
### [READ] Step 1: Are you in the right place?

I think I am.

### [REQUIRED] Step 2: Extension name

This feature request is for extension: firestore-bigquery-export

### What feature would you like to see?

Custom data formats.

### How would you use it?

Right now when I have nested maps with keys, these get used in the column names created. This creates insanely wide tables. I'd rather dictate

[2020-04-21 15:18] RWOverdijk commented on #271
I think I just misunderstood what this extension does.

[2020-04-21 15:18] #271 closed

[2020-04-21 18:40] #265 closed

[2020-04-21 21:38] rachelsaunders opened #276 "chore(*) update all CHANGELOG files to align in tense and issue/PR referencing"
For all extension's CHANGELOG files, we need to do the following:

- All leading verb tenses (especially for "fixed" or "changed") are past tense, like so:
"Created this to do that."

- When applicable, the Issue and/or PR are referenced at the end of the line, like so:
"Created this to do that. (Issue #XXX)"
or
"Created this to do that. (Issues #XXX and #YYY)"
or
"Created this to do that. (PR #XX

[2020-04-21 22:58] newadays commented on #267
That's strange, I am getting the same issue. Here's the schema.json.
[code]

[2020-04-22 12:55] newadays commented on #267
Hi @russellwheatley - Did you get a chance to try it out the schema.json ?

[2020-04-22 14:09] sitefinitysteve commented on #140
Submitted a PR to block the delete based on a config option, no idea if it'll get approved though...

[2020-04-22 19:17] laurenzlong commented on #140
Thanks for the contribution @sitefinitysteve, the reason why we took so long was because we didn't realize that the issue was simply that we should not be deleting the download token from the metadata. Thanks for providing the Stackoverflow link @K0EZ !

[2020-04-22 19:34] laurenzlong commented on #237
Sorry for the late reply!

You do not pay for Firestore reads if you're simply reading the value of the document that triggered the cloud function. However, if you try to read anything else within the function (its parent collection, another document in the same collection, etc.), you will get charged. Hope that clarifies things.

You can also look into structuring your data differently, and using

[2020-04-22 19:45] NickFoden commented on #140
Yeah the PR is especially considerate, to even ask the user if they want to delete the token. But pretty sure can just remove that one line

`delete metadata.metadata.firebaseStorageDownloadTokens;`

And everyone can finally use this extension. Unless maybe someone does need to hide their thumbnails, but not the originals? (Seems like that would be a rare use case.)

[2020-04-23 04:57] Mian-Zaid commented on #111
I have found the solution to it like i have to comment out the line which deleting the access token in the cloud function and now i have access to token of image after resizing but there is problem that if i have to change the configurations of extension the code is updated in cloud function so i have to change this line every time i change the configuration. i have attached the snippet of code wh

[2020-04-23 05:01] Mian-Zaid commented on #140
I have found the solution to it like i have to comment out the line which deleting the access token in the cloud function and now i have access to token of image after resizing but there is problem that if i have to change the configurations of extension the code is updated in cloud function so i have to change this line every time i change the configuration.
this solution works for me well but it

[2020-04-23 07:47] russellwheatley commented on #267
Hey @newadays, your schema worked fine for me.

I was able to recreate your error however:
![Screenshot 2020-04-23 at 08 17 17](https://user-images.githubusercontent.com/16018629/80071493-a3bfa800-853c-11ea-8c7e-e4f5524771f5.png)

I did this by having a property that didn't match the schema. i.e.
[code]

In my dataset, I have `thumbnail` as a number.
<img width="518" alt="Screenshot 2020-04-23 at

[2020-04-23 08:02] russellwheatley commented on #111
@Mian-Zaid You might be interested in tracking this PR which deletes that token: https://github.com/firebase/extensions/pull/279

[2020-04-23 14:13] newadays commented on #267
@russellwheatley - All the entries are string. See sample provided earlier [here](https://github.com/firebase/extensions/issues/267#issuecomment-616696109)

[2020-04-23 15:56] russellwheatley commented on #267
One way you could test if it is something in your current dataset is by creating a new Big Query extension with a different dataset & collection. Add a new record in the new collection:
[code]

Run `gen-schema-view` script with your schema.

[2020-04-23 17:48] laurenzlong commented on #199
This is now live, you can update your extension by following the instructions in https://firebase.google.com/docs/extensions/manage-installed-extensions?platform=console#update-version

[2020-04-23 17:49] laurenzlong commented on #265
The fix is now live in v0.1.4, you can update your extension by following the instructions in https://firebase.google.com/docs/extensions/manage-installed-extensions?platform=console#update-version. Please create a new issue if you still experience problems. Thanks for filing!

[2020-04-23 17:50] laurenzlong commented on #236
The fix is now live in v0.1.4 of the extension, you can update your extension by following the instructions in https://firebase.google.com/docs/extensions/manage-installed-extensions?platform=console#update-version. Please create a new issue if you still experience problems. Thanks for filing!

[2020-04-23 17:57] laurenzlong commented on #34
This appears to be a duplicate of https://github.com/firebase/extensions/issues/140, which will be solved by https://github.com/firebase/extensions/pull/279

[2020-04-23 17:57] #34 closed

[2020-04-23 18:39] Pitouli commented on #237
Is there a way to cache a small set of data, ideally a listener, at the cloud function level? So subsequent calls to the cloud function already have the data?

[2020-04-23 19:10] laurenzlong commented on #237
@Pitouli There's no supported way to store data between executions, you can store things in global variables, and it may work occasionally, if an instance was "recycled" for a subsequent execution. But it will not work reliably. So you'll have to try to read from the global variable first, and if it's empty, then do a Firestore read. Since this thread is now about functions rather than extensions,

[2020-04-23 21:24] Pitouli commented on #237
Thanks!

[2020-04-24 05:58] sommes54 commented on #267
Issue resolved by manually running the query. Thanks @russellwheatley

[2020-04-24 06:00] newadays commented on #267
Manually ran the Query which resolved the issue. Thank you @russellwheatley

[2020-04-24 06:42] russellwheatley commented on #267
Glad you were able to find a solution, @newadays 👍

[2020-04-24 06:42] #267 closed

[2020-04-24 15:19] brunoschuermans opened #284 "Error exporting data to Bigquery"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2020-04-24 15:43] inglesuniversal opened #285 "Can you add this FEATURE to storage-resize-images extension?"
Auto-rotate images which have an EXIF orientation of 6 which is the problem I have with photos taken on iPhones.

I've requested this before and no answer was received.

Thanks

[2020-04-24 16:14] itssidhere opened #286 "[ storage-resize-images-v0.1.6 ] Generating wrong image when uploading with the same name"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2020-04-24 17:25] Ehesp commented on #284
Looks like this is regression from https://github.com/firebase/extensions/pull/270 not checking a if the property value is `null`.

[2020-04-25 04:25] jontysouvik commented on #269
![man-wearing-blue-and-yellow-shorts-playing-basketball-1080884](https://user-images.githubusercontent.com/25180379/80271028-bf60b500-86da-11ea-8129-2726f9978e4d.jpg)
This is the file I was trying to convert its only 5.1mb

[2020-04-27 08:23] fabiangruss commented on #284
We have the same problem, the firestore-bigquery-export (V0.1.4) and the fs-bq-import-collection script for existing documents both crash when a property value is `null`. Is there any fix for this?

[2020-04-27 09:34] mikkelboschmidt commented on #284
Same here. Both the export and import scripts have this issue.

[2020-04-27 16:02] russellwheatley commented on #285
Hi @inglesuniversal, do you mind filling out the issue template for new feature requests, please? And perhaps flesh out your particular problem a bit more and how it could be solved. Thank you.

[2020-04-27 16:05] russellwheatley commented on #286
There has been some changes to this extension recently so I wonder whether this is a side effect. I'll have a look and get back to you @itssidhere. Thanks for raising the issue.

[2020-04-27 18:26] inglesuniversal commented on #285
Could you kindly point me where to find such link to submit my request?

Stay safe

[2020-04-28 07:26] russellwheatley commented on #286
Hey @itssidhere, could you confirm that you don't see this in your Firebase logs for the resize image extension, please?
<img width="418" alt="Screenshot 2020-04-28 at 08 22 04" src="https://user-images.githubusercontent.com/16018629/80458991-997d1f80-8929-11ea-9096-52fd23ed98a4.png">

[2020-04-28 07:31] russellwheatley commented on #285
No problem, if you click `New Issue`:
<img width="923" alt="Screenshot 2020-04-28 at 08 30 41" src="https://user-images.githubusercontent.com/16018629/80459668-9e8e9e80-892a-11ea-9878-5260ef592ee4.png">

You have the choice of creating a `Feature Request`:
<img width="966" alt="Screenshot 2020-04-28 at 08 28 59" src="https://user-images.githubusercontent.com/16018629/80459577-769f3b00-892a-11ea-8b

[2020-04-28 08:59] itssidhere commented on #286
@russellwheatley  I do see this after the resized image has been generated (which triggers the extension again)

[2020-04-28 14:17] iislucas opened #289 "fs-bq-import-collection failure: XXX_raw_changelog already exists"
### [REQUIRED] Step 2: Describe your configuration

- Extension name: **`firestore-bigquery-export`** (specifically: `fs-bq-import-collection`)
- Extension version: **`@firebaseextensions/fs-bq-import-collection@0.1.6`**
- Configuration values (redact info where appropriate):

[code]

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

1. add

[code]

##### Expected result

Expo

[2020-04-28 14:18] iislucas commented on #289
maybe a dup of https://github.com/firebase/extensions/issues/284 ?

[2020-04-28 16:22] inglesuniversal opened #290 "auto-orient images and thumbnails when uploaded to firebase storage"
### [REQUIRED] Step 2: Extension name

This feature request is for extension: `storage-resize-images`

### What feature would you like to see?

I have a public script which reads the EXIF data from jpeg images

As you are probably aware of... iPhone photos which are taken on portrait mode would appear sideways if you show the resulting thumbnail or uploaded image to the user inside an image tag ev

[2020-04-28 16:33] inglesuniversal commented on #285
I just added it ... Hope it comes through though.

[2020-04-28 17:25] EliasTouil commented on #285
When I upload a iphone photo file from my iPhone it works for me, although it seems like the thumbnails generated are not rotated (?)

[2020-04-28 17:27] inglesuniversal commented on #285
would you like to share a link of a demo or sample image? I can read the EXIF data and verify its orientation I you would allow me so.

[2020-04-28 17:35] EliasTouil commented on #285
![IMG_5598](https://user-images.githubusercontent.com/4231667/80518462-7caa1180-8954-11ea-9552-d69beac096c4.JPG)

Code previously used to check image rotation, and change it
[code]

In react component
[code]

[2020-04-28 17:42] inglesuniversal commented on #285
oh, I see... If I'm not mistaking you fix to rotation of the image (prior to uploading it)... Am I right?

In my current scenario... I upload it to the bucket and let the image plugin do the rest for me.

[2020-04-28 17:58] EliasTouil commented on #285
I edited my previous comment

I had a bit of code covering image orientation before upload, and it seemed broken.

[2020-04-28 18:03] inglesuniversal commented on #285
Thanks for sharing... In my particular case I found a bunch of code and upload libraries that handle thumbnail creation and rotating prior to upload... but for me there's the uncertainty that some phone may not handle that process completely if there are older models.

So for me to stay on the safe side... I've read an article about image magic with a command named AUTO-ORIENT ... so I simply appl

[2020-04-28 18:41] #264 closed

[2020-04-28 18:47] #284 closed

[2020-04-28 18:49] laurenzlong commented on #284
The fix has been published in 0.1.6 of the [firestore-bigquery-change-tracker](https://www.npmjs.com/package/@firebaseextensions/firestore-bigquery-change-tracker) NPM package - which is a dependency for the extension. When we do the next release of the firestore-bigquery-export extension, you'll receive the update. If you want to "force" the dependency update now, you can either:

- uninstall and

[2020-04-28 21:06] iislucas opened #292 "firestore-bigquery-export: Schema view for maps as dictionaries"
### [REQUIRED] Step 2: Extension name

This feature request is for extension: **`firestore-bigquery-export`**, and in particular for the [GENERATE_SCHEMA_VIEWS.md](https://github.com/firebase/extensions/blob/master/firestore-bigquery-export/guides/GENERATE_SCHEMA_VIEWS.md)

### What feature would you like to see?

In my application, we use dynamic maps (i.e. dictionaries) where we don't know the k

[2020-04-28 21:30] iislucas opened #293 "firestore-bigquery-export: typed arrays for schema views"
### [REQUIRED] Step 2: Extension name

This feature request is for extension: **`firestore-bigquery-export`**, and in particular for the [GENERATE_SCHEMA_VIEWS.md](https://github.com/firebase/extensions/blob/master/firestore-bigquery-export/guides/GENERATE_SCHEMA_VIEWS.md)

### What feature would you like to see?

Support for arrays of different types. For example, some of the arrays in our projec

[2020-04-29 07:21] russellwheatley commented on #289
Hey @iislucas, have you tried importing the data recently? The `firestore-bigquery-change-tracker` package was published 13 hours ago https://www.npmjs.com/package/@firebaseextensions/firestore-bigquery-change-tracker which the import script depends upon.

[2020-04-29 07:24] russellwheatley commented on #286
Thanks @itssidhere, I am able to reproduce the issue so I'll take a look at solving the problem.

[2020-04-29 07:31] iislucas commented on #289
Thanks for quick followup @russellwheatley, I just tried again now and still the same result.

[2020-04-29 07:32] iislucas commented on #289
Maybe you need to release a new version of @firebaseextensions/fs-bq-import-collection in npm with the updated dependency so that the sub-dependency will get picked up?

[2020-04-29 07:49] iislucas commented on #289
OK, doing a little re-installing of node modules to force myself to have v1.1.6, things seem to work now, so I think this is fixed, thanks!

Here's what I did:
[code]

(not sure that `npm install -g @firebaseextensions/firestore-bigquery-change-tracker` was needed)

[2020-04-29 07:49] #289 closed

[2020-04-29 08:05] iislucas opened #294 "fs-bq-import-collection supports command line arguments"
### [REQUIRED] Step 2: Extension name

This feature request is for extension: **firestore-bigquery-export**, specifically the fs-bq-import-collection script.

### What feature would you like to see?

Would be great to be able to provide the arguments on the command line instead of interactively.

### How would you use it?

To save from re-typing stuff so often.

[2020-04-29 13:24] iislucas opened #295 "firestore-bigquery-export: Strings imported into bigquery are wrapped in extra quotes"
### [REQUIRED] Step 2: Describe your configuration

- Extension name: **`firestore-bigquery-export`** in particular for the view creating script (https://github.com/firebase/extensions/blob/master/firestore-bigquery-export/guides/GENERATE_SCHEMA_VIEWS.md)
- Extension version: **0.1.6**

### [REQUIRED] Step 3: Describe the problem

String values in bigquery are wrapped in extra double-quote charact

[2020-04-29 13:42] russellwheatley commented on #292
Seems like a potential feature request, @iislucas, thanks for the suggestion.

[2020-04-29 13:56] russellwheatley commented on #290
@inglesuniversal I hope you don't mind, but I updated your issue with the template headers. If you could update the text for each then the Firebase Extension team can assess if this feature is a good fit. Thank you.

[2020-04-29 13:59] russellwheatley commented on #285
Please use this issue thread #290 for this feature request.

[2020-04-29 13:59] #285 closed

[2020-04-29 14:35] russellwheatley commented on #293
Fair enough, could be a Feature Request candidate. Thanks for the suggestion.

[2020-04-29 14:48] russellwheatley commented on #294
Considering it is an option on `gen-schema-view` script, this is a possible idea for a feature request. Thanks again.

[2020-04-29 14:58] russellwheatley commented on #295
@iislucas Do you mind sharing a screenshot (of insensitive data) so I can understand the problem a bit better please? The data from Firestore is stringified (JSON) before being entered into a row in  a BigQuery table.

[2020-04-29 15:14] iislucas commented on #295
Good point, sorry I wasn't clear, it's to do with the schema views script. It results in extra quotes in string fields.

[2020-04-29 15:27] russellwheatley commented on #269
Interesting. A possible solution is to increase the amount of memory for your cloud function (default is 256mb). Here is a set of [instructions](https://stackoverflow.com/a/44506225) on how to achieve that.

[2020-04-29 19:59] EliasTouil commented on #290
You can find additional information and screenshots about this request [here #285](https://github.com/firebase/extensions/issues/285#issuecomment-620746210)

[2020-04-29 20:04] EliasTouil commented on #290
I would like to add that the original file has all the EXIF necessary to be rotated on the front end, but the thumbnails don't.
@russellwheatley  Should I open a new issue for this? (please see #285 or link in the comment above).

[2020-04-30 16:07] jakob-e commented on #290
Sharp has auto-rotate out of the box
https://sharp.pixelplumbing.com/api-operation

[code]

[2020-05-01 11:27] russellwheatley commented on #290
@EliasTouil If you only care about the image being correctly oriented in Firebase Storage via this extension, then I guess you don't need to create another issue. But if you would like the images metadata being carried over to the resized image(s) then you could create a new issue for a feature request.

[2020-05-01 11:28] russellwheatley commented on #290
@jakob-e Thanks for the suggestion 👍

[2020-05-01 11:49] russellwheatley commented on #295
You're correct, as this example illustrates, there is an extra set of quotes around "url" value when using the `gen-schema-view` script:
<img width="202" alt="Screenshot 2020-05-01 at 12 45 28" src="https://user-images.githubusercontent.com/16018629/80803437-2df5b500-8baa-11ea-9926-92c9ce5e807f.png">

[2020-05-03 01:24] fasteater commented on #17
wild card is one thing, unable to import sub collection is a bigger issue. I wasn't able to implement the hacking script method, could you please support sub collections?

[2020-05-04 21:15] iislucas commented on #295
I think this is a bug? (either in documentation, or implementation; I think probably implementation as I don't see any reason to have JSON escaped strings values in bigquery)

[2020-05-04 21:20] iislucas opened #298 "Array fields in from GENERATE_SCHEMA_VIEWS remove the row from bigquery when empty or not present."
### [REQUIRED] Step 2: Describe your configuration

- Extension name: **firestore-bigquery-export** (Specifically the [GENERATE_SCHEMA_VIEWS script](https://github.com/firebase/extensions/blob/master/firestore-bigquery-export/guides/GENERATE_SCHEMA_VIEWS.md))
- Extension version: **0.1.6**

### [REQUIRED] Step 3: Describe the problem

If you have array-typed objects and the array-typed object is e

[2020-05-04 21:25] iislucas commented on #298
I think the issue is that array fields are being added with "CROSS JOIN", where they should be added with "LEFT JOIN"

[2020-05-04 21:56] karayu commented on #187
Hi, Jan, does that merged PR fix this?

[2020-05-04 21:57] karayu commented on #139
@russellwheatley do you mind taking a look?

[2020-05-05 03:47] naturalui opened #299 "FirestoreShardedCounter Swift Client"
### [READ] Step 1: Are you in the right place?

Got the extension working with Javascript Sample Client but was wondering if anyone is aware of a Swift port.

### [REQUIRED] Step 2: Extension name

Distributed Counter - https://github.com/firebase/extensions/tree/master/firestore-counter

### What feature would you like to see?

Swift Client Library for firestore-counter

### How would you use it?

[2020-05-05 08:03] russellwheatley commented on #298
If I understand you correctly, I think this is by design as specified in the documentation:
https://github.com/firebase/extensions/blob/next/firestore-bigquery-export/guides/GENERATE_SCHEMA_VIEWS.md#cloud-firestore-arrays

The pertinent line:
`If the array is empty, it will be ignored by the schema-views script.`

[2020-05-05 08:16] russellwheatley commented on #299
Seems like a potential feature request, thanks for the submission.

[2020-05-05 09:03] iislucas commented on #298
The 'it' in that sentence would normally be interpreted as "the array", rather that the whole row. I don't think "the row" is likely to be an interpretation anyone would expect/want.

But if that is really the current goal, then making the sentence clearer would fix it; and this can then become a feature request: don't ignore the row is an array is empty; ignore the array instead. I can't image an

[2020-05-05 13:59] thebeingapp commented on #37
tried sending an attachment using the array field 'attachments' in template collection. But the email got delivered with the attachment. Does anyone know if the extension is supposed to work with an attachment in the template?

[2020-05-05 16:15] russellwheatley commented on #295
Yeah, you're right on that one, @iislucas

[2020-05-05 16:21] russellwheatley commented on #298
I agree with you @iislucas, it shouldn't ignore the row. I will take a look and get back to you.

[2020-05-05 17:15] #286 closed

[2020-05-05 17:44] IanWyszynski commented on #187
I believe not. This PR is about adding typescript types to the extension code instead of using `any/object` types. It wouldn't change any interfaces. In my opinion, this is a lower-priority internal cleanup.

[2020-05-06 21:14] inglesuniversal commented on #290
@russellwheatley Hi, do you need additional information to proceed with the update and fulfillment of my request?

I would like to add, the even though the images can be rotated on the client side before the upload starts. It would be more VALUABLE to have the function run the two scenarios all built-in into the function.

You can't rely on older phones to do the job of rotating an uncertain numbe

[2020-05-08 08:38] bhr opened #305 "Delete User Data extension to allow targeting documents for a given field value"
### Extension name

This feature request is for extension: **delete-user-data**

### What feature would you like to see?

Ability to target documents that match the user ID as one of the fields in Firestore.
One example would be a collection of `articles` and each article stores the author's UID in the `authorUID` field. When the user decides to delete their account, all articles the user is the a

[2020-05-09 13:34] nxorable commented on #259
Just reproduced this going from `0.1.4` to `0.1.5`

[2020-05-12 16:22] russellwheatley commented on #305
Hey @bhr, thanks for the feedback. This sounds like a potential feature request candidate.

[2020-05-13 06:57] devcoderrajarshi opened #308 "Feature request for "Limit Child Nodes" extension"
There is a need for multiple child paths and child count to limit the child count using **"Limit Child Nodes" extension**
This feature can be used to apply rules to multiple paths in a project with different child counts.
It can be a array of comma separated paths like ['path1', 'path2'] applied for path filed and child limit field

[2020-05-13 11:14] jay-shah opened #309 "Getting the exact document name"
The current document_name shows the whole path to get to that document for example `projects/{project name}/databases/(default)/documents/{collection}/{document}`. Is there an easy way to get just the document?

[2020-05-13 14:58] Ehesp commented on #309
Hi @jay-shah - would you be able to provide a bit more context please? Which extension are you having issues with?

[2020-05-13 15:04] jay-shah commented on #309
Hi @Ehesp, thanks for your reply. It is the bigquery export extension. Please let me know if there is a better place to post my question.

[2020-05-13 16:03] mbleigh commented on #308
This is already possible, but in a slightly different way. The way you do this is to install multiple instances of the extension, one for each path you want to limit.

[2020-05-13 16:03] #308 closed

[2020-05-17 07:37] gki opened #310 "storage-resize-images extension sometimes doesn't keep the original image orientation."
###  Describe your configuration

- Extension name: `storage-resize-images`
- Extension version: 0.1.7
- Configuration values (redact info where appropriate):
[code]

###  Describe the problem

#### Steps to reproduce:
1. Upload image via Firebase Strorage console.
2. Wait and reload console until the resized image file has been shown.
3. Check the resized image.

##### Expected result
The orienta

[2020-05-18 07:58] russellwheatley commented on #310
Hi @gki,
               My guess is your tumbler image has EXIF data that the browser is using to orient your image properly. The resized image loses the EXIF data, and the browser renders the image incorrectly. This [article](https://www.howtogeek.com/254830/why-your-photos-dont-always-appear-correctly-rotated/) has a pretty good explanation as to why this is happening.

This PR #306 will rotate

[2020-05-18 14:28] gki commented on #310
Hi @russellwheatley ,
Thanks for checking and sharing info.

OK, I can wait PR #306.
I hope your update will release sooner! 🤞

[2020-05-18 18:53] #290 closed

[2020-05-18 21:56] karayu commented on #140
Thanks everyone! I think we pushed a commit last week that fixed this. Please let us know if you continue to see issues!

[2020-05-18 21:57] #110 closed

[2020-05-19 00:46] bfelbo opened #311 ""An unexpected error occurred" when installing firestore-bigquery-export"
### [READ] Step 1: Are you in the right place?
Yes

### [REQUIRED] Step 2: Describe your configuration

- Extension name: **firestore-bigquery-export**
- Extension version: **0.1.5**
- Configuration values (redact info where appropriate):
[code]

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

What happened? How can we make the problem occur?
Inside my project on console.fir

[2020-05-19 04:28] zchauvin commented on #311
I'm also experiencing this. Things I've tried:

- Using an existing collections path (both with and without a leading /), or a non-existent collection
- Using an existing dataset ID, or a non-existent dataset ID
- Installing the extension via the CLI `firebase ext:install firestore-bigquery-export --project=projectId_or_alias`

Unfortunately, I always get "An unexpected error occurred."

[2020-05-19 15:21] Salakar commented on #139
I believe this has now been implemented - both the linked PRs have since been merged & released - so will go ahead and close this, thanks!

@imikim please could you raise your issue separately via a new issue, though I think https://github.com/firebase/extensions/issues/298 has already been raised which relates to your issue.

[2020-05-19 15:21] #139 closed

[2020-05-19 15:38] russellwheatley commented on #298
I had a look at implementing a `LEFT JOIN` at this spot for the changelog view:https://github.com/firebase/extensions/blob/master/firestore-bigquery-export/scripts/gen-schema-view/src/schema.ts#L260 & also at this spot for the latest view: https://github.com/firebase/extensions/blob/master/firestore-bigquery-export/scripts/gen-schema-view/src/snapshot.ts#L163. Whist it solved the intial problem, I

[2020-05-19 15:48] russellwheatley commented on #311
Hey @bfelbo, I've also had similar problems when trying to install extensions from a new project. We will let you know when the issue has been resolved. Thank you for your patience!

[2020-05-19 16:52] #295 closed

[2020-05-19 17:20] #247 closed

[2020-05-19 18:43] iislucas commented on #298
A more standard SQL-esk way might be to create a separate table for the array, a table that shares the document_name, and this would also enable you to easily support https://github.com/firebase/extensions/issues/293 ?

[2020-05-19 20:32] laurenzlong commented on #311
Thank you for reporting @bfelbo! We've rolled back a backend change that was problematic. (It was causing not just this extension to fail to install, but all extensions.) You should now be able to install the extension again. Please comment here if you're still having issues.

[2020-05-19 20:32] #311 closed

[2020-05-20 09:48] Salakar commented on #311
@bfelbo @zchauvin this should be fixed now, please could you try again?

[2020-05-20 15:49] kevinkaar opened #316 "firestore-bigquery-export ability to export to partitioned tables"
This feature request is for extension: firestore-bigquery-export

Would really help with billing to be able to export firestore collections to BigQuery using partitioned (e.g by ingestion time, daily) tables.

[2020-05-20 16:18] magoarcano opened #317 "Crop image so fits exactly in max width and max height"
### [REQUIRED] Step 2: Extension name

This feature request is for extension: `storage-resize-images`

### What feature would you like to see?
Current behavior as in the documentation:

Using that example parameters, I would like a final resized image of the exact size of max width and max height (200 x 100) instead of 75px x 100px.
In that case, in order to maintain the aspect ratio, the image wo

[2020-05-20 16:27] magoarcano commented on #317
After seen the code I realized it's using the option `fit='inside'`.
The default option of the resizing library is `'cover'`. That's the option I want.
Is it possible to have that option available?

[2020-05-20 18:11] laurenzlong commented on #310
This has now been released in v0.1.8 of storage-resize-images.

[2020-05-20 18:11] #310 closed

[2020-05-20 20:27] vpetlu opened #318 "extensions/firestore-bigquery-export: geopoint function args are incorrect"
### [READ] Step 1: Are you in the right place?

Yes

### [REQUIRED] Step 2: Describe your configuration

- Extension name: `firestore-bigquery-export`
- Extension version: 0.1.5
- Configuration values (redact info where appropriate): n/a

### [REQUIRED] Step 3: Describe the problem
When exporting geolocations from Firestore into BigQuery, the args are flipped causing lats and longs to be swapped.

[2020-05-20 21:03] vpetlu commented on #318
FYI, I have a PR ready to address this already.  We've signed a CLA, waiting for the OK from Google before I submit.

[2020-05-20 22:50] bfelbo commented on #311
Thanks for the quick response. It installed now.

The guide doesn't seem to make sense though. When going to the link in step 1 (see below), I immediately get this popup that forces me to go to "Cloud Platform", making the rest of the guide useless.

We haven't used Cloud Firestore or any of this in any way so it's surprising that the guide doesn't work for us.

![image](https://user-images.github

[2020-05-20 22:52] bfelbo commented on #311
Are we supposed to click on the Switch to Native Mode inside the Cloud Platform UI to be able to follow the rest of the guide?

![image](https://user-images.githubusercontent.com/23178145/82505138-e039e180-9ab1-11ea-87c9-958b837224d5.png)

[2020-05-20 23:35] laurenzlong commented on #311
Hi @bfelbo yes please select "switch to native mode" if you are aiming to use Firestore with Firebase SDKs. Most Firebase customers use this mode, so that's why the guide is written assuming that you have Firestore in Native mode. Please see https://cloud.google.com/datastore/docs/firestore-or-datastore#feature_comparison for a feature comparison.

Did you use Datastore previously? (Or enabled the

[2020-05-21 03:52] bfelbo commented on #311
Thanks @laurenzlong. We switched now and can follow the rest of the guide.

I'm pretty sure we've never used Datastore or enabled the API.

[2020-05-21 16:24] zchauvin opened #319 "extensions/firestore-bigquery-export: "Request contains an invalid argument" on install"
### [READ] Step 1: Are you in the right place?

Yes

### [REQUIRED] Step 2: Describe your configuration

- Extension name: `firestore-bigquery-export`
- Extension version: 0.1.5
- Configuration values: see screenshot

![Screen Shot 2020-05-21 at 9 12 17 AM](https://user-images.githubusercontent.com/7321305/82580667-4b33f880-9b44-11ea-9742-d923cd96ecd8.png)

### [REQUIRED] Step 3: Describe the prob

[2020-05-21 21:07] agreaves opened #321 "firestore-bigquery-export Access Denied Error"
After adding the extension to our firebase project (and waiting for it to complete), I ran the `firebaseextensions/fs-bq-import-collection` script, answered the prompts accordingly, and then ran into a permissions issue. Here is the full dump:

? What is the path of the the Cloud Firestore Collection you would like to import from? (This may, or may not, be the same Collection for
 which you plan t

[2020-05-22 02:34] agreaves commented on #321
Just for posterity, the error was because the env variable GOOGLE_APPLICATION_CREDENTIALS was pointing to the wrong location even after running `gcloud auth application-default login`. After fixing that it works as intended.

[2020-05-22 02:34] #321 closed

[2020-05-22 12:16] russellwheatley commented on #316
Hi @kevinkaar, thanks for the suggestion. As far as I can tell from the BigQuery nodejs [documentation](https://googleapis.dev/nodejs/bigquery/latest/index.html), it doesn't seem possible to be able to create partitioned tables. It would have to be via the API. Not sure if this is something the Firebase Extensions will be considering in the short term, but I'm sure they will consider it.

[2020-05-22 12:19] russellwheatley commented on #317
Hey @magoarcano, thanks for the suggestion. I guess that would be considered a feature request considering it would require an additional option. The Firebase Extension's team will take a look at the viability, I'm sure.

[2020-05-22 12:48] nicoqh commented on #268
Are you sure your files are not publicly accessible (i.e. that any token would work)? The download token *should* be replaced when you overwrite the file, and the old one isn't kept. I just confirmed this using both the Firebase Console and the Firebase Storage SDK.

[2020-05-22 13:44] nicoqh opened #323 "Recycling download tokens is problematic (storage-resize-images)"
### [READ] Step 1: Are you in the right place?

...

### [REQUIRED] Step 2: Describe your configuration

- Extension name: storage-resize-images
- Extension version: 0.1.8

### [REQUIRED] Step 3: Describe the problem

In a previous version, `firebaseStorageDownloadTokens` was deleted from the metadata object before the resized image was uploaded.

#279 removed this deletion, resulting in `firebase

[2020-05-22 14:19] russellwheatley commented on #319
Hi @zchauvin, thanks for reporting this issue. I think there is a good chance that the problem has been resolved now as I successfully installed the BigQuery extension from the CLI and the console. Could you please try and report back? Thank you.

[2020-05-22 14:20] russellwheatley commented on #318
Thanks for reporting the issue @vpetlu, I'll take a look and report back.

[2020-05-22 15:40] zchauvin commented on #319
I was able to install the extension @russellwheatley, thanks for the followup!

[2020-05-22 16:33] #233 closed

[2020-05-22 17:30] magoarcano commented on #317
Thanks.
It's just adding a new parameter `fit` at config.ts. And changing function resize at index.ts in line 157, puting `fit` instead of `'inside'` so it can use that parameter.
[code]
I would make a pull request with the change, but I don't get where in the code the user can choose that parameter (the screen that firebase shows in order to configure the extension), and the process of doing ever

[2020-05-22 18:59] RegniBlef commented on #268
@nicoqh  You are probably right about this, I never looked at the accessibility of my images since I´ve only created public projects up until now. But I still think this feature would be a nice addition, the problem you stated could be handled by a checkbox labelled „replace original image“ and a hint saying „new image won´t be accessible with old media-token if not publicly accessible“.
Also I be

[2020-05-22 20:09] nicoqh commented on #268
@RegniBlef I agree that it would be a nice addition! My proposal in #323 could accommodate this feature without requiring that the files are public.

[2020-05-22 21:07] caesarivs opened #324 "Views generated by the fs-bq-schema-views script don't parse firestore timestamps correctly"
### [READ] Step 1: Are you in the right place?

Yes

### [REQUIRED] Step 2: Describe your configuration

- Extension name: **firestore-bigquery-export**
- Extension version: **0.1.5**

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

1. Have an instance of the extension set up to send updates to BigQuery from a collection where documents have a timestamp field
2. Use the fs-b

[2020-05-22 21:10] caesarivs commented on #324
On the generated view, the query goes something like this:

[code]

I tried using `JSON_EXTRACT()` instead and apparently it yielded an actual timestamp

[2020-05-22 21:15] caesarivs commented on #324
The script generates two schema views, one for the changelog and one for the latest. The latest schema view ignores the actual date for some reason:

[code]

I was able to tinker with the schema views actual queries and get the date part from the timestamp which is what I'm interested in, but I don't think this is an intended behaviour

[2020-05-23 10:51] bhaskar-nair2 opened #325 "Trigger Email extention's SMTP setup is very ambiguous"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2020-05-23 11:55] nicoqh opened #326 "storage-resize-images resizes SVG files, resulting in wrong content types"
### [READ] Step 1: Are you in the right place?

...

### [REQUIRED] Step 2: Describe your configuration

- Extension name: storage-resize-images
- Extension version: 0.1.8

### [REQUIRED] Step 3: Describe the problem

Without an explicit output format, [Sharp infers it from the input file](https://sharp.pixelplumbing.com/api-output#tofile):

This causes problems with SVG images:

1. Upload an SVG

[2020-05-23 12:36] rosariopfernandes commented on #326
+1 for skipping vector images resize

[2020-05-25 12:14] Ehesp commented on #326
Makes sense, SVGs are scalable anyway! Will get this flagged for an update.

[2020-05-25 18:49] Sterv commented on #324
I'm having the same issue. Here's some other information.

The "latest" schema excludes the timestamp field (for me it is called "createdAt") and two additional fields are created: `createdAt_seconds, createdAt_nanoseconds`.

The query for the "latest" view excludes `createdAt` in the GROUP_BY section, and adds an extra `createdAt_seconds, createdAt_nanoseconds` on the last line, where I expect to

[2020-05-25 19:29] caesarivs commented on #324
Yes, the firestore timestamp fields appear on the JSON as an object with `_seconds' and `_nanoseconds` keys, the script actually generates a function `firestoreTimestamp()` to convert those seconds and nanoseconds to milliseconds, and then use the result to generate a timestamp with BigQuery's `TIMESTAMP_MILLIS()`. But this doesn't work as intended because of the use of `JSON_EXTRACT_SCALAR()` on

[2020-05-25 21:40] vpetlu commented on #318
Thanks.  PR: https://github.com/firebase/extensions/pull/320

[2020-05-26 07:17] russellwheatley commented on #309
Hey @jay-shah, you're in the right place if you have an issue with a Firebase Extension! Could you outline the problem you're having with the bigquery extension, please?

[2020-05-26 07:35] russellwheatley commented on #323
Hey @nicoqh, thanks for the head's up and possible solutions! Very informative. I'm sure the Firebase Extension's team will consider the options available on solving this issue.

[2020-05-26 07:37] russellwheatley commented on #319
No problem, @zchauvin. Thanks for letting us know!

[2020-05-26 10:41] seansaleh commented on #316
It does appear to be possible, a link from their docs: https://github.com/googleapis/nodejs-bigquery/blob/master/samples/createTablePartitioned.js
[code]

[2020-05-26 13:29] sk- opened #327 "Update extensions to Node 10"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2020-05-26 18:07] laurenzlong commented on #213
Hey @long1eu if you're interested in hearing about when you would be able to preview the experience of creating your own extensions, sign up for the Firebase Alpha program: https://services.google.com/fb/forms/firebasealphaprogram/

[2020-05-26 18:09] long1eu commented on #213
@laurenzlong Hi! Thanks. I'm already in the Alpha program, but I didn't received anything about this.

[2020-05-26 18:14] laurenzlong commented on #213
We haven't announced it yet, but if you're already a part of Firebase Alpha, then you'll get an update when we do launch the producer experience into Alpha :)

[2020-05-26 18:15] long1eu commented on #213
@laurenzlong you're the best

[2020-05-28 05:16] bhaskar-nair2 commented on #325
@Ehesp I don't think it is just a documentation issue.

[2020-05-28 12:55] russellwheatley commented on #316
@seansaleh nice, I didn't see that 😄

[2020-05-28 12:58] russellwheatley commented on #327
Hey @sk-, thanks for the suggestion. I think the upgrade to v10 is already in the pipeline 😄

[2020-05-28 22:17] rachelsaunders opened #331 "chore(*): within all extension.yaml files, change syntax of parameter ref to ${param:PARAMETER_NAME}"
Currently, all the official Firebase extensions in their extension.yaml files use the parameter reference syntax of ${PARAMETER_NAME}.  However, with the recent [v8.4.0 release](https://github.com/firebase/firebase-tools/releases/tag/v8.4.0), we can/should use the "universal" syntax of ${param:PARAMETER_NAME} in extension.yaml files.

"universal" = all extension files now support this parameter re

[2020-05-29 15:33] gastsail commented on #113
I have tried out the schema-view export but I got an error.

**This is my Firebase document schema that I want to generate a view for.**

[code]

**Here is how I generated my JSON script** Note that I just generate the script for some fields, not all of them.
[code]

And here is the error it throws when I try to generate this view

[code]

I have changed sensitive information in the above error, b

[2020-05-29 15:38] gastsail opened #332 "Routine name "firestoreArray" missing dataset while no default dataset is set in the request."
### [REQUIRED] Step 2: Describe your configuration

- Extension name: **\_** BigQuery Export extension
- Extension version: **\_** 0.1.5
- Configuration values (redact info where appropriate):
`  npx @firebaseextensions/fs-bq-schema-views   --non-interactive   --project=${param:my_project_id}   --dataset=${param:my_dataset}   --table-name-prefix=${param:my_table_name}   --schema-files=./ordenes-sc

[2020-06-01 13:32] russellwheatley commented on #318
Hey @vpetlu, your observation is correct, the latitude and longitude values are placed incorrectly. However, I'm having trouble replicating it in my BigQuery table views (changelog and latest). Do you mind providing me with instructions on how to reproduce, please?  Thank you!

[2020-06-01 16:07] russellwheatley commented on #318
Thanks for raising the issue @vpetlu I was finally able to see it in the changelog after I fixed another bug in the script. I've approved your PR even though I've also made the same change in my [PR](https://github.com/firebase/extensions/pull/333). I hope yours gets merged in before mine :)

[2020-06-01 16:12] russellwheatley commented on #332
Hey @gastsail, are you sure that the dataset you're referencing exists in your BigQuery console? The error is pretty specific about it missing a dataset. If you're generating a view, the dataset has to already exist.

`\"firestoreArray\" missing dataset while no default dataset is set in the request`

[2020-06-01 19:34] RegniBlef opened #334 "Possibility to temporarily disable/deactivate an extension without uninstalling it"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2020-06-01 21:49] karayu commented on #327
Thanks so much for the feedback SK! We will be rolling out Node 10 updates for every extension in the next couple months and will be sending you a follow-up message when that's ready. Don't worry, you'll have plenty of time to update before the Node 8 deadline of Feb 2021.

[2020-06-01 22:27] sk- commented on #327
@karayu Thanks for replying, but a couple of months is not a good sign at all for an officially supported product.

I think the relevant date is June 5.

Note that the current status of Node 8, which is EOL means that neither the NodeJs foundation neither Google (starting on June 5) will patch any security issues.

Could you share a public issue tracking this feature?

[2020-06-02 00:17] gastsail commented on #332
Hi @russellwheatley  , at my first configuration of npx, I have entered the correct table name, project ID and dataset that I need to provide to generate the view

npx @firebaseextensions/fs-bq-schema-views --non-interactive --project=${param:my_project_id} --dataset=${param:my_dataset} --table-name-prefix=${param:my_table_name} --schema-files=./ordenes-schema-view.json

[2020-06-02 00:38] gastsail commented on #332
It seemed like I have place bad my json script, after changing it now its done but I get this before it finishes

**No schema files found!
done**

Any clue ?

[2020-06-02 00:59] gastsail commented on #332
Now, if I specify right where the schema file is I get this error

**No schema files found!
done.**

And I'm pointing right to the schema file

[2020-06-03 08:32] HamidRazaGoraya opened #335 "Camera Images Upload works fine but when i generate thumbnail it gets rotated firebase cloud function"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2020-06-03 08:36] russellwheatley commented on #316
Hey @kevinkaar, the Firebase Extension's team have reviewed this idea. As you're probably aware, there are a multitude of features available for BigQuery and that scope has to be limited to a degree. Therefore, the use of partitioned tables has been deemed outside the purview of the BigQuery Firestore extension.  Thanks once again for the suggestion though, if you do have anymore, feel free to rai

[2020-06-04 06:26] Neilpoulin commented on #309
I think i'm having the same problem as the author of this issue. All of the samples (including the readme [here](https://github.com/firebase/extensions/blob/master/firestore-bigquery-export/guides/EXAMPLE_QUERIES.md) indicate that you can query your firestore documents by their documented, using `where document_name = 'some_id'`. However, the `document_name` field in bigquery that is generated fro

[2020-06-04 17:08] kabirkhan opened #336 "Multiple fields in translate text extension"
### Extension name

This feature request is for extension: **translate-text**

### What feature would you like to see?

This extension is great but would be awesome to provide multiple input/output field mappings to make it a bit more generic.

### How would you use it?

I'd like to translate 2 properties for each document in a collection. It doesn't make sense to concatenate the properties togeth

[2020-06-04 20:19] doilio opened #337 "Avoid Cropping Images inferior to my MaxDimensions"
### [REQUIRED] Step 2: Extension name

This feature request is for extension: `storage-resize-images`

### What feature would you like to see?

Current behavior as in the documentation:

Right now when I upload a **200x200** picture, the extension resizes it to **800x800** making it fit my Max dimensions.
This causes an increase in file size, and stretches the image making it look pixelated.

###

[2020-06-04 21:25] rosariopfernandes commented on #337
@doilio Thanks for finding this. Should be fixed by #338

[2020-06-04 23:48] #318 closed

[2020-06-04 23:48] #324 closed

[2020-06-05 03:47] Infinitism commented on #17
Can someone explain how to implement this workaround for importing/back filling sub collections using google cloud shell please?

[2020-06-05 19:11] gastsail commented on #332
Any update on this last error ? @russellwheatley

[2020-06-05 22:20] Infinitism commented on #17
@russellwheatley : What's the work around that you say was merged in?

[2020-06-06 23:34] zhuixinjian opened #339 "Error: 10 ABORTED: Too much contention on these documents"
###  configuration

- Extension name: **\_** (`ext-firestore-counter-controllerCore`)
- Extension version: **\_**
firestore-counter
Version 0.1.3

### [REQUIRED] Step 3: Describe the problem
[code]

##### Expected result

##### Actual result

[2020-06-08 08:35] russellwheatley commented on #335
Hey @HamidRazaGoraya, could you confirm what version of `storage-resize-images` you're using?

We have recently added a feature to `storage-resize-images` which will rotate the image based on its EXIF data so that they're oriented correctly. I presume this is the reason your photos are being rotated? You could use one of the many online tools for viewing EXIF data to to peek at the orientation pro

[2020-06-08 08:43] russellwheatley commented on #336
Yeah, that's a fair idea, I'm sure the Firebase Extension's team will take a look.

[2020-06-08 08:47] russellwheatley commented on #332
Are you running the command from the directory that contains the schema? i.e.`THIS DIRECTORY/ordenes-schema-view.json`

[2020-06-08 11:31] russellwheatley commented on #339
Hey @zhuixinjian, it appears your app may have hit the limit of writes per second available: 10,000, which is quite a lot. Can you confirm this is the case?

[2020-06-08 11:51] zhuixinjian commented on #339
Maximum writes per second per database = 10,000 (up to 10 MiB per second)
this?， maybe.. how to upgrade??

[2020-06-08 12:48] HamidRazaGoraya commented on #335
hi thanks for your response .. i am not using extension  as my application
stores the download url of image and thumbnail url in a document so i have
to convert generate thumbnail from url uploaded to document not no storage
upload
so i have modified the code to convert url into storage path

On Mon, Jun 8, 2020 at 1:36 PM Russell Wheatley <notifications@github.com>
wrote:

[2020-06-08 16:43] Sterv commented on #324
How can I use the updated script from the `next` branch (rather than the `master`) using npx?

`npx @firebaseextensions/fs-bq-schema-views#next` does not work for me

[2020-06-08 21:06] gastsail commented on #332
yes right, from the directory itself

[2020-06-09 09:20] Ehesp commented on #325
Hi @bhaskar-nair2

Thanks for your comments. After discussing internally, we have decided to leave the SMTP field open for plain text, otherwise it would be too restrictive having specific fields.

We will however look into seeing if there's a way to validate SMTP credentials are valid before deploying the extension.

Thanks

[2020-06-09 12:09] cjmconie opened #342 "firestore-counter - call from cloud function"
### [READ] Step 1: Are you in the right place?

Yes, this is feature request for an extension to the `firestore-counter` to be available for use in a cloud function. Currently the [Web](https://github.com/firebase/extensions/blob/master/firestore-counter/clients/web/src/index.ts) client code can't be used as-is since it relies on the `document` object (see related questions below).

### [REQUIRED]

[2020-06-09 12:24] russellwheatley commented on #339
A maximum of 10,000 database writes per second as mentioned in the [documentation](https://firebase.google.com/products/extensions/firestore-counter). As far as I'm aware, there is no way of increasing that limit.

[2020-06-09 12:47] russellwheatley commented on #332
I've just copied and pasted the [script](https://github.com/firebase/extensions/blob/next/firestore-bigquery-export/guides/GENERATE_SCHEMA_VIEWS.md#step-3-run-the-script) replacing the values for my test project, and it worked fine.

I think it might be best to double check you've input the values correctly, and you're running from the correct directory.

[2020-06-09 12:52] russellwheatley commented on #335
Hey @HamidRazaGoraya, this forum is for issues that are related to the use of Firebase Extensions. If you do have a problem with an extension, please feel free to open a new issue.

[2020-06-09 12:52] #335 closed

[2020-06-09 16:15] Salakar commented on #201
Closing during to inactivity, if this is still an issue for you please let us know. Thanks!

[2020-06-09 16:15] #201 closed

[2020-06-09 16:16] Salakar commented on #209
Closing during to inactivity, if this is still an issue for you please let us know. Thanks!

[2020-06-09 17:09] #337 closed

[2020-06-09 17:11] #326 closed

[2020-06-10 01:52] Neilpoulin opened #345 "bigquery-export: Add `document.id` to BigQuery tables"
### [REQUIRED] Step 2: Extension name

This feature request is for extension: **`firestore-bigquery-export`**

### What feature would you like to see?

For this feature to be useful to me, I really need the firestore document's `id` exposed as a single field in the generated tables. Currently, the fully qualified `document_name` is provided, but this includes a bunch of additional prefixes that ma

[2020-06-11 00:11] Neilpoulin opened #347 "firebase-bigquery-export:schema-view Timestamps filtered out on "latest" view"
### [REQUIRED] Step 2: Describe your configuration

- Extension name: **firebase-bigquery-export/gen-schema-view**
- Extension version: **0.1.9**

### [REQUIRED] Step 3: Describe the problem
When generating a schema for the firebase bigquery export extension, Firebase Timestamp values do not show up in the `latest` schema but do in the changelog.

Looking in the code, there is a message that claim

[2020-06-11 13:38] kellyjandrews opened #348 "Question: Can we create new extensions?"
Is it possible to create new extensions and contribute here?  I currently have been working with Vonage APIs and Firebase and would like to create some extensions to make it easier to get setup.

If not - is it possible to install extensions that aren't in the official repo, or some easier process to get a user setup?  My current plan would be to create an SDK of some kind, but would still require

[2020-06-11 19:58] laurenzlong commented on #348
hi @kellyjandrews you can sign up for our Early Access Program here: https://forms.gle/ftBJPiPsYTStzjAH9

[2020-06-11 23:27] #348 closed

[2020-06-15 12:10] Ehesp commented on #323
Hi all - we've decided to go with the following approach:

If the image being resized contains a `firebaseStorageDownloadTokens` field, then the resized images will be created with a new token (rather than copying the parent).

[2020-06-15 13:04] teoColomberotto opened #352 "Unable to specify path of subcollections to be imported via script: npx @ firebaseextensions / fs-bq-import-collection"
[REQUIRED] Step 2: Describe your configuration
- Extension name: Export Collections to BigQuery
- Extension version: 0.1.5
- Configuration values (redact info where appropriate):
  - location : europe-west3
  - collectionPath: userData/{userId}/sessions

[REQUIRED] Step 3: Describe the problem
When entering the parameters in command line, it is not allowed to enter the path of the subcollection as

[2020-06-15 14:36] kellyjandrews commented on #348
Thank you @laurenzlong - filled it out.  Is there a general timeline on when the EAP will begin?

[2020-06-16 13:01] #325 closed

[2020-06-16 13:04] Ehesp commented on #331
@rachelsaunders does this also apply to built in parameters (such as `PROJECT_ID`)?

[2020-06-16 13:58] rachelsaunders commented on #331
Yep, it's my understanding that it's _any_ parameter, both user-configured and auto-populated.  We can def double-check, though @laurenzlong

[2020-06-16 14:09] russellwheatley commented on #17
Hi @Infinitism, I was mistaken, I thought support for `collectionGroup` queries was already implemented. I've created a PR to support `collectionGroup`queries, although it's not certain when or if it will be merged. If you're really keen, I'd suggest cloning the repository, and running the script locally using the changes from this PR #354.

[2020-06-16 14:33] russellwheatley commented on #352
Hey @teoColomberotto, unfortunately, you cannot currently import from sub-collections. There is already an issue open for this problem: https://github.com/firebase/extensions/issues/17 which you ought to follow for further updates.

[2020-06-16 14:33] #352 closed

[2020-06-16 16:47] karayu commented on #331
Let's keep this change unmerged until we get more soak time in the CLI. The CLI supporting this released about a month ago.

[2020-06-16 17:14] Infinitism commented on #17
@russellwheatley thanks! Took care of it the way you recommended:)

[2020-06-17 20:21] architechcro opened #355 "Extend extensions"
Hi,
I want to update firebase-email-send function
I've cloned the source of extension repository and try to update my extenstion with
`firebase ext:update`
but it always updates from original source - this repository.
I didn't find any details instructions on how to extend and update this extensions.
Hope you can help

[2020-06-18 08:46] CyrusZei commented on #327
so, I just upgraded my cloud functions to use node 10, but why can't I upgrade my extensions to use node 10?

[2020-06-18 09:44] CyrusZei opened #356 "File is already a resized image, no processing is required..."
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2020-06-18 14:40] russellwheatley commented on #347
Hey @Neilpoulin, thanks for raising the issue. You're correct, I'll be making a PR that will allow the timestamp to come through in the appropriate column that was mapped in the schema for the "latest" View.

[2020-06-18 16:04] mbleigh commented on #327
Hi folks, just wanted to give a little context here. If it were a simple technical matter of "upgrade to Node 10" we'd have already done it as soon as Node 10 went GA.

However, because of the billing changes that are coming soon for Node 10 (requiring a Blaze plan), we need to be careful in how we migrate extensions that currently work on the Spark plan. This is a high-priority item for the team,

[2020-06-18 17:02] russellwheatley commented on #355
Hey @architechcro, if you're not sure of the Firebase CLI commands, you can run this command `firebase --help` which lists all the commands with a description. To update your extension with your local changes you need to run the following command:

`firebase ext:update <extension Id> <path to firestore-send-email directory with your changes> --project=<firebase project Id>` .

 Every angled bracke

[2020-06-18 17:14] rosariopfernandes commented on #356
@CyrusZei please fill in the issue template when submitting an issue. With no details it's hard to reproduce your problem.

[2020-06-18 19:03] CyrusZei commented on #356
Will fix this now, sorry for this

[2020-06-18 19:18] CyrusZei commented on #356
Updated it 😃

[2020-06-18 19:20] rosariopfernandes commented on #356
@CyrusZei looks good! :)
Can you also tell what's the resolution of the image that you're uploading using `put()` ?

[2020-06-18 19:27] CyrusZei commented on #356
@rosariopfernandes I did update the issue template again, sorry for this.

I am using a react-native app and I have tried with a small image that is 400x400px and an image that is 1080x720, but it won't trigger it.

[2020-06-18 20:01] CyrusZei commented on #356
I just ran the extension again and I did comment out the line where it checks the metadata ` resizedImage` and the extension went mental again.
![Screenshot 2020-06-18 at 21 58 52](https://user-images.githubusercontent.com/5053903/85066343-151f7e00-b1af-11ea-81da-99b3988139ff.png)

Last time it went mental it created something like 500 000 resized image with 900ist byte of each
![Screenshot 2020-0

[2020-06-18 20:20] gastsail commented on #332
I have checked, its weird that it does not run, but I will see it again soon

[2020-06-18 22:44] rosariopfernandes commented on #355
@architechcro that feature is still in preview. In order to enable it on the CLI you'll need to run `firebase --open-sesame extdev` before running `firebase ext:update` as @russellwheatley explained.

[2020-06-18 22:52] mbleigh commented on #355
Hi, developing / forking extensions is something we're experimenting with in a closed testing program. If you're interested in learning more, please sign up for the [Firebase Alpha](https://services.google.com/fb/forms/firebasealphaprogram/) program.

[2020-06-18 22:52] #355 closed

[2020-06-19 01:09] CyrusZei commented on #130
a good thing would be to add the option for the extension to either do the check if the image does need to resize or not.

this code should be an option that you can set in the settings for this extension or else you won't have control over it if say you have another cloud function that will listen for the finalize trigger on firebase storage?

<img width="686" alt="Screenshot 2020-06-19 at 03 07

[2020-06-19 02:22] CyrusZei commented on #356
Okej, it has to do with this [#447](https://github.com/firebase/firebase-functions/issues/447).
Any update on this?

It looks like I need to set
`process.env.X_GOOGLE_NEW_FUNCTION_SIGNATURE = 'true';`
for this to be able to work?

[2020-06-19 12:09] russellwheatley commented on #356
Hey @CyrusZei, the reason why you can't remove these lines of code:
[code]
is due to the fact that we put a `resizedImage` property on each resized image. This stops the function triggering every time we add a resized image to the storage bucket that would cause an infinite loop, hence why your cloud function invocations skyrocketed.

This console log: `File is already a resized image, no processi

[2020-06-19 18:11] CyrusZei commented on #356
Hi @russellwheatley,

This makes sense and thanks for clearing this up for me. I did notice this :

I have this option In the resize field `400x250,200x200,100x100,60x60,40x40` and if the image is lower than say 400x250 it won't "resize them up" to that scale.

Cuz if I am not mistaking I think the  "old" resize image would resize them up?.

I will start looking and refactor my code on behalf of t

[2020-06-19 20:10] nosrednAhsoJ opened #358 "Enable multiple collections"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2020-06-19 21:23] mbleigh commented on #358
Hi Josh, you can install multiple instances of the same extension in a project to get this behavior -- have you tried it and something has gone wrong? If so, can you provide more specifics?

[2020-06-20 00:51] nosrednAhsoJ commented on #358
Figured out how to add another instance.  Thanks for pointing out that it was possible!

[2020-06-20 00:51] #358 closed

[2020-06-20 07:22] jakebern commented on #292
Running into a similar issue. Any suggested workaround for this right now eg. JSONifying the map into a string, then putting in a single column?

[2020-06-22 06:36] jackdreilly commented on #298
Apologies if this is too off-topic: Would this issue go away if a nested representation for exporting were supported?

I've experimented w/ constructing a view of nested structs and array, and it seems quite generic and convenient (Example below).

Is there a reason that a flattened representation was preferred to a nested one?

[code]

[2020-06-22 07:38] russellwheatley commented on #356
Yes, that is correct. When we initially switched from `ImageMagick` to `Sharp` image library, we didn't stop the extension from scaling up images that were smaller than the specified resize dimensions. That was rectified in this [PR](https://github.com/firebase/extensions/pull/338)

[2020-06-22 12:10] CyrusZei commented on #356
@russellwheatley ok =/ would have been nice if that would have been an option instead in the extension if you don't want it to resize up that you can tick. "Forcing" it to not resize up as default will break the code for a lot of devs :(

[2020-06-22 20:09] diegofhe opened #359 "firebase-bigquery-export: Array Type - No rows results"
### [REQUIRED] Step 2: Describe your configuration

- Extension name: **\Export Collections to BigQuery**
- Extension version: **0.1.5**

### [REQUIRED] Step 3: Describe the problem

When generating a view with array type data and querying for latest  returns: 'This query returned no results.'

#### Steps to reproduce:
1.-Install extension on collection 'examples'
2.-Create a collection called 'ex

[2020-06-23 09:47] Ehesp commented on #356
It was my understanding the previous versions using ImageMagick did not scale up by default, and the update to the Sharp version was to mimic previous functionality.

[2020-06-23 16:31] gastsail opened #360 "firestore-bigquery-export Obsolete Node 8"
All my functions has been updated to Node 10 , but for some reason this firestore-bigquery-export extension function has not been updated yet which says obsolete in my functions dashboard

[Image](https://i.imgur.com/ox27LH1.png)

[2020-06-23 23:14] CyrusZei commented on #356
hmm, I am pretty sure that it did? I will look again and come back to you.

[2020-06-23 23:42] jakebern opened #363 "Fix Documentation Referencing Wildcard Collections are supported"
Bug filed in October: https://github.com/firebase/extensions/issues/17
AFAIC, wildcard subcollections are still not supported.  It would be great to update the docs https://firebase.google.com/products/extensions/firestore-bigquery-export.

"Note that this extension only listens for document changes in the collection, but not changes in any subcollection. You can, though, install additional instan

[2020-06-24 03:58] CyrusZei commented on #356
Okej, it does work, but it really takes some time for it to process the images. When I was on node 8(256 MB) it sort of happened instantly but on node 10 (1gb) it feels like it does 70% of the job and then just won't do the rest until there comes another request. Oh well, I will look into refactoring my cloud functions and see if that might do something.

[2020-06-24 03:58] #356 closed

[2020-06-24 10:33] crablab commented on #17
This is potentially tangential, but it doesn't appear that the tool supports exporting all the collections (unless I'm doing something wrong!). I've tried `*`, `/` and simply leaving the field blank, but this doesn't seem to be covered in the documentation, and thus I assume it is not supported?

[2020-06-24 23:01] rachelsaunders opened #364 "firestore-translate-text(docs): change Cloud Translate API to Cloud Translation API"
The official name of this API is "Cloud Translation API"
https://cloud.google.com/translate

[2020-06-25 17:39] itssidhere opened #365 "Option to edit the code before updating the extension"
I am using storage_resize_image extension and I have made some changes for my specific use case ( ignore several paths ) but on updating the plugin every time I loose my changes. Also the new storage resize update which generates new token for resized image will break my code in production and I need to edit it after updating the plugin which will result in a downtime and unexpected behaviours. Ca

[2020-06-26 11:11] russellwheatley commented on #360
Hey @gastsail, I don't think it is quite as simple as upgrading your cloud functions to use node 10. The team are working hard to upgrade the extensions to use node 10. If you're interested, you might consider following this [issue](https://github.com/firebase/extensions/issues/327) which has become the public issue tracker for node 10 developments.

[2020-06-26 11:11] #360 closed

[2020-06-26 12:08] russellwheatley commented on #363
@jakebern, thanks for the heads up! I've created a PR to rectify the docs.

[2020-06-26 13:34] russellwheatley commented on #365
Hey @itssidhere, thanks for the inquiry. The ability to fork extensions is something currently being experimented with as mentioned [here](https://github.com/firebase/extensions/issues/355#issuecomment-646344290). I don't think selecting what features you'd like to use is feasible.

[2020-06-26 13:34] #365 closed

[2020-06-26 14:37] itssidhere commented on #365
Hey @russellwheatley . For my use case, I need to keep the tokens same. I am using the extensions in a chat app and I am using thumbnails to display on the chat screen and original image when the user clicks on it to view it. What I am doing is just invoking a cloud function each time a resized image is generated then I was copying the download URL of the image stored in the user document and appe

[2020-06-26 17:01] LucianoGanga commented on #359
I'm having the same issue :(

@diegofhe , could you make it work?

Thanks!
Luciano

[2020-06-26 17:57] diegofhe commented on #359
Hello @LucianoGanga, my project is still on development , so this issue is not critical to me (I am waiting for the firebase team to merge the fix on [368](https://github.com/firebase/extensions/pull/368)).  The first thing that comes to mind is to twerk the query on ${schema}_latest on "details" tab.
![image](https://user-images.githubusercontent.com/30607780/85886108-0e929700-b7ab-11ea-8a21-eb30

[2020-06-26 21:54] goleary commented on #17
This seems like a supremely necessary capability of this extension/import script.

Thanks for the workaround @MattReidArnold

[2020-06-27 16:31] JimmyPauwaert commented on #220
Had the exact same issue. Thx for adding your feedback!

[2020-06-27 18:34] LucianoGanga commented on #359
Thank you @diegofhe !! I really appreciate it :)

[2020-06-27 20:51] jakebern commented on #363
Thanks for the quick fix!  Wish there was a way to quantify developer time saved/lost in terms of accurate documentation to help prioritize things like this...  Maybe there can be a some feedback button... "lost time on old documentation" where you enter a estimated time value.

[2020-06-28 09:43] #323 closed

[2020-06-28 09:50] Ehesp commented on #339
Closing this one as it seems like a writes-per-second issue. Please let us know if you have any additional questions.

[2020-06-28 09:50] #339 closed

[2020-06-28 19:35] jimmykane opened #369 "Delete-User-Date node 8 deprecation warning"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2020-06-29 07:55] russellwheatley commented on #369
Hey @jimmykane, thanks for the feedback. It is just a warning that you will have to change in the future. You might want to follow this [thread](https://github.com/firebase/extensions/issues/327#issuecomment-637132303) for further Node 10 developments.

[2020-06-29 07:55] #369 closed

[2020-06-29 14:51] deplorableword opened #370 "firestore-bigquery-export Collection path regex error"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2020-06-30 07:53] jimmykane opened #371 "User delete data Error on permissions"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2020-06-30 08:13] iDeliverApps commented on #80
I am still having this issue with Mac. No problem uploading schema files and having data populate against those, but I can't get any other result for import than:
`? What is your Firebase project ID? ideliver-cloud
? What is the path of the the Cloud Firestore Collection you would like to import from? (This may, or may not, be the same Collection for which you p
lan to mirror changes.) idriver-app

[2020-06-30 09:30] russellwheatley commented on #370
Hey @deplorableword, if I read your collection path value correctly, you're trying to use a wildcard which isn't possible. This [issue](https://github.com/firebase/extensions/issues/363) was raised to change the documentation which now has a [PR](#366). Sorry for the confiusion!

[2020-06-30 09:47] deplorableword commented on #370
@russellwheatley thanks for getting back to me, since posting I've just installed it again trying the path `foo/{slug}/collection/` but it sounds like this won't work correctly either?

[2020-06-30 09:54] Ehesp commented on #371
Hey @jimmykane it looks as though something hasn't installed properly when the extension was setup.

Could you try un-installing the extension and re-installing it again?

If that still causes issues, would you be able to check whether an [IAM & Service Account](https://console.cloud.google.com/iam-admin/iam?authuser=0&project=_&folder=) have been created correctly?

The names should look somethin

[2020-06-30 10:14] russellwheatley commented on #370
Yes, you're correct. The wildcard `{slug}` isn't supported I'm afraid. Wildcards in Firestore queries are not possible.

[2020-06-30 11:31] jimmykane commented on #371
Will do sir

[2020-06-30 12:05] deplorableword commented on #370
@russellwheatley Very confused honestly, because it's installed correctly with `foo/{slug}/collection/ ` and I am seeing events come through for the `collection`. The collection itself is subcollection (if that makes any difference)?

[2020-07-01 10:33] russellwheatley commented on #370
@deplorableword  You're correct, thank you for bringing this to my attention! It isn't possible to do wildcards via a Firestore query. But this isn't a typical Firestore query, it is a cloud function that listens to documents as described [here](https://firebase.google.com/docs/functions/firestore-events#node.js_3).

The reason why it failed initially is because you don't have to specify the `docu

[2020-07-01 10:49] russellwheatley commented on #363
Hi @jakebern, you might be interested in this [thread](https://github.com/firebase/extensions/issues/370#issuecomment-652338351) as I was mistaken about wildcards for this extension. It is actually possible. I'll be closing this [PR](https://github.com/firebase/extensions/pull/366) and opening another PR that uses a regex for capturing incorrect paths.

 Sorry for the confusion!

[2020-07-01 19:13] deplorableword commented on #370
@russellwheatley Gotcha! A possible improvement would be to make the regex error mention the word document, I think that might make it easier for everyone to debug 😀

[2020-07-01 19:13] #370 closed

[2020-07-05 17:46] ivanchaukn opened #372 "Trigger Email HandleBar Partials"
### [REQUIRED] Step 2: Extension name

firestore-send-email

### What feature would you like to see?

Is there any support for handlebar partials in firestore-send-email? If not, is that something on the roadmap because there's no easy to reuse my code or create shared templates right now.

### How would you use it?

Create shared templates!

[2020-07-06 08:59] russellwheatley commented on #372
Hi @ivanchaukn, there is currently no support for handlebar partials. It is something that I think would be non-trivial to implement , but I'm sure the Firebase Extension's team will consider it.

[2020-07-06 09:13] mustafaekim commented on #292
I need exact same thing. The most important column of the table is a dictionnairy. I can neither "map" it, nor store as a string

[2020-07-06 19:10] Ross-Rawlins commented on #154
I getting this issue when issue when using gmail with no logged errors/

[2020-07-06 23:15] jhuleatt commented on #23
Thanks for the request. We're tracking this request internally, so I'm going to close this issue.

[2020-07-06 23:15] #23 closed

[2020-07-07 15:59] jhuleatt commented on #372
@ivanchaukn while we don't support Handlebar partials specifically, you can share templates across emails, as described in the `firestore-send-email` extensions POSTINSTALL file [here](https://github.com/firebase/extensions/blob/next/firestore-send-email/POSTINSTALL.md#using-templates). Does that meet your use case, or is there some additional functionality we need to add?

[2020-07-07 16:31] jhuleatt commented on #334
Thanks for the feature request @RegniBlef!

This is a Cloud Functions platform-level request, so I've logged it with the engineering team internally. I'm going to close this issue out, but if you'd like to comment here and provide some more context on when you'd use this feature, it would help the team prioritize this feature request.

[2020-07-07 16:31] #334 closed

[2020-07-07 19:18] talas9 commented on #371
Same issue here, it seems like the project name has "1m" prefix, I'm not sure if this is just in the log or the extension is actually adding this to the project name

[2020-07-07 20:44] #347 closed

[2020-07-07 20:49] #364 closed

[2020-07-07 23:58] jhuleatt commented on #334
This is tracked in the Cloud Functions public issue tracker: https://issuetracker.google.com/issues/119335117

[2020-07-08 10:04] schnaps1981 commented on #336
i vote for

[2020-07-08 15:09] ghert opened #382 "Resize-images doesn't work with gzip option"
### [REQUIRED] Step 2: Describe your configuration

- Extension name: storage-resize-images
- Extension version: 0.1.10
- Extension configuration: default

### [REQUIRED] Step 3: Describe the problem
When I tried to upload images with enabled gzip option they were getting resized but I couldn't load them in a browser. Link was broken and gave me domain network error.
#### Steps to reproduce:

Uplo

[2020-07-08 22:20] ivanchaukn commented on #372
@jhuleatt, you might be confused with what I'm asking here. I would like build a shared partial that can be used by other templates. (use case: I have a title bar or bottom section that's shared across all my email templates). As the number of templates grow, I would not want to repeat that part that's in every templates

[2020-07-09 17:58] tjlav5 commented on #259
@stari4ek thanks for posting! Turns out there was a memory-leak in the dialog which could affect subsequent dialog instances 👎 This should be fixed in the Console now.

[2020-07-09 17:58] #259 closed

[2020-07-10 04:44] mustafaekim commented on #292
It looks like storing some part of the document as a JSON will be the raw/basis solution for this because there are very-very different object structures and I don't think that this JSON Schema approach will cover them.

[2020-07-10 06:29] erfabs commented on #332
Hi @gastsail ,

how did you solve the problem  "Routine name \"firestoreArray\" missing dataset while no default dataset is set in the request."
I´m using this:
 --dataset=${param:firestore_export}

and the name is the same as in Big Query
![image](https://user-images.githubusercontent.com/23406161/87123481-1ceeb180-c287-11ea-9822-0e818612e185.png)

Thanks

[2020-07-10 10:17] alek6dj commented on #332
Hi @gastsail @russellwheatley @erfabs
I haved checked it in BigQuery and I have found this error:

![image](https://user-images.githubusercontent.com/38159733/87143324-34896280-c2a6-11ea-9594-1034b7e5be5e.png)

It can be fixed in BigQuery if we put the full path to the dataset, since there is not default dataset:
![image](https://user-images.githubusercontent.com/38159733/87143507-7d411b80-c2a6-11

[2020-07-10 13:30] mustafaekim commented on #80
I am having the same error on a Windows machine

[2020-07-10 14:24] russellwheatley commented on #382
Hey @ghert, thank you for bringing this to our attention. You're correct, it does indeed cause the resized images to error. I think the FE team will probably review this internally to figure out how/if it is something to be handled as part of the extension.

[2020-07-10 17:31] cubissimo commented on #235
Hello folks! I hope I don't resurrect this issue unnecessarily. But maybe was a regression in version 0.1.6.

I noticed today after upgrade from 0.1.5 to 0.1.6 through firebase extension UI the following error. I have other ext-firestore-bigquery in same project running in 0.1.5 that works like a charm.

Someone can help me confirming that?

[code]

[2020-07-10 21:19] laurenzlong commented on #235
Hi @cubissimo it's not possible to downgrade unfortunately, but you could uninstall the extension, and reinstall an older version of the extension via the CLI by running:
`firebase ext:install firestore-bigquery-export@0.1.5  --project=your-project-id`

@russellwheatley Could you please see if you can repro this issue?

[2020-07-10 23:15] rphlmr commented on #298
I patch that by manually editing the view with :

[code]

(IF func seems to don't work, but I'm bad at SQL :p )

It duplicates only row that have datas in arrays (I have 3 arrays in my scheme, not all rows have data).
Don't know if it was the expected behaviour ?

[2020-07-11 04:44] mustafaekim commented on #345
Hi, it looks like now import has the document id column, however the extension which sync the firestore with bigquery table does not include document id column so the table now has imported rows with document id, created rows without

[2020-07-11 16:23] sidharthmishra11 opened #384 "No schema file found ! error while running the fs-bq-schema-views script"
### [READ] Step 1: Are you in the right place?

yes
### [REQUIRED] Step 2: Describe your configuration

- Extension name: firestore-bigquery-export (fs-bq-schema-views script)
- Extension version: Latest

### [REQUIRED] Step 3: Describe the problem
I am trying to create BigQuery view of my raw changelog using fs-bq-schema-view script but while running the script I am getting the message 'No Schema

[2020-07-13 09:25] russellwheatley commented on #384
Hi @sidharthmishra11, the reason why it isn't working is because of the path for your schema file i.e. `--schema-files=D:/GCP-Firebase/test_schema.json`. I'd recommend executing the command from `D:/GCP-Firebase` directory and changing schema file argument to a relative path like this: `--schema-files=./test-schema.json`.

[2020-07-13 18:27] sidharthmishra11 commented on #384
Thanks @russellwheatley for your response. I tried using --schema-files=./test-schema.json but still its giving me the same message 'No Schema files found'.

You recommended executing the command from D:/GCP-Firebase. How do I do that from Google cloud shell?

[2020-07-14 10:30] russellwheatley commented on #384
I'm not sure how to do it from Google Cloud shell in all honesty. I know that the `No schema files found` message means it isn't able to locate your schema. Are you able to run that command locally? As long as you're [authenticated](https://github.com/firebase/extensions/blob/next/firestore-bigquery-export/guides/GENERATE_SCHEMA_VIEWS.md#step-2-set-up-credentials), you're able to run that command

[2020-07-14 13:01] erfabs commented on #332
Hi again @gastsail @russellwheatley @alek6dj

After verifying what @alek6dj  said, I have checked that in the following function of https://github.com/firebase/extensions/blob/next/firestore-bigquery-export/scripts/gen-schema-view/src/udf.ts the dataset is received as param:

![image](https://user-images.githubusercontent.com/23406161/87428072-15f6d480-c5e2-11ea-9094-43fe2f9d7996.png)

So, it look

[2020-07-14 14:44] russellwheatley commented on #235
Hey @cubissimo, I've just installed version `0.1.6` and I had no problem mirroring data from Firestore:
![Screenshot 2020-07-14 at 15 43 14](https://user-images.githubusercontent.com/16018629/87439495-c4057d00-c5e8-11ea-96a9-4b931ea4a8ca.png)

Could you provide further context for reproducing this error, please? 😄

[2020-07-14 18:02] jhuleatt opened #386 "Update all extension.yaml files to support new functions regions"
### [REQUIRED] Step 2: Extension name

This feature request is for extension: (all extensions)

### What feature would you like to see?

Update the `LOCATION` param in all extensions to the [new list of functions locations](https://github.com/firebase/firebase-functions/blob/master/src/function-configuration.ts#L5-L20)

[2020-07-14 18:14] karayu opened #387 "Add support for new locations"
CF3 has added the following regions recently. Let's add these locations to each extension as well:
  - `us-west2`
  - `us-west3`
  - `us-west4`
  - `europe-west6`
  - `asia-northeast2`
  - `northamerica-northeast1`
  - `southamerica-east1`
  - `australia-southeast1`

[2020-07-14 18:15] karayu commented on #387
Elliot, do you mind triaging and taking a look? It's not super urgent but this is heads up

[2020-07-14 18:18] jhuleatt commented on #386
Closing as a duplicate of #387

[2020-07-14 18:18] #386 closed

[2020-07-14 18:18] jhuleatt commented on #387
[This is the full list of available locations](https://github.com/firebase/firebase-functions/blob/master/src/function-configuration.ts#L5-L20)

[2020-07-14 18:40] rosariopfernandes commented on #387
@karayu Mind if I send a PR addressing this and ask Elliot to review it?

[2020-07-15 08:42] Ehesp commented on #387
@rosariopfernandes sure! I'll take a look at this on Friday either way, so if there's a PR I'll review otherwise I'll make a start.

[2020-07-16 16:51] mustafaekim opened #389 "JSON schema definion for type record / mode repeated does not work"
Hi,

Below is a part of the json schema definition:

[code]

that results with:

[code]

in the SQL produced for generating the view

how can I create such a schema for typed arrays?

[2020-07-17 14:51] jimmykane commented on #371
Hi @Ehesp I reinstalled all is fine.

The document the extension is trying to delete probably does not exist.

Shouldn't that be a warning ? Did it work like this in the past because till I updated to the latest version I was not getting such errors but I might be wrong

[2020-07-20 08:20] erfabs opened #391 "Cannot read property 'map' of undefined"
### [READ] Step 1: Are you in the right place?

yes

### [REQUIRED] Step 2: Describe your configuration

- Extension name: firestore-bigquery-export (fs-bq-schema-views script)
- Extension version: Latest

### [REQUIRED] Step 3: Describe the problem

I am trying to create BigQuery view of my raw changelog using fs-bq-schema-view script. The persistent functions are created but not the view.

![ima

[2020-07-20 09:47] russellwheatley commented on #389
Hey @mustafaekim, typed arrays aren't possible for the `gen-schema-view` script, this has been raised as a feature request here: #293 which you may want to track.

[2020-07-20 09:50] russellwheatley commented on #391
Hey @erfabs, do you mind sharing your schema file so we can reproduce this error? Thanks.

[2020-07-20 09:55] mustafaekim commented on #389
Hello @russellwheatley , thanks for getting back on this. I had actually seen this post but I was not sure if that was the same issue.

Do you have any suggestion for me until this feature is implemented? I don't know much about bigquery but if I understand correctly, I can actually create such a schema by myself, is that correct? So in this case is the tool just a great helper?

[2020-07-20 10:03] russellwheatley commented on #389
The [documentation](https://github.com/firebase/extensions/blob/next/firestore-bigquery-export/guides/GENERATE_SCHEMA_VIEWS.md) for `gen-schema-view` is pretty handy at explaining how to create schemas.

I think it's best to factor in untyped arrays as a limitation of the tool when weighing up its utility for your use case. I'm afraid I don't have any advice on how to overcome it.

[2020-07-20 10:37] russellwheatley commented on #332
I ran this script locally and it printed out the `datasetId` correctly. I also ran the script using the `npx` command and it was fine. I'm not sure what the difference is between what I'm doing and what is causing your error. If you can provide a schema and the exact command you're running, I could reproduce and debug.

[2020-07-20 10:45] erfabs commented on #391
Sorry, my fault.
The problem was in the JSON file, I had not included the fields inside the fields array.

I've already got it to correctly recognize the json file, but now I am getting an error trying to create the document_id field which doesn't actually exist in the summary_raw_changelog table where there is one called event_id

![image](https://user-images.githubusercontent.com/23406161/879294

[2020-07-20 10:58] russellwheatley commented on #391
I assume you created your changelog table before this [PR](https://github.com/firebase/extensions/pull/377) was merged in which means the `gen-schema-view` script is looking for a `document_id` column in the changelog table that doesn't exist. I think you might have to delete the changelog table and recreate it with the import script so that it will contain the `document_id` column.

[2020-07-20 11:56] erfabs commented on #391
You assumed well @russellwheatley

I have deleted table, updated the extension and added a new document in firestore. This is the error im recieving now:

![image](https://user-images.githubusercontent.com/23406161/87934891-4fbb5580-ca90-11ea-973c-a114946b405a.png)

And this is the schema code:

{
	"fields": [
    {
		  "name": "eventName",
		  "type": "string"
		},
	{
		  "name": "playerID",

[2020-07-20 12:17] russellwheatley commented on #391
do you mind pasting the schema code here so I can copy? Thanks.

[2020-07-20 12:21] russellwheatley commented on #391
I have noticed the `integer` type is incorrect, replace that with `number`. The [documentation](https://github.com/firebase/extensions/blob/next/firestore-bigquery-export/guides/GENERATE_SCHEMA_VIEWS.md#how-to-configure-schema-files) has a list of all available types.

[2020-07-20 12:35] erfabs commented on #391
Oh thank you!

That was the problem, i was declared as integer instead of numbers in schema.

Thanks a lot, now it works perfectly

[2020-07-20 12:35] #391 closed

[2020-07-20 14:04] neelance commented on #235
We are also seeing `PartialFailureError`s after upgrading to 0.1.6. Unfortunately I can not give more information because a `PartialFailureError` does not get logged in a way that allows looking at the individual errors in the `errors` field.

[2020-07-20 16:16] alek6dj commented on #332
Thanks @russellwheatley, It was a mistake from my side.
Instead of entering "--dataset=firestore_export", I entered "--dataset=${param:firestore_export}" and ${param:firestore_export} was empty.

[2020-07-20 16:23] jay-shah commented on #309
@Neilpoulin It seems like this has been fixed in Version 0.1.6

[2020-07-20 16:23] #309 closed

[2020-07-22 03:59] aneps commented on #336
Was gonna dev it myself, but yea! I vote for it :)
would be good if it worked like the language selections:

input: name,details
output: name_translated: {}, details_translated: {}

[2020-07-22 14:49] russellwheatley commented on #332
This doesn't appear to be an issue anymore so I'm going to close for now. Will reopen if there is a reproducible bug.

[2020-07-22 14:49] #332 closed

[2020-07-22 15:31] adrielwerlich opened #393 "Resize Images extension error message onUninstall"
### [REQUIRED] Step 2: Describe your configuration

- Extension name: storage-resize-images
- Extension version: 0.1.9

- Configuration values (redact info where appropriate):
 Cloud Functions location Description
us-central1
Cloud Storage bucket for images Description
artlab-eia.appspot.com
Sizes of resized images Description
128x128
Deletion of original file Description
false
Cloud Storage path

[2020-07-23 01:17] choipd opened #395 "Cannot delete a extension"
### [REQUIRED] Step 2: Describe your configuration

- Extension name: `firestore-bigquery-export`
- Extension version: `0.1.6`

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

When I delete the extension, I got error so I can not delete it.

What happened? How can we make the problem occur?
`
; RESOURCE_ERROR at /deployments/firebase-ext-firestore-bigquery-export-45jd/resour

[2020-07-23 07:58] mustafaekim commented on #345
Hi, may I know about the current state of this feature? It looks like IMPORTS generates the document_id filled-id with the document ID however CREATE/UPDATE leave this column blank, which creates inconsistencies

[2020-07-23 09:42] russellwheatley commented on #345
@mustafaekim May I ask what version of the `firestore-bigquery-export` extension you're using? You should be able to see it in your Firebase console dashboard in the extension's tab.

[2020-07-23 09:59] russellwheatley commented on #393
Hey @adrielwerlich, I've also encountered this problem before. I've found that if I'm a bit persistent, the extension usually gets uninstalled. If you head to the extension's tab in the Firebase console, you can press the "See details" button next to the erroneously uninstalled extension
![Screenshot 2020-07-23 at 10 48 15](https://user-images.githubusercontent.com/16018629/88274075-0b6bc780-ccd3-

[2020-07-23 10:03] russellwheatley commented on #395
Hey, @choipd, you don't appear to be the only user having some difficulty uninstalling your extension. I have made a comment [here](https://github.com/firebase/extensions/issues/393#issuecomment-662921005) on how you might overcome this problem at this moment in time. Could you let me know if this solves your problem, please?

[2020-07-23 10:51] adrielwerlich commented on #393
Hello @russellwheatley, thanks for the reply. I´ve tried many times, more than 10 uninstalling it. With no success. But anyway, thanks for the comment! I´m just tried it again. Let me see if this time it works.

[2020-07-23 10:59] mustafaekim commented on #345
Hi, it is Version 0.1.5

Thanks for getting back

[2020-07-23 11:35] russellwheatley commented on #345
If you head to your `firestore-bigquery-export` extension in the extension's tab on the Firebase console, you ought to be able to update to version `0.1.6` which has the `document_id` update.

[2020-07-23 11:35] #345 closed

[2020-07-23 11:56] mustafaekim commented on #345
Great, thanks. Do you have any recommentation to fix the previous records? Should I delete the table and import again?

[2020-07-23 11:57] choipd commented on #393
Thank you for your comment! @russellwheatley
I'd tried several times as you describe. And  I've just tried it again but no success.

[2020-07-23 12:05] adrielwerlich commented on #393
Well, I´ve just saw in my firebase panel that the extension is now uninstalled. I don´t know if the request somehow or other just went though it´s way and worked out! But it´s uninstalled now.

[2020-07-23 12:39] russellwheatley commented on #393
I'm glad you were able to uninstall @adrielwerlich. I am sorry it hasn't worked out yet @choipd. I've also had similar experiences, It's not an ideal situation. However, I believe the Firebase Extension team are aware of the bug and are trying to rectify the problem. Thank you for your patience!

[2020-07-23 12:48] russellwheatley commented on #345
That would be my recommendation 😄 .

[2020-07-23 17:47] laurenzlong commented on #395
Sorry you're having this issue! I'm going to close this as a duplicate of https://github.com/firebase/extensions/issues/393 so we can keep the conversation in there.

[2020-07-23 17:47] #395 closed

[2020-07-23 17:51] laurenzlong commented on #393
@choipd, and @adrielwerlich to help us diagnose, can you let us know:

- How you originally installed the extension, was it through Console or CLI?
- When approx did you install the extension?

[2020-07-23 18:31] laurenzlong commented on #393
Also another workaround to try is to uninstall via the CLI, see https://firebase.google.com/docs/extensions/alpha/manage-installed-extensions_community?platform=cli#uninstall for more info.

[2020-07-23 19:22] rosariopfernandes commented on #393
@laurenzlong the link your posted is not available. I think you meant this https://firebase.google.com/docs/extensions/manage-installed-extensions?platform=cli#uninstall

[2020-07-23 23:32] laurenzlong commented on #393
@rosariopfernandes Yes, thank you! I revised my comment with the correct link.

[2020-07-24 01:42] choipd commented on #393
I installed the extension through Console.
It was around 2020. 7. 21. 3am KST.

Thank you for the inspection.

[2020-07-25 02:00] laurenzlong commented on #393
Hi everyone, this has now been fixed. However if you had an extension that previously failed to be uninstalled, it is now stuck in a weird state, and you'll have to uninstall with the CLI by following these instructions:  https://firebase.google.com/docs/extensions/manage-installed-extensions?platform=cli#uninstallfor. (Please note that clicking "retry uninstall" in the console will not work. You

[2020-07-25 02:00] #393 closed

[2020-07-27 21:50] karayu commented on #371
@russellwheatley do you mind taking a look?

[2020-07-27 21:51] #363 closed

[2020-07-27 21:56] karayu commented on #342
Patryk, do you have any thoughts on this?

[2020-07-27 22:01] karayu commented on #336
Hi everyone, thanks for the feedback! The way we've recommended people handle this is by installing multiple instances of the the Text Translation extension. Would that work for your use case? What would be missing from that approach?

[2020-07-27 22:02] karayu commented on #331
Assigning to Kevin for FYI/tracking

[2020-07-27 22:17] karayu commented on #294
Closing because PR is merged!

[2020-07-27 22:17] #294 closed

[2020-07-27 22:19] karayu commented on #269
Hi @jontysouvik,

Did that solve your issue? Please let us know if you're continuing to have issues!

Kara

[2020-07-27 22:19] #269 closed

[2020-07-27 22:30] karayu commented on #268
Thanks for the feedback everyone! We considered this and tried think of robust ways to support it but unfortunately, felt that it would add too much complexity at this point. Thanks again for the great feedback and sample use cases.

[2020-07-27 22:30] #268 closed

[2020-07-28 09:14] russellwheatley commented on #359
This was fixed in this PR: https://github.com/firebase/extensions/pull/368

[2020-07-28 09:14] #359 closed

[2020-07-28 13:37] russellwheatley commented on #235
I've just tried this again starting with version `0.1.5`, creating a table and upgrading to version `0.1.6` via the Firebase UI and I didn't encounter this error.

However, I have an idea what might be happening. @cubissimo @neelance, do you mind letting me know if your changelog table has the `document_id` column?  Thanks.

[2020-07-28 13:41] neelance commented on #235
There is no `document_id` column.

[2020-07-28 14:14] russellwheatley commented on #235
Ok, think I understand the problem. The `firestore-bigquery-change-tracker` is expecting a table that has a `document_id` column. I do apologise for this, but the way around it is to delete your changelog table. It will be recreated with a `document_id` column the next time a document is added to the Firestore collection associated with it. To backfill your data you can use the `import` script [he

[2020-07-28 16:55] karayu commented on #235
We're working on a fix right now for this and will likely push a version of the extension with this fix. Thanks so much for the feedback!

[2020-07-28 18:42] neelance commented on #235
Awesome! Are you going to improve the logging, too?

[2020-07-29 02:10] tylerreece22 commented on #37
For some reason my emails still cant pick up the templates. I have configured just like above templates collection is created and i have added the object.
[code]

When I try to add the below to mail I the this error.
![image](https://user-images.githubusercontent.com/9936635/88748399-edf98c00-d11e-11ea-9741-31243504e9c5.png)

[code]

[2020-07-29 09:13] houdayec commented on #155
I'm having the same need as you. It could be great to select a source folder, because for now, the extension is not optimised at all.

It means that the only solution is to create a new bucket for every kind of data / images type we have if we want to have specific treatments on each of them. However, it is very common to have for instance, a users_pictures folder with profile pictures and users_b

[2020-07-30 04:54] jobondi commented on #235
I had this same issue after updating from 0.1.5 to 0.1.6, I was able to get it working again by manually adding a document_id column via the BigQuery console. @karayu I expect this is also an ok workaround to get it working quicker since dropping and then re-importing would be a long process with the amount of data we'd have to backfill.

![image](https://user-images.githubusercontent.com/2205667/

[2020-07-30 10:52] iislucas commented on #298
I've just been using the LEFT join thing as I found that I wanted to know if I had bad records, rather than hide them.

[2020-07-30 14:35] russellwheatley commented on #371
The problem stems from missing permissions as noted in the error message: `'Authorization failed. This account is missing the following required permissions on project \u001b[1mquantified-self-io\u001b[22m:\n\n  firebase.projects.get'`

This type of error, from my experience, occurs when the IAM or service account permissions associated with the extension are accidentally deleted or invalidated so

[2020-07-30 14:48] jimmykane commented on #371
@russellwheatley  understandable but we only have installed the extension.

We did an uninstall and reinstall but the issue remains still.

That said the other document/collection deletes seem to work.

So it fails in one collection with the above message.

[2020-07-30 15:05] russellwheatley commented on #371
My mistake, I assumed the extension was working again after reinstallation. Do you mind trying the following:
1. Delete any IAM & service account associated with this extension
2. Uninstall the extension
3. Reinstall extension

Let me know how it goes, please. Thanks!

[2020-07-30 15:24] jimmykane commented on #371
Will do as soon as possible. Atm returning from a trip.

On Thu, 30 Jul 2020, 17:06 Russell Wheatley, <notifications@github.com>
wrote:

[2020-07-30 15:38] Arystosedes opened #399 "StripeRole remove 'role' from custom claims"
Bug report
firestore-stripe-subscriptions

To Reproduce

- Create user in firestore app and set custom user claims like: admin.auth().setCustomUserClaims(user.uid, { role: 'admin' });
- Use stripe to make a subscription for a product with firebaseRole metadata
- If success => sign out and sign in again
- Check user.getIdTokenResult() - 'role' will be removed
- If you set 'role' again, it will remo

[2020-07-30 18:39] lepatryk commented on #342
Hi Cameron,

Thank you for your question. There are many concerns here, I'll try to unpack them all and address one by one.

Both of these clients are just samples and not all implemented with the same functionality. Web tries to persist uuid in the cookie, Android regenerates uuid at each instantiation, which is less ideal.

The idea behind persisting UUID is to make the shard name stable and imp

[2020-07-31 00:00] jhuleatt commented on #235
The fix for this is in #398

[2020-07-31 00:33] jhuleatt commented on #235
We've released a new version of the extension, `0.1.7`, that contains the fix. You should be prompted to update in the Firebase console, or can [update via the CLI](https://firebase.google.com/docs/extensions/manage-installed-extensions?platform=cli#update-version).

[2020-08-02 09:43] zigapovhe opened #406 "Updating Delete User Data Runtime to Node10 or Node12"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2020-08-02 11:40] rosariopfernandes commented on #406
@zigapovhe This has been suggested before. You might want to take a look at #327 to see the full discussion.

[2020-08-02 11:41] rosariopfernandes commented on #327
Can we pin this issue to the issues page? It might be helpful to prevent newcomers from opening new issues with the same suggestion.

[2020-08-02 11:47] zigapovhe commented on #406
Oh, I'm sorry. Didn't found it before. Best of luck :).

[2020-08-02 11:47] #406 closed

[2020-08-03 09:33] russellwheatley commented on #399
Hey @Arystosedes, thanks for bringing this to our attention, we'll get this looked at.

[2020-08-03 09:42] russellwheatley commented on #17
No, I don't think that will work, @crablab. Wildcards are not supported in Firestore collection queries.

[2020-08-03 21:37] i14h commented on #399
@Arystosedes thanks for finding this issue, can you please file it to the correct repository here? https://github.com/stripe/stripe-firebase-extensions

[2020-08-03 21:38] #399 closed

[2020-08-03 21:53] i14h commented on #276
@kevinthecheung do you want to work on this?

[2020-08-03 21:53] karayu commented on #387
Actually, we have 3 new locations! As of July 31, the following locations became available in Cloud Functions: asia-northeast3, asia-south1, and asia-southeast2.

[2020-08-03 22:15] karayu commented on #298
Hi Lucas,

Would it be possible for you to share some sample data and sample schema? This would really help us understand the use case.

Thanks!
Kara

[2020-08-03 22:55] rosariopfernandes commented on #387
@karayu I've updated #388 to include these locations. PTAL :)
cc: @Ehesp

[2020-08-04 03:13] arenphansen commented on #384
Hi @russellwheatley, @karayu, I'm having the same issue and have tried for the last two days to no avail to fix it. I have my json file in the same Google Storage Bucket as the Environment for my BigQuery is in: ext-firestore-bigquery-export-fsexportbigquery.

I have tried:
[code]

Does the "./" work if my users_sync.json is in the same directory as the BigQuery reference? Is there a better way to

[2020-08-04 10:27] russellwheatley commented on #384
Hey @arenphansen, do you have access to a terminal (roughly equivalent to Google Cloud Shell on Google Cloud) on your machine?

Here's an example of how you could run this command from a terminal from a mac:

1. open terminal
2. run `touch users_sync.json` (creates file)
3. run `open users_sync.json` (this will open that file just created in a text editor)
4. update `users_sync.json` file with you

[2020-08-04 14:13] russellwheatley commented on #389
Feel free to ask anymore question should you have any, I'm going to close this for now.

[2020-08-04 14:13] #389 closed

[2020-08-04 19:36] laurenzlong commented on #232
Hi @granttj01 if I'm understanding you correctly, you want a way to tell the extension to resize only images in a certain directory, not the rest of the bucket. To achieve what you want, the best solution would be to have multiple storage buckets for your app, and use a bucket exclusively for the images you want to resize. Extensions are powered by Cloud Functions, and a storage trigger for cloud

[2020-08-04 19:36] #232 closed

[2020-08-05 15:19] jackforesightmobile opened #408 "Firestore Export to BigQuery add map as JSON string to schema"
This feature request is for extension: Export Collections to BigQuery

### What feature would you like to see?

In our document, we have a map which has fields whose values are ids, so we can't add these map fields to the schema. Therefore we'd like to add the map as a JSON string to the schema. I've tried specifying the type as a string but the values come through to BigQuery as null. I've also t

[2020-08-05 16:26] kresten8 opened #409 "Allow TLS in the smtp uri"
### Extension name

This feature request is for extension: **firestore-send-email**

### What feature would you like to see?

For use with office365 smtp a TLS connection is needed (with port 587). As it is it doesn't work (als not when the port is correctly set).

### How would you use it?

I would suggest something like smtptls://...

[2020-08-05 16:30] Salakar commented on #409
Hey @kresten8 - thanks for raising this feature request - we'll review and get back to you, thanks!

[2020-08-05 18:25] laurenzlong opened #410 "Add regex `^[^/]+(/[^/]+/[^/]+)*$` to all Firestore collection path params"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2020-08-05 22:39] zkhalapyan opened #411 "MailChimp Firebase Integration only adds email and not first name and last name"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2020-08-05 23:26] mbleigh commented on #409
Unless I'm confused about something this is already possible through `smtps://user:pass@some.host.com:587`

[2020-08-06 03:13] arenphansen commented on #384
Thanks @russellwheatley! I must admit, I had to install Homebrew, upgrade Python to v3 from V2, before I could install Google Cloud's SDK, which were a bit tricky for me as a non-developer in Apple's Terminal program (and switch from TSCH to BASH in Apple's terminal), but once I got through that your trick worked and now I have a working Schema. Just took a little more Googling of solutions along

[2020-08-06 05:08] busynest opened #412 "StartTLS"
### Describe your configuration

- Extension name: firestore-send-email
- Extension version:
- Configuration values:

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Setup is good except no input for StartTLS
Domain: stmp.office365.com

##### Expected result

the extension works fine, i think. but the protocal is different.

##### Actual result

Error: 68424247473984:error:1

[2020-08-06 06:00] kresten8 commented on #409
Hi,
Thanks for the quick response.

The mail server does not accept SSL, only TLS. An error I get is:
Error when delivering message=mail/<ID>: Error: 68894361679680:error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol:../deps/openssl/openssl/ssl/s23_clnt.c:827:

The rest is not visible in the error console. The smtp server does work with Firebase authentication when STARTTLS is used

[2020-08-06 07:04] Ehesp commented on #411
Hello! Looking at the docs, it doesn't seem it's possible to add a name field to a member: https://mailchimp.com/developer/api/marketing/list-members/add-or-update-list-member

Unless, it can be provided to `merge_fields`.

[2020-08-06 08:16] russellwheatley commented on #384
I'm really happy it worked out for you, @arenphansen. You've discovered the secret to developing along the way; Google everything :).

[2020-08-06 08:22] russellwheatley commented on #412
Hey @busynest, could you provide the full smtp connection uri for me to take a look at? (minus the password). Thanks.

[2020-08-06 08:48] Salakar commented on #408
@jackforesightmobile thanks for raising this issue. Would you be able to provide a bit more detail on what you're expecting to see added as a feature to the extension, I'm a bit confused to what is being asked here 🙈 sorry.

[2020-08-06 09:06] jackforesightmobile commented on #408
Hey @Salakar I guess I'm not sure whether it's something I'm doing wrong, or whether it's a new feature, so I wasn't sure whether to add a feature request or a bug. I'll try to clarify some more:

So the default way the whole document comes into BigQuery is as a JSON string. I'm not sure if there's something I'm doing wrong, but I want that questionStats map in my document to come through to BigQu

[2020-08-06 09:42] russellwheatley commented on #408
Hey @jackforesightmobile, it is not possible to control property types inserted from your Firestore document using the big query extension. The document is stringified and inserted into the `data` column which expects a [string](https://github.com/firebase/extensions/blob/next/firestore-bigquery-export/firestore-bigquery-change-tracker/src/bigquery/index.ts#L72).

Have you looked into creating you

[2020-08-06 10:24] jackforesightmobile commented on #408
Hey @russellwheatley so yeah I'm using that gen-schema-view script. For the document I posted this is my schema:
![image](https://user-images.githubusercontent.com/47739475/89521265-147e8d80-d7d7-11ea-9f2a-806101bd1bb0.png)

I'm wondering if there's a way I can make just the questionStats field stringified, while all the other fields are in the schema. I would use the "map" type in the schema, but

[2020-08-06 10:35] russellwheatley commented on #408
Ok, I think I understand your requirements. There is no way of making a property a `json` type, or stringifying a map in your case. This would have to be a feature request for the `gen-schema-view` script to create a new `json` type that may or may not be outside the scope of this extension. I'm sure the Firebase Extension will review this feature and get back to you. Thanks!

[2020-08-06 15:37] busynest commented on #412
stmps://username@email.com:password@stmp.office365.com:123

[2020-08-06 15:40] russellwheatley commented on #412
Could you change it to `smtps` protocol and let me know if that works? Thanks.

[2020-08-06 15:42] russellwheatley commented on #412
`SMTPS://username@email.com:password@SMTP.office365.com:123` - just to be clear what I mean, I've capitalised what might need to change.

[2020-08-06 15:49] busynest commented on #412
firebase does not allow capitalized letters. it throws an error and goes back to backup.

[2020-08-06 15:53] russellwheatley commented on #412
You're correct, I was just using capitalisation to show you what changes to make. Do not input literally 😄

[2020-08-06 15:56] busynest commented on #412
oh, sorry, it's morining. the factual code is good. i just wrote it backwards here. sorry

[2020-08-06 15:58] busynest commented on #412
my sevice provider has a StartLTS protocal, and I have no input for that, I also have a protocal error. The protocal logs in, but the server doesn't accept the protocal

[2020-08-06 16:01] busynest commented on #412
why did you cloe it? protocol doesnt work

[2020-08-06 18:13] zkhalapyan commented on #411
Thanks for getting back so quickly @Ehesp !

TL;DR; We can use `FNAME` and `LNAME` inside `merge_fields` as documented [here](https://mailchimp.com/developer/guides/create-your-first-audience#add-a-contact-to-an-audience).

Interestingly, their API introduction section does document how add first name and last name fields to the creation request, see [Add a contact to an audience]( https://mailchi

[2020-08-06 18:15] zkhalapyan opened #415 "Sync existing user email addresses when connecting Mailchimp Extension to Firebase"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2020-08-06 18:47] Salakar commented on #415
Hey @zkhalapyan - thanks for raising this feature request. We'll discuss internally with the Firebase Extensions team and get back to you.

Quick thoughts on this though; I don't think this would be feasible in the extension itself as the extension only reacts to the auth `onCreate` functions trigger - so it is not aware of existing users. However maybe something like a manual one time run import

[2020-08-07 08:01] russellwheatley commented on #412
I'm afraid there is no support for using the StartTLS protocol command. The extension takes your [connection uri](https://github.com/firebase/extensions/blob/next/firestore-send-email/functions/src/index.ts#L40) and passes it to the nodemailer client. From reading the nodemailer [documentation](https://nodemailer.com/smtp/#tls-options), it appears you have to make a  plaintext HTTP call to your se

[2020-08-07 09:37] jackforesightmobile opened #416 "Missing documents in schema_latest and schema_changelog when using fs-bq-schema-views script"
### [REQUIRED] Step 2: Describe your configuration

- Extension name: Export Collections to BigQuery
- Export Collections to BigQuery: v0.1.7
- fs-bq-import-collection: v0.1.8
- fs-bq-schema-views: v0.1.11

### [REQUIRED] Step 3: Describe the problem

I am exporting a firebase collection to BigQuery called "preMatchGames". This works fine for the initial step of setting up the extension and for ad

[2020-08-07 12:19] russellwheatley commented on #416
Hey @jackforesightmobile, could you try:

1. deleting the views
2. removing the `tags` array property from your schema
3. run the `gen-schema-view` script
4. let me know if that record appears as a row in the view?

I think you might not be seeing your rows because of the this [bug](https://github.com/firebase/extensions/issues/298)

[2020-08-07 12:53] jackforesightmobile commented on #416
Hi @russellwheatley that worked for me, thanks very much!

[2020-08-07 12:53] #416 closed

[2020-08-07 14:44] kafkas commented on #372
Say you need to make a small change in the footer and you have 30 templates. You need to edit all of them manually, I'm guessing?

[2020-08-07 15:59] busynest commented on #412
the port :465 helped. The mail is now in PROCESSING, no errors, but not complete.
the port my service provider gave was :587.

[2020-08-07 17:37] zkhalapyan commented on #415
I am not completely aware of the extensions architecture overall, but it probably makes sense to have some API for `setupExtension` that gets called when an extension is installed and at which point you can do a one time read/push to MailChimp. After that, all additional users will be added from `onCreate`.

From business perspective, I think there is a fairly strong need for this; I am assuming m

[2020-08-07 18:28] busynest commented on #412
if I connect my service provided email to google, then maybe firebase could smtp into google, sent service provided email addess.

[2020-08-07 18:57] busynest commented on #412
nodemailer: port: 465, secure = ture; port: 587, secure = false;
how do I set secure to false for nodemailer?

[2020-08-08 00:07] busynest commented on #412
Yes, you are correct. This the service provider has Organization access to Microsoft Servers. I sent the SMTP to GoDaddy. It works :) THANK YOU!!!!!

[2020-08-08 04:41] busynest commented on #412
I used legacy, so it was regular TLS, sent the message, but not secure.
I am still having trouble.

[2020-08-08 22:03] busynest commented on #412
damn it, you were correct again! I needed to call service provider to upgrade access!!

[2020-08-08 22:03] #412 closed

[2020-08-10 23:07] mbleigh commented on #372
Hey folks, I've drafted #419 as a potential solution to this. Basically you can add `{partial: true}` to a template and then use it elsewhere. The nice thing about the implementation is that it respects the various formats (html, text, amp) so `{{> header }}` in one context will use the partial defined specifically for that context.

Does this seem like a good solution to everyone?

[2020-08-12 02:51] alancinacio commented on #408
I have a similar scenario where I have maps where the key is unknown. Is there any supported way to specify something along the lines of
`
{
      "name": "users",
      "type": "map",
      "fields": [
        {
          "name": "*",
          "type": "string",
        }
      ]
    }
`

[2020-08-12 19:58] kresten8 commented on #317
This would be a helpful configuration for me as well. Most thumbnails I use would be using the 'cover' option and not the fit option. "Fit" results in very low res thumbnails when you have a large range in aspect ratio's. E.g. if you fit to 400x400 and you have a landscape image of let's say 1200x600, this will be resized to 400x200, where 800x400 would be preferable.

[2020-08-13 01:37] HyperNexus commented on #415
Kind of related to this. There is no authentication triggers for when users update their email address. So this plugin wouldn't handle that case. Maybe some kind of recurring job that checks for these changes is the way to go. Such a job could tie in with `setupExtension`.

[2020-08-14 18:46] zkhalapyan commented on #415
@HyperNexus  I think makes sense, but that seems less of a "one time setup" and more of an ongoing update trigger. Probably best to open a new task.

[2020-08-15 20:30] neelance commented on #235
The update worked fine. Thanks for your work.

[2020-08-15 21:35] arenphansen commented on #384
Hi @russellwheatley! Let's say, I assigned the wrong type to one of my variables, is there a right way to fix this? I tried changing my json file to the right type, and repeating the process above but at the end it says something like this:

"Provided Schema does not match Table gradspyre:firestore_export.users_schema_users2_changelog. Field lastCronUpdate has changed type from NUMERIC to TIMESTAM

[2020-08-16 04:11] somejeff opened #422 "Templates should handle attachments"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

👍

### [REQUIRED] Step 2: Extension

[2020-08-16 15:08] VictorBaudot opened #423 "generating bigquery firestore schema"
running `npx @firebaseextensions/fs-bq-schema-views` fail if my schema contain one field that is not present inside all my documents

[2020-08-17 08:36] russellwheatley commented on #384
@arenphansen, if you need to update the generated view schemas, you could do it via the BigQuery console. Alternatively, you could just delete the two views created from the `gen-schema-view` script in the BigQuery console. Running the script again will recreate them.

[2020-08-17 10:06] russellwheatley commented on #423
Hi @VictorBaudot, could you paste the error that you receive in your console here, please? Thanks.

[2020-08-17 10:12] VictorBaudot commented on #423
Sure @russellwheatley
`{"code":400,"errors":[{"message":"Provided Schema does not match Table koalendar-prod:koa_events.events_schema_events_schema_changelog. Cannot add fields (field: bookings)","domain":"global","reason":"invalid"}],"response":{"headers":{"alt-svc":"h3-29=\":443\"; ma=2592000,h3-27=\":443\"; ma=2592000,h3-T050=\":443\"; ma=2592000,h3-Q050=\":443\"; ma=2592000,h3-Q046=\":443\"; m

[2020-08-17 10:34] russellwheatley commented on #423
Are you trying to create a view where one already exists? Please check this view in your BigQuery console `koalendar-prod:koa_events.events_schema_events_schema_changelog` and let me know if it contains a `bookings` column.

[2020-08-17 10:51] VictorBaudot commented on #423
Are you trying to create a view where one already exists -> yes
no bookings column in this view

[2020-08-17 10:59] russellwheatley commented on #423
You need to update the generated view schemas, you could do it via the BigQuery console by using "Edit schema".

Alternatively, you could just delete the two views created from the `gen-schema-view` script in the BigQuery console. Then, run the script again using the latest schema.

[2020-08-17 16:24] arenphansen commented on #384
@russellwheatley , I realized I could update via the BigQuery console but am not as well versed in that language, it's not as simple as the scheme json for me.

The idea of just deleting the two tables and recreating it is brilliant. It's simple and I hadn't thought of that, but I think that's the easiest path forward - thanks so much!

[2020-08-17 22:40] dmvvilela commented on #209
Is there an update on this? Just installed the extension and it is not finding my templates.

[2020-08-18 09:17] russellwheatley commented on #408
Hey @alancinacio, wildcard queries are not supported I'm afraid, you have to explicitly name the key in the schema.

[2020-08-18 13:38] Ehesp commented on #411
@zkhalapyan The main issue here is that only a "display name" is returned, which isn't specifically a full name. We could perhaps add this to the `FNAME` field if it exists, but it may not be a first name, or may include the last name.

[2020-08-18 17:15] #262 closed

[2020-08-18 17:16] #261 closed

[2020-08-18 17:27] #410 closed

[2020-08-19 03:55] yulioaj290 opened #426 "Absolute paths restrictions for Storage Resize Image"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2020-08-19 05:38] jsilvao commented on #426
@yulioaj290 This is exactly the feature I'm looking for in my current project. Hope your pull request goes through! 👍

[2020-08-19 13:25] neelance commented on #235
@jhuleatt Unfortunately this resulted in bad data. The `*_latest` views were returning documents twice, one with `document_id` set and one without.

I now resorted to dropping and backfilling all tables.

[2020-08-20 05:03] hrag opened #429 "How would one upgrade to Node 10 for a Firebase extension?"
General question, the Firebase Support flow brought me here. I have Trigger Email/firestore-send-email running and in the list of Cloud Functions, it's the only one in there that's on Node 8 still (I upgraded my regular Cloud Functions). How would I upgrade an extension to Node 10?

Would uninstalling and reinstalling it do the trick? Just wanted to ask before I go through with that. Seems unfortu

[2020-08-20 06:01] mbleigh commented on #429
We are working on updating extensions to Node 10 currently, stay tuned for
an available upgrade soon!

On Wed, Aug 19, 2020, 10:03 PM Hrag <notifications@github.com> wrote:

[2020-08-20 20:12] zkhalapyan commented on #411
This is from internal firebase auth?

I guess there are three options:

1. Update firebase auth to provide proper first name, last name, display name, etc. structure to get rid of this limitation
2. Provide simple instructions on how to extend the extension to add in merge_fields (maybe some tutorial steps & code examples catering towards the top most important fields).
3. Push display name as a c

[2020-08-21 21:29] nwparker opened #437 "firestore-bigquery-export Collection path (single depth) regex error"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2020-08-24 20:16] CubitSpeed commented on #437
+1
Also seeing this

[2020-08-25 12:14] Ehesp commented on #429
Closing this as a dup of https://github.com/firebase/extensions/issues/327

[2020-08-25 12:14] #429 closed

[2020-08-25 12:15] Ehesp commented on #371
Closing this due to inactivity. Please try the above steps and let us know - we'll reopen if the issue still occurs.

[2020-08-25 12:15] #371 closed

[2020-08-25 12:40] russellwheatley commented on #437
Hey @nwparker, the regex from your error message `[^/]+/[^/]+(/[^/]+/[^/]+)*` is looking for an even amount of path segments (i.e. a document). The regex (`^[^/]+(/[^/]+/[^/]+)*$`) recently [merged](#418) is looking for an odd amount of path segments (i.e. a collection).

I think this error is coming from somewhere internally. We'll get this looked at either way, thanks for raising the issue!

[2020-08-25 16:47] jhuleatt commented on #437
@laurenzlong and @joehan it seems like CF3 is blocking this deploy, even though the params look ok to me. Any idea what might be going wrong?

[2020-08-25 17:36] laurenzlong commented on #437
Hi I wasn't able to reproduce this error with the same parameters. Did you previously have `/events` as the collection path? The leading slash can cause issues.

![Screen Shot 2020-08-25 at 10 36 04 AM](https://user-images.githubusercontent.com/3990804/91208284-d205ed80-e6be-11ea-88d3-63768e576d83.png)

[2020-08-25 17:36] #437 closed

[2020-08-25 21:49] nwparker commented on #437
Thanks @laurenzlong , removing and re-installing seems to have fixed things. However, shouldn't have re-configuring the extension have also worked? If so, should there be a bug opened for that issue?

[2020-08-26 18:29] oolubayo commented on #409
I'm getting the same error with smtp.office365.com.

[2020-08-26 18:39] laurenzlong commented on #437
Yes that is indeed a bug! Thanks for letting us know, I've filed an issue internally (bug ID 166473495) Since it's an issue with the platform not the extension itself, we don't track it in this repo.

[2020-08-26 21:20] nwparker commented on #437
Thanks!

[2020-08-27 06:02] Polarisation opened #441 "firestore-bigquery-export: Cannot generate schema view where field name is SQL keyword"
- Extension name: **firestore-bigquery-export**
- Extension version: **0.1.7**

#### Steps to reproduce:

After [Importing a Firestore Collection to BigQuery](https://github.com/firebase/extensions/blob/master/firestore-bigquery-export/guides/IMPORT_EXISTING_DOCUMENTS.md) I wanted to [generate a schema view](https://github.com/firebase/extensions/blob/master/firestore-bigquery-export/guides/GENERA

[2020-08-27 08:30] russellwheatley commented on #441
Hey @Polarisation, thanks for bringing this to our attention. We'll consider what course of action to take after assessing our options.

[2020-08-27 20:24] nwparker commented on #298
+1 to this issue

I see Lucas left things hanging, but I'm happy to answer any questions in regards to valid use cases @karayu

[2020-08-27 23:01] nwparker commented on #298
Responding to this specific snippet. It doesn't quite work.

Instead you want something like this:
[code]

Notice my use of `array` instead of `array_agg`

[2020-08-28 01:28] nwparker commented on #292
I ran into this today. I think this should be added to the generator, so thanks for opening!

To get some work started there, I've come up with a working solution (this can be coded by hand and adopted later by someone -- sorry, I might not get around to it myself but I still wanted to share)

This will produce an Array<Struct> with the struct value being your data values along with an added "key"

[2020-08-28 01:30] nwparker commented on #292
I ran into this today. I think this should be added to the generator, so thanks for opening!

To get some work started there, I've come up with a working solution (this can be coded by hand and adopted later by someone -- sorry, I might not get around to it myself but I still wanted to share)

This will produce an Array<Struct> with the struct value being your data values along with an added "key"

[2020-08-31 14:45] cosminc03 commented on #441
Also interested into this because I found the same bug few days ago

[2020-09-01 16:07] russellwheatley commented on #336
This is in progress: #421

[2020-09-02 08:08] houdayec commented on #327
Upgrade to Node 10 is now available!

[2020-09-02 10:39] #327 closed

[2020-09-02 12:22] WaiReinSoe opened #443 "Money"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs for a **specific extension in this repository**.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

- For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
  with the firebase tag.
- For general Firebase

[2020-09-02 12:22] WaiReinSoe commented on #443
Hello

[2020-09-02 12:23] #443 closed

[2020-09-03 20:36] mvergarair opened #444 "firestore-bigquery-export: Add scheduled delete query for stale entries"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2020-09-06 04:54] archit-capjk-69 opened #446 "Translate Text Extension for multiple Collections or multiple Documents in a collection."
### [READ] Step 1: Are you in the right place?

Issues filed here should be about a feature request for a **specific extension in this repository**. To file a feature request that affects multiple extensions or the Firebase Extensions platform, please reach out to
[Firebase support](https://firebase.google.com/support/troubleshooter/report/features/) directly.

### [REQUIRED] Step 2: Extension nam

[2020-09-06 09:01] Ehesp commented on #446
Hello,

This is by design, if you'd like to target multiple collections you can use multiple instance of the extension.

[2020-09-06 11:00] archit-capjk-69 commented on #446
Please tell me how to implement that.
Now to create multiple instance of an extension ?

On Sun, 6 Sep 2020, 14:31 Elliot Hesp, <notifications@github.com> wrote:

[2020-09-07 15:19] russellwheatley commented on #444
Thanks for the suggestion. The Firebase Extension's team will take a look and assess if it is within scope.

[2020-09-07 15:25] russellwheatley commented on #446
Hey @archit-capjk-69, if you click on the "install" button for the `firestore-translate-text` extension on this [page](https://firebase.google.com/products/extensions), you can create an instance for your project. You can do this as many times as you want, and create multiple instances for the same Firebase project.

[2020-09-07 16:59] archit-capjk-69 commented on #446
Thank you very much

On Mon, 7 Sep 2020, 20:55 Russell Wheatley, <notifications@github.com>
wrote:

[2020-09-07 22:55] anthonypirlo commented on #387
Hi all, I'm working on a project in Australia for which this feature would be super useful to keep all of our data processed within the country. Super interested in hearing any updates and excited to see this added.

[2020-09-08 07:35] russellwheatley commented on #446
No problem!

[2020-09-08 07:35] #446 closed

[2020-09-08 18:36] jhuleatt opened #447 "firestore-translate-text: Document multi-field translate"
### [REQUIRED] Step 2: Describe your configuration

- Extension name: **`firestore-translate-text`**
- Extension version: **`0.1.4`**
- Configuration values (redact info where appropriate): n/a

### [REQUIRED] Step 3: Describe the problem

#421 introduces the ability to translate multiple fields at once, but doesn't document it. We need to update the docs to reflect the new change.

[2020-09-08 18:44] #372 closed

[2020-09-08 18:44] #336 closed

[2020-09-08 18:56] #387 closed

[2020-09-10 11:28] bdiz commented on #41
I don't think it's a gmail/gsuite specific issue. I am getting an indefinite PROCESSING status with Postmark. My smtp URI looks like `smtp://abcdef-1234:abcdef-1234@smtp.postmarkapp.com:25`. Postmark uses an api key with only hex characters and dashes so special characters doesn't seem like it would be the issue in my case. The password and username for postmark are the same.

I tried this smtp UR

[2020-09-10 14:01] bdiz commented on #41
Trying to debug the function. Upon the create of the initial document the cloud function updates `attempts` to 0 and `state` to PENDING. But what I see when observing the document in the firebase console is attempts are 0 and state is PROCESSING.

Looking at the switch statement for PENDING, it sets `state` to PROCESSING and then should call `deliver()`.

https://github.com/firebase/extensions/blo

[2020-09-14 22:39] i14h commented on #426
@yulioaj290 thanks for the PR!

@jhuleatt what do you think in terms of costs? Would this actually reduce costs for the users? Also, is this going to be backward compatible?

[2020-09-16 14:42] liberathor commented on #17
please support sub collections!!

[2020-09-17 08:24] dachiraju opened #452 "firestore-bigquery-export: Add additional parameter to specify target dataset location in BigQuery"
### [REQUIRED] Step 2: Extension name

Extension name: `firestore-bigquery-export`

### What feature would you like to see?

It would be great if we could expose an additional parameter in extensions.yaml to specify the BigQuery dataset location in the extension config when uploading data from firestore

Reference : [params](https://github.com/firebase/extensions/blob/fbf6532434723c9b2dce82eb368a6

[2020-09-17 13:31] Reedyuk opened #453 "auth-mailchimp-sync - Use PUT to insert or update"
### [REQUIRED] Step 2: Describe your configuration

- Extension name: **\_** `auth-mailchimp-sync/`
- Extension version: **\_** 0.1.2
- Configuration values (redact info where appropriate): n/a

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

When adding a user to the mailchimp audience, if they already exist, an error is thrown up to use PUT to insert or update list members

[2020-09-17 15:42] Ehesp commented on #453
Hey thanks for the issue!

I think this is reasonable, although the function is triggered "`onCreate`" - what is your use-case for a user being created multiple times (is it while testing)?

[2020-09-17 15:48] Reedyuk commented on #453
Most people use Mailchimp lists as a bucket of contacts, so we have multiple sources where we attain the email addresses, there is a small use case where this can overlap(with another service using the same list) and in the case where firebase is the last one to overlap with that user email address, then it causes it throw the error.
Its not the end of the worlds, i guess more of a nice to have.

[2020-09-17 16:39] russellwheatley commented on #452
That's a reasonable request, I'm sure the Firebase team will consider it.  Thanks for the suggestion!

[2020-09-19 00:28] bdiz commented on #41
@Ehesp , do you want me to file a new bug? Node 10 simply won't send an email for me.

[2020-09-19 07:58] wdm954 commented on #426
Having an option to **_include_** a list of paths (otherwise all paths would be included if the list is empty) and an option to **_exclude_** paths would be very useful. This would give fine grain control.

_Example:_

**Include:** `/images` --> this would include `/images` and all sub-folders
**Exclude:** `/images/full-size` --> exclude this specific sub-folder

[2020-09-21 06:37] kresten8 commented on #409
Hi,

Any news on this?

Best Kresten

[2020-09-21 21:28] jhuleatt commented on #276
Given that these are all auto-generated from PR names, it sounds like a lot of work to manually fix these before each release. @kevinthecheung what do you think?

[2020-09-21 21:29] #213 closed

[2020-09-22 07:15] russellwheatley commented on #382
As the [PR](#417) suggests, we're ignoring gzipped images.

[2020-09-22 07:15] #382 closed

[2020-09-22 11:37] pablomargareto commented on #298
I believe that nested representations would be the way to fix this. I need to do it as an intermediate step and store the results in a third table. Nested fields would be awesome!

[2020-09-22 16:45] i14h commented on #441
@jhuleatt this is waiting for a testing plan from you

[2020-09-22 18:56] zkhalapyan commented on #411
Another quick note here... so once a member is created, it is not possible to update the member's name just via the email address. [Updating the name would require knowing the member's ID on mailchimp](https://mailchimp.com/developer/api/marketing/list-members/add-or-update-list-member/). This is possibly, but annoying to go through all the steps.

In other words, by integrating with Firebase's ma

[2020-09-22 19:59] #447 closed

[2020-09-23 22:01] jasonspick opened #456 "Trigger Email SSL issue"
I set up a new Trigger email extension configured for mailgun.  My mailgun credentials work with this tool: https://www.smtper.net/

This is what my smtp uri looks like:  smtps://{username}:{passoword}@smtp.mailgun.org:587

when creating a new document this is the response I get:
_Error: 69012398901056:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:../deps/openssl/openssl/ssl/rec

[2020-09-24 12:45] russellwheatley commented on #456
Hi @jasonspick, have you tried using port 465 instead of 587?

[2020-09-25 18:25] DanSchick commented on #441
Thank you for this, I just tried the code from your pull review as I had a field named `timestamp` in my collection that was a duplication of the `timestamp` filed the script includes as a column which threw the same error. It worked for that as well as SQL keywords. 👍

[2020-09-27 02:38] Justin2997 commented on #456
@jasonspick I have the same problem moving from MailGun to Office 365. I was using 465 for MailGun and move to 587 with office. I thinks 587 port seems to be using a ord ssl version so the current version of Trigger Email have error communicate to it. Moving from 587 to 465 will fix your problem.

[2020-09-27 02:45] Justin2997 commented on #456
You can find more info for STMPS and 465 at : https://www.mailgun.com/blog/which-smtp-port-understanding-ports-25-465-587/#:~:text=Port%20587%3A,587%20as%20the%20default%20port.

[2020-09-27 10:41] jasonspick commented on #456
We can mark this closed now. I also believe this is a result of poor documentation on Mailgun side and complete understanding on mine.

Hope my experience can help someone else. SO initially setting it to port 465 did nothing. I needed to set up separate SMPT credentials for my domain. The sandbox credentials would not work. But once I put those new credentials in. worked like a charm.

1. Have se

[2020-09-27 15:39] #456 closed

[2020-09-27 21:20] Justin2997 commented on #409
I will need this update to. Let me know if I can help for someting.

Thanks a lot !

[2020-09-28 16:03] #423 closed

[2020-09-28 19:15] jhuleatt commented on #17
@russellwheatley think we can close this out now that we've merged and published #354 ?

[2020-09-28 19:19] jhuleatt commented on #26
Added this to our internal tracker of new extension requests. Any other requests for brand new extensions that don't exist in this repository yet can be filed at https://firebase.google.com/support/troubleshooter/extensions/featurerequest

[2020-09-28 19:19] #26 closed

[2020-09-28 19:21] jhuleatt commented on #74
Since we've recorded this request in the internal tracker, I'm closing out this issue.

[2020-09-28 19:21] #74 closed

[2020-09-28 19:22] jhuleatt commented on #94
Closing out this issue since it's extensions platform work that's being tracked internally

[2020-09-28 19:22] #94 closed

[2020-09-28 19:24] jhuleatt commented on #120
This request has been recorded on the internal tracker of new extensions requests. Any other requests for brand new extensions that don't exist in this repository yet can be filed at https://firebase.google.com/support/troubleshooter/extensions/featurerequest

[2020-09-28 19:24] #120 closed

[2020-09-28 19:41] jhuleatt commented on #453
Hi @Reedyuk! To help us decide whether to implement this, what would be your preferred outcome in the case of a collision (Firebase Auth user being added to MailChimp already exists in Mailchimp):

Either:

1. Function doesn't do the `PUT`, but logs a more helpful message instead of the error that it is currently logging. Something like `Skipping user [firebaseAuthUserId] because they already exis

[2020-09-28 19:52] jhuleatt commented on #452
Looks like this is doable by adding a param to extension.yml and updating the [`initializeDataset`](https://github.com/firebase/extensions/blob/b33c59383a0904911937f90975977ad44cd2b3b4/firestore-bigquery-export/firestore-bigquery-change-tracker/src/bigquery/index.ts#L195) function to call `bq.dataset` with the [`location`](https://googleapis.dev/nodejs/bigquery/latest/Dataset.html#Dataset) option.

[2020-09-28 20:12] i14h commented on #444
@jhuleatt what do you think about this? And do you think it makes sense to have it as a feature of this extension or build a separate one with scheduled functions to do the cleanup?

[2020-09-28 20:20] jhuleatt commented on #422
Thanks for the suggestion @somejeff!

This is a bit tricky because base64 encoding violates the [Firestore documents should be small](https://firebase.google.com/docs/firestore/best-practices#realtime_updates) rule. However, it looks like NodeMailer allows the `path` to be a url, so we could change the firestore document to something like this so we support a Firebase Storage path instead:

[code]

[2020-09-28 21:22] Reedyuk commented on #453
I think the first is fine, in my use case I'm only bothered about having unique email addresses in the listOn 28 Sep 2020 20:41, Jeff <notifications@github.com> wrote:
Hi @Reedyuk! To help us decide whether to implement this, what would be your preferred outcome in the case of a collision (Firebase Auth user being added to MailChimp already exists in Mailchimp):
Either:
Function doesn't do the PUT

[2020-09-28 21:47] i14h commented on #415
@Salakar what do you think if we write a script that the user can manually invoke to sync auth with mailchimp? another option is to build it as a scheduled function, but that will run for all users even if they don't need this.

[2020-09-28 21:48] i14h commented on #409
@Salakar @russellwheatley can you see if this can be reproduced? If so let's prioritize it.

[2020-09-28 21:50] i14h commented on #342
Closing this as a solution is already provided without Extensions

[2020-09-28 21:50] #342 closed

[2020-09-28 21:59] i14h commented on #305
@bhr thanks for the suggestion. We think there's potential value here, but everyone has a slightly different way of storing user data that no amount of customizability will support them. We'll keep looking for signals on this, and if a common theme emerges we'll implement it in future versions. If anyone else has thoughts or ideas on this comment under this issue.

[2020-09-28 22:03] i14h commented on #293
@fredzqm @IanWyszynski since you wrote the original version of this extension, what do you think about this feature request?

[2020-09-28 22:04] i14h commented on #292
@Salakar @russellwheatley what do you think about this feature request?

[2020-09-28 22:11] i14h commented on #54
Thanks for the feedback. We think this might be better fit as a new extension request. We'll evaluate this request as we build more extensions.

[2020-09-28 22:11] #54 closed

[2020-09-28 22:16] i14h commented on #155
@linxydmhg Thanks for the feedback! This functionality is something we're evaluating on the backend and will revisit if implemented.

[2020-09-28 22:16] #155 closed

[2020-09-28 22:18] jhuleatt commented on #426
2 concerns:

1. Even if the extension ignores parts of the bucket when it runs, it will still trigger for everything uploaded to the bucket. So, this change will reduce some cost and unnecessary resizes, but it won't totally get rid of extra cost because of the times it triggers unnecessarily.
1. We need to make sure this is backwards compatible (if the config is left blank, the whole bucket shoul

[2020-09-28 22:26] i14h commented on #408
@russellwheatley do you think this is the same as #293?

[2020-09-28 22:52] jhuleatt commented on #276
I've added this to our release process so the release owner can make these changes, and Kevin can do the final review.

[2020-09-28 22:52] #276 closed

[2020-09-29 00:39] yulioaj290 commented on #426
@wdm954 I think I can add another config option for the **Excluded Absolute Paths**, in this PR.
The thing related to the **size** restriction per path is more sophisticated, I vote to do that in a later PR.

[2020-09-29 09:50] russellwheatley commented on #408
@i14h  No, not the same. This request is to have a type that takes the value from Firestore, stringifies and inserts into BigQuery. This would be useful if you have a map where the keys are unknown before hand.

The current behaviour of a map requires you to describe the property names. Any property names not described, will be ignored by the `gen-schema-view` script and not inserted into BigQuery

[2020-09-29 10:53] russellwheatley commented on #292
@i14h, I think it might be a good idea to allow a `json` type in the schema perhaps. This would also cover this feature request: https://github.com/firebase/extensions/issues/408:

Example Schema:
[code]

`map_example` objects taken from Firestore would be stringified and put in a BigQuery column.

[2020-09-29 11:17] russellwheatley commented on #452
@jhuleatt That's correct. We'd have to pass the location [here](https://github.com/firebase/extensions/blob/next/firestore-bigquery-export/firestore-bigquery-change-tracker/src/bigquery/index.ts#L157). [Documentation](https://googleapis.dev/nodejs/bigquery/latest/BigQuery.html#dataset).

The `FirestoreBigQueryEventHistoryTracker` class is used by the BigQuery extension and import script.

[2020-09-29 11:19] russellwheatley commented on #17
@jhuleatt Yes, agreed.

[2020-09-29 11:19] #17 closed

[2020-09-29 14:00] russellwheatley commented on #409
Change the protocol to `smtp` and it will work.

Example:
`smtp://user:pass@some.host.com:587`

If you set the protocol to `smtps` it will try and connect with a secure connection, and the STARTTLS protocol will fail. If you set it to `smtp`, the connection will be unsecure, and the STARTTLS protocol will be invoked and upgrade the connection to secure.

[2020-09-29 17:36] jhuleatt commented on #317
Hi @magoarcano! Thanks for the feature request. Given the huge array of configuration options that sharp provides, and our desire to keep the parameters for this extension limited to a small set of essential config, we're not able to add this feature.

However, we have published Cloud Functions sample code [here](https://github.com/firebase/functions-samples/tree/master/image-sharp) that should be

[2020-09-29 17:36] #317 closed

[2020-09-29 18:15] kresten8 commented on #409
Thanks, this works!

[2020-09-29 20:56] TylerAHolden commented on #305
+1

[2020-09-30 06:54] mustafaekim commented on #316
Hi, if the extension cannot create a partitioned table, what is the right approach to export a collection of millions of objects into a big query  table? If I use the extension as it is today, the queries become very slow due to the full scan. Before I started to use the extension, I was thinking like I would add indexes into the bigquery table but that does not exist at all. So what is the soluti

[2020-09-30 08:21] russellwheatley opened #458 "Stop generating README.md in the "functions" directory."
Need to stop generating README.md files in the `functions` directory for extensions.

[2020-10-02 09:53] phinatic opened #459 "firestore-bigquery-export: Create Column for Each Wildcard in Exported Firestore Path"
### [READ] Step 1: Are you in the right place?

Yes

### [REQUIRED] Step 2: Extension name

This feature request is for extension: **firestore-bigquery-export**

### What feature would you like to see?

When using variable/wildcard path segments in an exported path, I would like to retain the value of those segments in their own columns. This would be helpful in both the raw and in the schema view

[2020-10-04 08:32] ryqndev opened #460 "storage-resize-images "Corrupt JPEG data" error when uploaded from some phones"
### Extension name
This feature request is for extension: `storage-resize-images`

### What feature would you like to see?
An extra level of configuration for 'deletion of original file' where the file is only deleted if the resize is successful and all new specified resizes are created.

### How would you use it?
I am using the resizing extension as a compression tool so I can save space. However

[2020-10-05 10:04] dackers86 commented on #415
Given the multiple scenarios. We could potentially introduce two new tasks...

`setupExtension` or `syncContacts` - This would be a manual task that would do as @zkhalapyan suggested, that would sync existing users. In theory this can be ran at any time - so would need to ensure no duplicates are created.

For @HyperNexus, perhaps a new trigger for updating a user could update mail-chimp. A schedu

[2020-10-05 10:16] russellwheatley commented on #409
I'm happy it worked for you, @kresten8 👌

[2020-10-05 10:16] #409 closed

[2020-10-05 13:39] dackers86 commented on #415
After further investigation. `setupExtension` or `syncContacts` will perhaps need to be a manual process that can be explained within a setup guide. This will then need to be executed manually?

The main issues here are based around...

- Timeout limitations through http requests.
- Potential memory usage based on how many users (though I doubt we would ever hit the 2gb limit)

Please see https://

[2020-10-05 21:56] jhuleatt commented on #444
Thanks for the suggestion @mvergarair!

@russellwheatley , for now, let's add docs that describe how to clean up the changelog without actually implementing a second function in the extension. That way, it's easier for those that want to clean up their changelog to do it manually, and we can re-evaluate at a later date if we want to add this to the extension itself (or possibly add another extensi

[2020-10-05 21:59] jhuleatt commented on #235
@russellwheatley can you please take a look at this and see if we need to investigate another fix, or if it can be closed?

[2020-10-05 22:43] jhuleatt commented on #459
@phinatic thanks for the request! Filtering on the wildcards is a cool idea, and I've documented how to do it below for my knowledge and others that come across this issue.

Let's double check with @i14h, since the [BigQuery docs](https://cloud.google.com/bigquery/docs/best-practices-performance-compute#avoid_repeatedly_transforming_data_via_sql_queries:~:text=Functions%20like%20regular%20expressi

[2020-10-06 08:54] russellwheatley commented on #460
Hey @ryqndev, thanks for the feature request. That doesn't seem unreasonable if the image is failing to be resized. Certainly something to consider for the Firebase Extension team. Not sure if this is a frequent occurrence for this extension.

Do you know what image type isn't being resized? Or do you have the error message from the extension's console logs that you could share, please? That would

[2020-10-06 09:30] ryqndev commented on #460
I can't seem to figure out what the pattern is with the errors since some images work and some don't but I'm uploading images to my PWA using an html file input that only accepts images on my Google Pixel 4 XL. Uploading images from my computer works perfectly fine so I don't think it's an error in the code. I'm assuming some images formatted in Google Photos are kinda wonky?? Not really sure but

[2020-10-06 13:20] russellwheatley commented on #235
@jhuleatt I installed version `0.1.5` (pre document id column feature) & inserted two documents via Firestore. I upgraded to version `0.1.7` and inserted one document. The `latest` & `changelog`  table appeared as expected; the two documents inserted using version `0.1.5` had a `null` value in the `document_id` column.

The document inserted using version `0.1.7` had a `document_id` column with it

[2020-10-06 13:20] #235 closed

[2020-10-06 13:48] russellwheatley commented on #460
@ryqndev Thanks for the quick response. I have a couple of questions.

Is it the very same image that works when uploaded via your computer, and errors when input through your mobile device?

You also mention it is stored in Google Photos. Is this where it is for mobile device and your computer before being uploaded to Firebase storage via your webpage?

Last thing perhaps, it would be nice to hav

[2020-10-06 14:04] haynzz commented on #298
@russellwheatley I did not quite get when I would run into issues with the LEFT JOIN?

When you are referring to a "record". You mean a record in the array?
I am probably misunderstanding it, but how would I specify a schema for the records in the `array`? I only saw how to do it for a `map`.

Let me phrase it in another way. Let's say I have a collection `school` with many documents `schoolclass`

[2020-10-06 14:26] dackers86 commented on #415
Initial PR script added at https://github.com/firebase/extensions/pull/464/files

[2020-10-06 14:27] russellwheatley commented on #298
@haynzz I've updated it to be a bit more clear. A record is a Firestore document inserted into BigQuery.

The BigQuery extension does not handle typed arrays, that is a [feature request](https://github.com/firebase/extensions/issues/293) already however.

Use a `LEFT-JOIN` so your rows are not hidden in the event the `students` property is an empty array. There is a PR for changing to a `LEFT-JOIN

[2020-10-06 16:36] i14h commented on #422
I think we should add this feature as attachments are a key feature for email sending, @mbleigh what do you think?

[2020-10-06 16:59] mbleigh commented on #422
Seems like a reasonable feature request, though I think I'd take it one step at a time. We currently [document](https://github.com/firebase/extensions/pull/158/files) how to send attachments for non-templated email and rather than adding new permissions to the extension (for Cloud Storage) I think we can start by just supporting the same things for templates as well.

How I would think it would wo

[2020-10-07 14:02] ryqndev commented on #460
I just realized my comment regarding my computer uploads is a little confusing. Super sorry about that!

Anyways, I did a little bit more in-depth testing and uploaded the same image that resulted in an error from phone to my computer (which still failed so I believe this is a faulty image and more info below) and I encountered a slightly different error:

`
Error when resizing image [Error: vips_

[2020-10-07 16:35] phinatic commented on #459
This is essentially what I have done in the interim until the wildcards are generally available. How do you expect this to effect cost and performance?

[2020-10-07 16:38] phinatic commented on #459
For the time being, I have created a view of the table that uses a regex to capture the wildcards into columns. Can this be more easily solved by updating the schema_view scripts rather than the extension itself?

[2020-10-08 14:15] emaggy opened #468 "Stripe Firebase Subscription Extension (multiple use in a project)"
Using the stripe firebase subscription extension, I am trying to create two different checkouts (two separate customer types) which each checkout showing three price plans. However, both checkout websites are showing the same price plans from one Stripe account. Is it possible to use the Stripe extension multiple times on a Firebase project or is there a limit of one per project (can only use 1 St

[2020-10-09 15:49] russellwheatley commented on #468
Hey @emaggy, you should be able to add more than one Stripe extension for your Firebase project. It is possible with all the other ones so it ought to be the same for this one. Here's a link for you to [install](https://firebase.google.com/products/extensions/firestore-stripe-subscriptions) it. Just click the button in the top right "Install in console" and select the Firebase project you wish.

[2020-10-09 15:51] russellwheatley commented on #460
Thanks for the excellent feedback, @ryqndev 😄 . I'll be sure to take a look into this and get back to you.

[2020-10-09 23:12] mikemey01 commented on #460
I'm getting the same error when attempting to upload an image taken directly from my google Pixel 2:

Error when resizing image [Error: vips_realpath: unable to form filename unix error: No such file or directory VipsJpeg: Corrupt JPEG data: 18 extraneous bytes before marker 0xe2 VipsJpeg: Corrupt JPEG data: 18 extraneous bytes before marker 0xe2 VipsJpeg: Corrupt JPEG data: 18 extraneous bytes be

[2020-10-12 10:04] russellwheatley commented on #460
Thanks for the feedback!  Do you mind letting me know the Android OS & also the `storage-resize-image` extension versions you're using? @mikemey01 @ryqndev

My sense is that the Android OS is altering the image that might not be compatible with the Sharp library, but would need to confirm and reproduce (🤞 ) before creating an issue with the Sharp repo.

[2020-10-12 20:48] mikemey01 commented on #460
@russellwheatley
Android version: 11
Android security update: September 5, 2020
Google Play system update: September 1, 2020
Build number: RP1A.200720.009

Firebase storage-resize-image version: 0.1.12

Let me know if there's anything else i can help with!

[2020-10-13 10:35] russellwheatley commented on #460
Thanks, @mikemey01. I've used a Pixel 2 & Pixel 4XL _emulator_ with Android OS 11. I downloaded some images, uploaded them to my storage bucket and they resized without a problem. I guess this might be a device specific issue then.

Ultimately, this appears to be a Sharp library issue. It might be worth filing an issue [here](https://github.com/lovell/sharp/issues) with the steps to reproduce this

[2020-10-19 19:26] jhuleatt commented on #422
Thanks @mbleigh, I didn't realize that we already document attachments in non-templated emails.

Sticking with our existing attachment method but adding template-able attachments sounds good to me.

[2020-10-19 19:53] jhuleatt opened #470 "Should storage-resize-images delete the original image if the resize fails?"
### [REQUIRED] Step 2: Extension name

This feature request is for extension: **`storage-resize-images`**

### What feature would you like to see?

Right now, if the `DELETE_ORIGINAL_FILE` param is set to `true`, `storage-resize-images` will delete the original image it is resizing *even if the resize operation fails*. We should consider *not* deleting the original image if the resize fails.

####

[2020-10-19 19:56] jhuleatt commented on #460
Since this issue is now focused on errors with images uploaded from specific devices, I've opened https://github.com/firebase/extensions/issues/470 to track the original request: that the original image not be deleted if the resize fails.

[2020-10-19 22:19] somejeff commented on #422
Nice @mbleigh.

I understand that interpolating the ```content``` at runtime and attaching it would probably be too heavy, since sizes could get out of hand.

Would we only support the ```path``` attribute?
Could we also support ```href``` and ```httpHeaders``` so that we can protect the files from prying eyes?
[code]

[2020-10-20 16:47] jhuleatt commented on #292
@russellwheatley that sounds like the way to go.

I think we need to think of a term for "type" that reflects that this is still a Firestore map, just a special kind. `dynamic_map`? `untyped_map`? `stringified_map`?

Anyway, we can figure that out in a PR

[2020-10-20 17:06] jhuleatt commented on #470
I propose we change the behavior of `DELETE_ORIGINAL_FILE: true` to not delete the original image if resize fails. When we release this change, we can mark it as a breaking change.

[2020-10-20 17:13] ryqndev commented on #470
My original idea was in the case that the `DELETE_ORIGINAL_FILE` param is set to true, an additional layer of configuration is allowed where you can toggle whether or not the file is deleted on failure - if this is possible at all. That way we can keep the default state while enabling this new feature.

[2020-10-20 17:24] mbleigh commented on #470
One sneaky way to try to make this backwards compatible would be to change `DELETE_ORIGINAL_FILE` into a SELECT param instead that accepts `true` (always delete), `false` (never delete), and `on_success` (when resizing was successful). This would preserve behavior for existing values but open up the ability to delete on success without introducing an additional param...

[2020-10-20 17:40] jhuleatt commented on #470
@mbleigh that's a great idea! Let's do that.

@ryqndev thanks for the original proposal!

[2020-10-21 20:15] #331 closed

[2020-10-21 20:15] #458 closed

[2020-10-21 20:36] #298 closed

[2020-10-22 00:08] blueyetisoftware-jason opened #473 "storage-resize-images: Resize images by covering the desired dimensions rather than fitting them"
### storage-resize-images

This feature request is for extension: **\storage-resize-images**

### What feature would you like to see?

I would like to be able to specify a strategy to resize the images that will indicate whether the image should cover the target dimensions or fit them. These are analogous to the object-fit property in CSS.

### How would you use it?

I would use it to create image

[2020-10-22 00:13] blueyetisoftware-jason opened #474 "storage-resize-images: Resize images by specifying only a width"
### storage-resize-images

This feature request is for extension: **\storage-resize-images**

### What feature would you like to see?

Indicate only a width for the image rather than also specifying the height. This is helpful for mobile and other scrollable formats.

### How would you use it?

I would indicate breakpoints for the images based on width and generate a series of images that would be

[2020-10-22 19:59] augustkimo opened #476 "storage-resize-images: Resize Images Extension incorrectly names files containing ".""
### [REQUIRED] Step 2: Describe your configuration

- Extension name: (`storage-resize-images`)
- Extension version: 0.1.12

### [REQUIRED] Step 3: Describe the problem
The resize image extension is incorrectly naming files which are named from a timestamp. The "." in the file name is likely the issue.

Normally files from the extension are automatically named the same with the width/height follow

[2020-10-22 23:39] phinatic commented on #459
@jhuleatt Any thoughts on just using the regex syntax in the schema views script rather than changing the extension? The script could have us name the wildcard fields and generate the lines above. I can obviously add them by hand, but it would be valuable to standardize and make generally available.

[2020-10-23 09:28] russellwheatley commented on #473
Hey @phinatic, thanks for the request! I don't have a problem with this request, it is easy enough to implement changes in how images ought to [fit](https://sharp.pixelplumbing.com/api-resize#resize) given dimensions &updating this hardcoded [input](https://github.com/firebase/extensions/blob/next/storage-resize-images/functions/src/index.ts#L178). My slight pause for concern is another input for

[2020-10-23 10:53] russellwheatley commented on #474
Hey @phinatic, if you want your images to be a certain width, you can already do that. The following rules need to be kept in mind (as the extension is currently implemented):
 - The resize is optimised to ensure that neither dimension is ever increased.
 - The aspect ratio is always preserved.

To ensure your image is resized to the width you desire, it is important that the image already exceeds

[2020-10-23 12:40] russellwheatley commented on #476
Hey @augustkimo, I'm struggling to recreate the problem you're encountering. Here's a screenshot using `storage-resize-images` version `0.1.12` which have the correct file names:
![Screenshot 2020-10-23 at 13 33 45](https://user-images.githubusercontent.com/16018629/97004098-69a78100-1534-11eb-956e-a870150bd4a5.png)

I've also extracted the implementation for creating a filename from the extension

[2020-10-23 13:25] augustkimo commented on #476
Hi @russellwheatley, thanks for looking into this. Not a major bug as client side file name can easily be changed but thought I'd still report it.

I am using Node v12.16.3

I think there are two difference between our uploads:
1. In storage my file names don't show the extension by default. I don't remember/know if this is a optional setting, but I don't remember setting this. (For you file name

[2020-10-23 18:55] mikemey01 commented on #460
Is there anyway we could toggle the failOnError param in the extension config as indicated in the Sharp issue tracker?

https://github.com/lovell/sharp/issues/2416#issuecomment-714329725

`sharp(input, { failOnError: false })...
`

[2020-10-26 11:41] dackers86 commented on #422
@somejeff

These would be able to supported, please see https://nodemailer.com/message/attachments/ for further details

[2020-10-26 11:53] felansu commented on #12
@JonesM87 i too, thanks for comment 👍

[2020-10-26 17:53] russellwheatley commented on #468
If you do need any further assistance, let me know 👍

[2020-10-26 17:53] #468 closed

[2020-10-26 18:16] jtestard opened #478 "auth-mailchimp-sync - does not create a contact in mailchimp if user account creation happens after anonymous login"
### [READ] Step 1: Are you in the right place?

This bug is in regard to a specific extension.

### [REQUIRED] Step 2: Describe your configuration

- Extension name: `auth-mailchimp-sync`
- Extension version: Version 0.1.0

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Have a user reach a website which uses anonymous login and then sign up

##### Expected result

User shou

[2020-10-26 18:17] jtestard commented on #478
It seems to be because the anonymous sign in is considered the "account creation" as far as the firebase trigger is concerned. But the behavior is obviously the wrong one for this extension.

[2020-10-27 01:11] phinatic commented on #474
Yep. That is what I did on my end, configuring it with these sizes:
[code]
It works as I intended other than require the additional 4096 in the filenames. Just thought it may clean up the extension to allow this instead. Something similar could be supported for `h`.
[code]
This is being used for responsive images using img srcsets in html

[2020-10-27 13:45] russellwheatley commented on #474
Ok, thanks for the feedback. I'm sure the FE team will consider your feature request 😄 . It is possible to pass in just one dimension to sharp: https://sharp.pixelplumbing.com/api-resize#parameters

[2020-10-27 14:00] russellwheatley commented on #478
Thanks for the report! This is an interesting problem, I'm not quite sure how to get around it to be honest. An anonymous user by definition doesn't have an email address, and we return out of the [function](https://github.com/firebase/extensions/blob/next/auth-mailchimp-sync/functions/src/index.ts#L44) without an email address. There are only two triggers for Firebase Auth cloud functions; `onCre

[2020-10-29 21:03] jhuleatt commented on #459
@phinatic thank you for the additional feedback. We're not going to take this on at this time, but if we get more requests for this functionality in the future, we will definitely consider it.

[2020-10-29 21:03] #459 closed

[2020-10-31 00:02] arpwal opened #480 "A marketplace for open source firebase extensions"
### Firebase Extensions Marketplace

There are a lot of features that could be quickly developed and iterated upon if developers could contribute and make (or sell) to other developers.

### How would you use it?

A UI similar to what firebase extensions currently provide, which could be written as `protos` or as a config file.

[2020-11-01 16:14] LaravDev opened #481 "Delayed emails in the process queue - Trigger Email Extension"
### Trigger Email Extension

This feature request is for extension: **\_** ( `firestore-send-email`)

### What feature would you like to see?

It would be awesome if we could specify the time at which the email should be sent, for example:

[code]

That way we can delay email to users at the right time... i don't think this sould be too hard to implement since you could for example create a date t

[2020-11-02 10:55] russellwheatley commented on #481
Hey @LaravDev, this is an interesting idea. We could create a scheduled function to check for records that have a specific time to be sent & if they have already been sent. However, there might be backwards compatibility problems, it would also require creating another resource which I'm not sure is desirable. Either way, the Firebase Extension's team will take a look, and get back to you. Thanks

[2020-11-02 15:07] LaravDev commented on #481
You could add the feature as optional in the extension's settings... and beware the users about the extra payload.

Thanks for taking this in consideration... one of the drawbacks of using the extension vs creating the function from the scratch is that we can't delay emails.

Sendgrid has options to achieve this... Also to use dynamic templates, but not possible with the Firebase extension...

May

[2020-11-02 22:36] jhuleatt commented on #478
Thanks @jtestard for the request! As @russellwheatley pointed out, this isn't something supported by the background triggers that this extension uses. This feature would probably have to be some kind of bulk process, which we're tracking in #415, so I'm going to close this request and suggest that we instead use #415.

[2020-11-02 22:36] #478 closed

[2020-11-03 18:48] dotmanish opened #484 "Firestore BigQuery Export: The backfill script doesn't support wildcards"
- Extension name: **\_** firestore-bigquery-export
- Extension version: **\_** latest

#### Steps to reproduce:

1. Setup Firestore BigQuery Export extension with a wildcard collections path. e.g. `objects/{object}/list`
2. Attempt to backfill existing collections data to BigQuery via https://github.com/firebase/extensions/blob/master/firestore-bigquery-export/guides/IMPORT_EXISTING_DOCUMENTS.md

[2020-11-03 19:06] devkongfa commented on #154
Same issue with gmail. Also I noticed this seems to happen around midnight to 1am.

[2020-11-05 10:10] russellwheatley commented on #484
Hey @dotmanish, thanks for filing the issue. We are [aware](https://github.com/firebase/extensions/issues/370#issuecomment-652338351) of this short coming, but there isn't much we can do about it I'm afraid. Wildcards are allowed in cloud function Firestore triggers, but they aren't possible in Firestore queries.

[2020-11-05 10:10] #484 closed

[2020-11-05 15:04] #444 closed

[2020-11-05 15:08] #441 closed

[2020-11-05 15:25] devth commented on #295
It looks like arrays are still wrapped in double quotes:
![image](https://user-images.githubusercontent.com/86107/98260281-618e0f00-1f40-11eb-9f42-a74262840e5e.png)

[2020-11-05 19:09] jhuleatt opened #487 "Support non-default database in extensions that use Realtime Database"
### [REQUIRED] Step 2: Extension name

This feature request is for **`delete-user-data`** and **`rtdb-limit-child-nodes`**

### What feature would you like to see?

Just as `storage-resize-images` allows you to configure a bucket, our extensions that use Realtime Database should support [multiple Realtime Database instances](https://firebase.google.com/docs/database/usage/sharding#create_multiple_

[2020-11-06 04:55] bgwissam commented on #40
any update on this issue? have the extension been created?

[2020-11-06 14:42] devth commented on #292
Would love to see support for this. Until then we can't use any of `fs-bq-schema-views` because it doesn't propagate the raw JSON `data` for use with BigQuery's `JSON_EXTRACT` capabilities.

[2020-11-06 15:37] julian0521 commented on #332
Hi. try this

  npx @firebaseextensions/fs-bq-schema-views \
  --non-interactive \
  --project project-test \
  --dataset dataset-test \
  --table-name-prefix tables-test \
  --schema-files=file.json

And replace these variables with those of your project (project-test  , dataset-test , tables-test)

[2020-11-09 08:49] russellwheatley commented on #40
Hey @bgwissam, this issue was closed because we updated the documentation for attaching file. Here's the [PR](https://github.com/firebase/extensions/pull/158/files) if you want to take a look.

[2020-11-09 22:25] jhuleatt commented on #476
Hey @russellwheatley, just to make sure I understand, is this marked as blocked because it is waiting on #479?

[2020-11-09 23:10] jhuleatt commented on #187
Hi @IanWyszynski, is this a fix that you'd like to take on, or should we assign it to another maintainer to take a look?

[2020-11-10 00:33] IanWyszynski commented on #187
Hey, I'll take this and try to have a PR up this week.

[2020-11-10 09:09] russellwheatley commented on #476
@jhuleatt yes, I thought it was worth waiting until that PR and its increased test coverage was merged first. I'm not sure if that's the appropriate way to use the "blocked" column 😅

[2020-11-10 17:50] jhuleatt opened #489 "Add `npm run clean` script to the repository root"
The script would call [`lerna clean`](https://github.com/lerna/lerna/tree/main/commands/clean)

[2020-11-10 17:50] jhuleatt opened #490 "Switch from Travis to GitHub Actions for CI"

[2020-11-10 17:50] jhuleatt opened #491 "Remove Node 8 tests from CI since all extensions are Node 10"

[2020-11-11 05:57] sam-jg commented on #411
@Ehesp and @zkhalapyan could we just split the display name on spaces, then use the first element as `FNAME` and the rest as `LNAME`. Seems like it would work in most cases and IMO is way better than having no name at all.

[2020-11-11 15:04] YazeedAlKhalaf opened #493 "Watermark on image upload"
This feature request is for extension: **\_** (`storage-resize-images`)

### What feature would you like to see?

I think if a watermark addition on the image as an option would be great,
For example:
* Image gets uploaded to the bucket from some service using it.
* The image then is watermarked if the developer requested so in the extension setup, of course, optional you could just turn it off.
*

[2020-11-11 15:27] MalteMagnussen opened #494 "Add file attachment to "Send Email" feature."
### [REQUIRED] Step 2: Extension name

This feature request is for extension: **\_** (`firestore-send-email`)

### What feature would you like to see?

I would like to be able to attach a file to the sent email.

### How would you use it?

I would like to upload a PDF to the database from my Flutter app, and then send that PDF automatically in an email as an attached file to the customer.
The idea

[2020-11-11 15:41] russellwheatley commented on #494
Hi @MalteMagnussen, it is possible already, but you do need another step. The pdf needs to be hosted somewhere (e.g. Firebase Storage). Grab the public URL for it, and put in a Firestore document.

If you were using the `firestore-send-email` extension, you would put that URL in the `attachments` option as stated in the message [documentation](https://github.com/firebase/extensions/blob/next/fires

[2020-11-11 15:45] russellwheatley commented on #493
Hi @YazeedAlKhalaf, thanks for the suggestion. This request seems a little outside the scope of this extension. The FE team will get back to you with a response in due course.

[2020-11-12 14:26] MalteMagnussen commented on #494
Thank you @russellwheatley !

[2020-11-12 14:26] #494 closed

[2020-11-12 17:01] zkhalapyan commented on #411
@sam-jg would work for some simple names and for small startups, but vast majority of international names would start breaking which would probably not be acceptable for medium to large size companies.

[2020-11-12 23:36] sam-jg commented on #411
@zkhalapyan I would guess that the currently implementation is already not acceptable for medium to large size companies.
 Do you have some examples of international names that would cause issues, I don't have a lot of experience in that area sorry.